<% include ../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs%>
        <div class="page">
            <div class="container page-content">
                <div class="row space-top">
                    <!-- Sidebar-->
                    <% var active = "accounts"; %>
                    <% include ../_nav_customer_left.ejs%>
                    <!-- Sidebar CLose-->
                    <section class="col-md-10 pull-right  space-bottom page-content-right">
                        <aside class="page-content-right-head">
                            <label>账户信息</label>
                        </aside>
                        <table class="table " style="text-align: start;">
                            <% if(data.user && data.action == "edit"){%>
                            <tbody>
                            <tr>
                                <td><h5 style="font-size: 15px">登录账号 :</h5></td>
                                <td><input type="text" class="input-sm" id="username" style="height: 30px ;width: 700px" value="<%= data.user.username%>"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px;">姓名:</td>
                                <td><input value="<%= data.user.operatorName%>" type="text" class="input-sm" id="operatorName" style="height: 30px;width: 700px"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px;">联系电话:</td>
                                <td><input value="<%= data.user.mobileNum%>" type="text" class="input-sm" id="mobileNum" style="height: 30px;width: 700px"></td>
                            </tr>
                            <tr>
                                <td><h5 style="font-size: 15px;">部门:</h5></td>
                                <td><input  value="<%= data.user.department%>"type="text" class="input-sm" id="department" style="height: 30px;width: 700px"></td>
                            </tr>
                            </tbody>
                            <% } %>
                            <% if(data.user && data.action == "detail"){%>
                            <tbody>
                            <tr>
                                <td><h5 style="font-size: 15px">登录账号 :</h5></td>
                                <td><input type="text" class="input-sm" id="username" disabled style="height: 30px ;width: 700px" value="<%= data.user.username%>"></td>
                            </tr>
                            <tr>
                                <td><h5 style="font-size: 15px;">登录密码:</h5></td>
                                <td><input  value="<%= data.user.password%>"type="text"disabled class="input-sm" id="password" style="height: 30px;width: 700px" oninput="changTheLoginName(this)" onpropertychange="changTheLoginName(this)"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px;">姓名:</td>
                                <td><input value="<%= data.user.operatorName%>" type="text"disabled class="input-sm" id="operatorName" style="height: 30px;width: 700px"></td>
                            </tr>
                            <tr>
                                <td><h5 style="font-size: 15px;">部门:</h5></td>
                                <td><input  value="<%= data.user.department%>"type="text"disabled class="input-sm" id="department" style="height: 30px;width: 700px"></td>
                            </tr>
                            </tbody>
                            <% } %>
                        </table>
                    </section>

                    <% if(data.user && data.action == "edit"){%>
                        <section class="col-md-10 space-top pull-right">
                            <div class="pull-left">
                                <a class="btn btn-primary updateAccount" operatorId="<%= data.user.operatorId%>" target="details">修改</a>
                                <a class="btn btn-primary updateAccount" href="/customer/account" target="details">返回</a>
                            </div>
                        </section>
                    <% } %>
                    <!-- 以下代码用来做页数跳转，-->
                    <!-- page　表示用户当前所在的页码．-->
                    <!-- pageSize　表示用户现在每页所显示的信息条数-->
                </div>

            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>