<% include ../../header.ejs%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
            <!--Header Toolbar-->

            <!--Header Toolbar Close-->

            <!--Header-->
            <% include ../_nav_head.ejs%>
            <div class="page double-padding-bottom">
                <div style="position: fixed;z-index: 1006;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                </div>
                <iframe src="/customer/system/inventory/add" scrolling="auto" style="width: 750px;height: 470px;background-color: transparent;position: fixed;z-index: 99999;display: none" allowTransparency="true" id="selectGoods">
                </iframe>
                <iframe src="/customer/system/inventory/editSubCate" scrolling="auto" style="width: 750px;height: 470px;background-color: transparent;position: fixed;z-index: 99999;display: none" allowTransparency="true" id="editSubCategory">
                </iframe>

                <div class="container page-content">
                    <div class="row space-top" >
                        <!-- Sidebar-->
                        <% var active = "product_setting"; %>
                        <% include ../_nav_customer_left.ejs%>
                        <!-- Sidebar CLose-->
                        <section class="col-md-10 pull-right space-bottom">
                            <div class="filterDivTab">
                                <div class="tabList">
                                    <a href="/customer/system/product">商品类别</a>
                                    <a href="/customer/system/inventory" class="itemActive">库存方案</a>
                                    <a href="/customer/system/customer">客户类</a>
                                    <a href="/customer/system/domainSetting">客户区域</a>
                                    <a href="/customer/system/packUnit">包装单位</a>
                                    <a href="/customer/system/erpSetting">ERP</a>
                                    <a href="/customer/system/productJX">剂型</a>
                                    <a href="/customer/system/productGSP">GMP/GSP类别</a>
                                    <a href="/customer/system/paymentType">收款方式</a>
                                    <a href="/customer/system/smsGetway">短信网关</a>
                                    <a href="/customer/system/others">其他</a>
                                </div>
                            </div>
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td>库存显示方案</td>
                                    <td>
                                        <a class="displaySelect btn btn-primary btn-sm">新增方案&nbsp;&nbsp;
                                            <i class="fa fa-plus-circle"></i>
                                        </a>
                                    </td>
                                </tr>
                                </thead>
                                <% for(var i in plans) {%>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= plans[i].name %>
                                        </td>
                                        <td>
                                            <% if(plans[i].isDefault=='1'){ %>
                                            <a class="tooltipped setPlanDefault"  planId="<%=plans[i].id%>" status="0" data-toggle="tooltip" data-placement="left" title="已设为默认"><i class="fa fa-circle"  style="margin-right: 20px"></i></a></span>
                                            <% }else{ %>
                                            <a class="tooltipped setPlanDefault" planId="<%=plans[i].id%>"  status="1" data-toggle="tooltip" data-placement="left" title="设为默认" ><i class="fa fa-circle-o"  style="margin-right: 20px"></i></a>
                                            <% }%>
                                            <% if(plans[i].isSystem == '0') { %>
                                            <a class="editSub editPLan tooltipped" planId="<%=plans[i].id%>" data-toggle="tooltip" data-placement="top" title="修改" style="margin-right: 20px"><i class="fa fa-pencil-square-o"></i></a>
                                            <a class="removePlan tooltipped" planId="<%=plans[i].id%>" data-toggle="tooltip" data-placement="top"  title="删除" style="margin-right: 20px"><i class="fa fa-trash"></i></a>
                                            <% }else{ %>
                                            <a href="javascript:void(0)"  data-issystem="true" class="editSub editPLan"  planId="<%=plans[i].id%>" title="修改"> <i class="fa fa-pencil-square-o"></i></a>
                                            <%}%>
                                        </td>
                                    </tr>
                                </tbody>
                                <% }%>
                            </table>
                        </section>
                    </div>
                    <section class="specialty-page">
                    </section>
                </div>
            </div>
        </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>