<% include ../../header.ejs %>
<%
var goodsType = data._goodsTypes.children;
%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs %>
        <div class="page double-padding-bottom">
            <div class="container page-content">
                <div class="row space-top">
                    <% var active = "product_setting"; %>
                    <% include ../_nav_customer_left.ejs %>
                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/system/product">商品类别</a>
                                <a href="/customer/system/inventory">库存方案</a>
                                <a href="/customer/system/customer">客户类</a>
                                <a href="/customer/system/domainSetting">客户区域</a>
                                <a href="/customer/system/packUnit">包装单位</a>
                                <a href="/customer/system/erpSetting">ERP</a>
                                <a href="/customer/system/productJX">剂型</a>
                                <a href="/customer/system/productGSP">GMP/GSP类别</a>
                                <a href="/customer/system/paymentType" class="itemActive">收款方式</a>
                                <a href="/customer/system/smsGetway">短信网关</a>
                                <a href="/customer/system/others">其他</a>
                            </div>
                        </div>
                        <table class="sm-page-table">
                            <thead>
                            <tr>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var index = 0; index < data.paymentlist.length; index++){ %>
                            <% var item = data.paymentlist[index]; %>
                            <% var configValue = JSON.parse(item.configValue) %>
                            <tr>
                                <td class="text-left" style="padding: 10px;">
                                    <% var paymentTypeClass = 'payment-type-container-green' %>
                                    <% if(item.isForbidden === 0){ %>
                                    <% paymentTypeClass = 'payment-type-container-gray' %>
                                    <% } %>
                                    <div class='<%= "payment-type-container " + paymentTypeClass %>'>
                                        <div class="payment-type-left">
                                            <div class="payment-img-container">
                                                <img src="<%= item.imgUrl %>" alt=""/>
                                            </div>
                                            <div class="radioContainer">
                                                <label class="radio check-hover setPaymentRadio">
                                                    <% if(item.isForbidden === 1){ %>
                                                    <input type="radio"
                                                           name="<%= item.paymentId %>"
                                                           value="1"
                                                           checked
                                                           paymentId="<%= item.paymentId %>">启用
                                                    <% } else if(item.isForbidden === 0){ %>
                                                    <input type="radio"
                                                           name="<%= item.paymentId %>"
                                                           value="1"
                                                           paymentId="<%= item.paymentId %>">启用
                                                    <% } %>
                                                </label>
                                                <label class="radio check-hover setPaymentRadio">
                                                    <% if(item.isForbidden === 1){ %>
                                                    <input type="radio"
                                                           name="<%= item.paymentId %>"
                                                           value="0"
                                                           paymentId="<%= item.paymentId %>">禁用
                                                    <% } else if(item.isForbidden === 0){ %>
                                                    <input type="radio"
                                                           name="<%= item.paymentId %>"
                                                           value="0"
                                                           checked
                                                           paymentId="<%= item.paymentId %>">禁用
                                                    <% } %>
                                                </label>
                                            </div>
                                        </div>
                                        <% if(configValue.payType === 'CRT'){ %>
                                        <div class="tipsToUser"><span>在规定时间内给予客户一定金额的信用额度，客户在信用额度内不用付款就可以进货，但是在规定时间内必须回款的交易方式</span>
                                        </div>
                                        <% } else if(configValue.payType === 'COD'){ %>
                                        <div class="tipsToUser"><span>客户在下单的时候不用付款，在收货时候由配送员代收货款的交易方式</span></div>
                                        <% } else { %>
                                        <div class="paymentType-setting">
                                            <div class="paymentType-setting-config-value">
                                                <% var keys = Object.keys(configValue); %>
                                                <% for(var index = 0; index < keys.length; index++){ %>
                                                <div class="setting">
                                                    <span><%= keys[index] %></span>
                                                    <input type="text"
                                                           name="<%= keys[index] %>"
                                                           oninput="inputPaymentTypeCheck(this)"
                                                           value="<%= configValue[keys[index]] %>"/>
                                                </div>
                                                <% } %>
                                                <div>
                                                    <% if(!configValue[keys[0]]){ %>
                                                    <button class="btn btn-primary"
                                                            paymentid="<%= item.paymentId %>"
                                                            id="paymentTypeParaSave" disabled>保存
                                                    </button>
                                                    <% } else { %>
                                                    <button class="btn btn-primary"
                                                            id="paymentTypeParaSave"
                                                            paymentid="<%= item.paymentId %>">保存
                                                    </button>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="paymentType-setting-config-description">
                                                <div><span>申请开通<%= item.name %>后，将相应参数填入左侧输入框内</span></div>
                                                <div><a href="<%= item.applyUrl %>" target="_blank">点这里申请开通<%= item.name %></a>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs %>
</div>
<% include ../../footer.ejs %>
<script src="/static/source/js/customer/setPaymentType.js"></script>