<% include ../../header.ejs%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->
        <!--Header-->
        <% include ../_nav_head.ejs%>
        <div class="page double-padding-bottom">
            <div class="container page-content">
                <div class="row space-top">
                    <% var active = "product_setting"; %>
                    <% include ../_nav_customer_left.ejs%>

                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/system/product">商品类别</a>
                                <a href="/customer/system/inventory">库存方案</a>
                                <a href="/customer/system/customer">客户类</a>
                                <a href="/customer/system/domainSetting">客户区域</a>
                                <a href="/customer/system/packUnit">包装单位</a>
                                <a href="/customer/system/erpSetting">ERP</a>
                                <a href="/customer/system/productJX">剂型</a>
                                <a href="/customer/system/productGSP">GMP/GSP类别</a>
                                <a href="/customer/system/paymentType">收款方式</a>
                                <a href="/customer/system/smsGetway"  class="itemActive">短信网关</a>
                                <a href="/customer/system/others">其他</a>
                            </div>
                        </div>
                        <table class="sm-page-table">
                            <thead>
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                            </thead>
                            <tbody style="border-bottom: 1px solid #e6e6e6">
                            <tr>
                                <% var smsList = data.smsList || [] %>
                                <% for(var i=0; i<smsList.length; i++){ %>
                                <td>
                                <section class="page-content-right">
                                    <ul class="smsUl">
                                        <li>
                                            <img src="<%= smsList[i].imgUrl %>" alt="">
                                            <div class="smsSetArea">
                                                <div class="checkbox" data-id="<%= smsList[i].id %>">
                                                    <label class="icheckboxLabel"><input type="checkbox" data-checked="<%= smsList[i].isMain %>" class="smsDefault" name="smsDefault" value=""></label>设为首选
                                                    <label class="icheckboxLabel"><input type="checkbox" data-checked="<%= smsList[i].isStandby %>" class="smsPrepare" name="smsPrepare" value=""></label>设为备用
                                                </div>
                                            </div>
                                            <div class="smsBtnArea">
                                                <button class="btn btn-primary setSmsParam" data-id="<%= smsList[i].id %>">设置参数</button>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                                </td>
                                <% } %>
                            </tr>
                            </tbody>
                        </table>
                        <div class="smsSetPanel">
                            <div class="smsSetPanelTitle">
                                短信包配置参数
                            </div>
                            <div class="smsSetPanelContent">

                            </div>
                            <div class="smsSetPanelFunc">
                                <button class="btn btn-primary setSmsSave">保存</button>
                                <button class="btn btn-default setSmsCancel">取消</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>
<script src="/static/source/js/customer/setSmsGetway.js"></script>
