<% include ../../header.ejs%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs%>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page double-padding-bottom">

            <div class="container page-content">
                <div class="row space-top">
                    <div style="position: fixed;z-index: 1022;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                    </div>
                    <div id="selectGoods"style="display:none;width:700px;height:900px">
                        <div style="font-size: 14px;padding: 4px;">
                            <div class="page-content space-top">
                                <section class="page-content-right">
                                    <aside class="page-content-right-head">
                                        <label>查看收货</label>
                                    </aside>
                                    <div class="form" style="padding:30px">
                                        <div class="row" style="margin-top:10px">
                                            <span class="col-sm-3">批次号:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <input class="col-sm-9 inputBatchNum"  disabled />
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">生产日期:</span>
                                            <input class="col-sm-9 cDatePicker  inputGoodsProduceDate" type="text" id="productDate" disabled/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                有效期至:
                                            </span>
                                            <input class="col-sm-9 cDatePicker  inputGoodsValidDate" type="text" disabled id="quanlityDate"/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                数量:
                                            </span>
                                            <input class="col-sm-9 inputQuantity" type="text"  value="1" style="width:145px;" disabled>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <label style="vertical-align: top;">电子监管码：</label>
                                            </div>
                                            <textarea style="height:150px;resize:none" class="inputDrugESC col-sm-9" disabled></textarea>
                                        </div>

                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <label style="vertical-align: top;">质检报告(附件):</label>
                                            </div>
                                            <div class="col-sm-9" style="padding: 0">
                                                <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                                    <div class="fileContainer">
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </form>
                                                <span style="display: none">暂无质检报告信息</span>
                                            </div>
                                        </div>
                                        <div class=" pull-right">
                                            <a class="btn btn-primary closeIframeGuide">关闭</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                    <!--Sidebar-->
                    <% var active = "return_customer"; %>
                    <% include ../_nav_customer_left.ejs%>
                    <!--Sidebar Close-->
                    <% var returnCommon = data.returnInfo[0]%>
                    <section class="col-md-10 space-bottom">
                        <div class="filterDiv">
                            <div class="filterHead">
                                <div>退货单号：<a href="/customer/return/detail?returnId=<%=returnCommon.id%>"><%=returnCommon.displayReturnId %></a> - <%=data._translation.ReturnStatus[returnCommon.returnStatus]%>
                                </div>
                            </div>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="goods-info"><strong>商品信息</strong></td>
                                    <td><strong>货号</strong></td>
                                    <td><strong>发货数量</strong></td>
                                    <!--<td><strong>已退数量</strong></td>-->
                                    <td><strong>申退数量</strong></td>
                                    <td><strong>可退数量</strong></td>
                                    <td><strong>实退数量</strong></td>
                                    <td><strong>入库数量</strong></td>
                                    <td><strong>［批次］/数量</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <% var oldGoodsId = "";%>
                                <% for (var i in data.returnInfo){%>
                                <% var item = data.returnInfo[i];%>
                                <% if(oldGoodsId != item.goodsId) {%>
                                <% oldGoodsId = item.goodsId%>
                                <tr class="returnItem" id="returnItem_<%=i%>" goodsId= '<%= item.goodsId %>'>
                                    <td class="goods-info">
                                        <div class="goods-img">
                                            <img src="<%= item.imageUrl%>"/>
                                        </div>
                                        <div class="goods-name-info">
                                            <h6><a href="/goods/detail?goodsId=<%=item.goodsId%>"><%=item.commonName%>
                                                    <%if(item.alias){%>
                                                    (<%=item.alias%>)
                                                    <%}%>
                                                </a></h6>
                                            <h6><%=item.producer%></h6>
                                            <h6><%=item.spec%></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <%=item.goodsNo%>
                                    </td>
                                    <td><%= item.shippedQuantitySum%></td>
                                    <!--<td><%= item.totalReturnedQty%></td>-->
                                    <td><%= item.applyQuantity%></td>
                                    <td><%= item.approvedQuantity%></td>
                                    <td><%= item.returnShippedQuantity%></td>
                                    <td><%= item.receiveShippedQuantity%></td>
                                    <td>
                                        <% for (var j in data.returnInfo){%>
                                        <% if(data.returnInfo[j].goodsId == item.goodsId){ %>
                                        <% var batchItem = data.returnInfo[j]%>
                                        <div class="ship-operator" name="batch_<%= item.goodsId%>_<%=batchItem.batchNum%>">
                                            <div>
                                                [<span><%=batchItem.batchNum%></span>]/
                                                <span name="quantity"><%=batchItem.returnDeliveredQuantity%></span>
                                                <span><%=batchItem.measureUnit%></span>
                                            </div>
                                            <div>
                                                <a class="tooltipped" id="clientDisplayReturnInfo_<%= item.goodsId%>_<%= batchItem.batchNum%>" title="修改" data-toggle="tooltip" data-placement="left"
                                                   batchNum="<%=batchItem.batchNum%>"
                                                   batchQty="<%=batchItem.returnDeliveredQuantity%>"
                                                   produceDate="<%=batchItem.goodsProduceDate%>"
                                                   validDate="<%=batchItem.goodsValidDate%>"
                                                   drugESC="<%=batchItem.drugESC%>"
                                                   inspectReportURL="<%=batchItem.inspectReportURL%>">
                                                    <i class="fa fa-binoculars"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                    </td>
                                </tr>
                                <% } %>
                                <% } %>
                               <!-- <tr>
                                    <td colspan="4" class="goods-info">
                                        收货备注:<%= returnCommon.returnShipRemark?returnCommon.returnShipRemark:"无"%>
                                    </td>
                                </tr>-->
                                </tbody>
                            </table>
                        </div>

                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="goods-info"><strong>退货信息</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="goods-info">［申请备注］<%=returnCommon.remark?returnCommon.remark:"无"%></td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［审核备注］<%=returnCommon.replyRemark?returnCommon.replyRemark:"无"%></td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［发货备注］<%=returnCommon.returnShipRemark?returnCommon.returnShipRemark:"无"%></td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［物流信息］ <%= returnCommon.logisticsNo%>  </td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［收货备注］
                                        <%= returnCommon.returnShipRemark?returnCommon.returnShipRemark:"无"%>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="filterDiv space-top">
                            <div class="filterHead">
                                <div>退货日志</div>
                            </div>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td><strong>处理时间</strong></td>
                                    <td><strong>处理事件</strong></td>
                                    <td><strong>操作人</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <% for (var i in data.returnHistory){%>
                                <% var history = data.returnHistory[i]%>
                                <tr>
                                    <td>
                                        <%= history.date %>
                                    </td>
                                    <td>
                                        <%= history.action%>
                                    <td>
                                        <%= history.operator%>
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../../_nav_bottom.ejs%>
</div>

<% include ../../footer.ejs %>
<script  type="text/javascript" src="/static/source/js/customer/return.js"></script>