<% include ../../header.ejs%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
            <!--Header-->
            <% include ../_nav_head.ejs%>
            <!--Header Close-->

            <!--Page Content--><!-- InstanceBeginEditable name="content" -->
            <div class="page double-padding-bottom">
                <div class="container page-content">
                    <div class="row space-top">
                        <div style="position: fixed;z-index: 1006;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                        </div>
                        <div style="font-size: 14px;padding: 4px;display:none;width:700px;height:900px" id="selectGoods">
                            <div class="page-content space-top">
                                <!--<section class="page-content-right">
                                    <aside class="page-content-right-head">
                                        <label>查看收货</label>
                                    </aside>
                                    <div class="form" style="padding:30px">
                                        <div class="row" style="margin-top:10px">
                                            <span class="col-sm-3">批次号:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <input class="col-sm-9 inputBatchNum" type="text"  disabled/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">生产日期:</span>
                                            <input class="col-sm-9 inputGoodsProduceDate" type="text" id="productDate" disabled/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                                <span class="col-sm-3">
                                                    有效期至:
                                                </span>
                                            <input class="col-sm-9 inputGoodsValidDate" type="text"  id="quanlityDate" disabled/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                                <span class="col-sm-3 ">
                                                    数量:
                                                </span>
                                            <input class="col-sm-9 inputQuantity" type="text" disabled/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: top;">电子监管码：</span>
                                            </div>
                                            <textarea style="height:150px;resize:none" class="inputDrugESC col-sm-9" disabled></textarea>
                                        </div>

                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: top;">质检报告(附件):</span>
                                            </div>
                                            <div class="col-sm-9" style="padding: 0">
                                                <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                                    <div class="fileContainer">
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </form>
                                                <span style="display: none">暂无质检报告信息</span>
                                            </div>
                                        </div>
                                        <div class=" pull-right">
                                            <a class="btn btn-primary closeIframeGuide">确定</a>
                                        </div>
                                    </div>
                                </section>-->
                                <section class="page-content-right">
                                    <aside class="page-content-right-head">
                                        <label>添加收货</label>
                                    </aside>
                                    <div class="form" style="padding:30px">
                                        <div class="row" style="margin-top:10px">
                                            <span class="col-sm-3">批次号:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <input class="col-sm-9 inputBatchNum" type="text" disabled />
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">生产日期:</span>
                                            <input class="col-sm-9 inputGoodsProduceDate" type="text" id="productDate" disabled/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                有效期至:
                                            </span>
                                            <input class="col-sm-9  inputGoodsValidDate" type="text" disabled id="quanlityDate"/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: middle;" >数量：</span>
                                            </div>
                                            <div class="col-sm-5" style="display: inline;">
                                                <div style="display:inline-block">
                                                    <!--<div>
                                                        <a class="incr-btn fa fa-minus-circle inactive subA" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                                        <p class="quantity" style="display: inline-flex;width: 130px;margin: 0;line-height: 0px;">
                                                            [<label id="lgNum"></label><label id="lgUnit"></label>/大包]
                                                        </p>
                                                        <a class="incr-btn fa fa-plus-circle incA" data-action="increase" id="skuplus_lgnum_0" href="#"></a>

                                                    </div>-->
                                                    <div>
                                                        <a class="incr-btn fa fa-minus-circle inactive subA" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                                        <p class="quantity" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                            [<label id="midNum"></label><label id="midUnit"></label>/件]
                                                        </p>
                                                        <a class="incr-btn fa fa-plus-circle incA" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" style="display:inline">
                                                <div style="display:inline">
                                                    <a  class="quantity_change subNumShip " type="decrease" quantity="1"  href="#"><i class="fa fa-angle-left inactive "></i></a>
                                                    <input class="inputQuantity" type="text"  value="1" style="width:90px;text-align: center;">
                                                    <a class="quantity_change incNumShip" type="increase" quantity="1"   href="#"> <i class=" fa fa-angle-right "></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: top;">电子监管码：</span>
                                            </div>
                                            <textarea style="height:150px;resize:none" class="inputDrugESC col-sm-9"></textarea>
                                        </div>

                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: top;">质检报告(附件):</span>
                                            </div>
                                            <div class="col-sm-9" style="padding: 0">
                                                <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                                    <div class="fileContainer">
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </form>
                                                <span style="display: none">暂无质检报告信息</span>
                                            </div>
                                        </div>
                                        <div class=" pull-right">
                                            <a class="btn btn-primary" id="customerReturnApplyReceiveItem">确认</a>
                                            <a class="btn btn-primary closeIframeGuide">取消</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <!-- Sidebar-->
                        <% var active = "return_customer"; %>
                        <% include ../_nav_customer_left.ejs%>
                        <!-- Sidebar CLose-->

                        <!--Catalog List-->
                        <% var returnCommon = returns[0][0]%>
                        <section class="col-md-10 space-bottom">
                            <div class="filterDiv">
                                <div class="filterHead">
                                    <div>退货单号:<a href="/customer/return/detail?returnId=<%= returnCommon.id%>"><%= returnCommon.displayReturnId %></a>&nbsp;-&nbsp;<%=data._translation.ReturnStatus[returnCommon.returnStatus]%>
                                    </div>
                                </div>
                            </div>
                            <% var returnShipDetails = data.returnShipDetails%>
                            <div class="space-top">
                                <table class="sm-page-table">
                                    <thead>
                                    <tr>
                                        <td class="goods-info"><strong>商品信息</strong></td>
                                        <td><strong>货号</strong></td>
                                        <td><strong>发货数量</strong></td>
                                        <!--<td><strong>已退数量</strong></td>-->
                                        <td><strong>申退数量</strong></td>
                                        <td><strong>可退数量</strong></td>
                                        <% if (returnCommon.returnStatus != "CLOSED"){ %>
                                        <td><strong>［批次］/数量</strong></td>
                                        <% } %>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% var oldGoodsId = "";%>
                                    <% for (var j in returnShipDetails) {%>

                                    <% var item = returnShipDetails[j]%>

                                    <% if(oldGoodsId != item.goodsId) {%>
                                    <% oldGoodsId = item.goodsId%>
                                    <tr name="goodsItem" goodsId="<%=item.goodsId%>" soldPrice="<%=item.returnPrice%>"  shipId="<%= returnShipDetails[0].shipId%>" orderId="<%= returnShipDetails[0].orderId%>">
                                        <td class="goods-info">
                                            <div class="goods-img">
                                                <img src="<%= item.imageUrl%>"/>
                                            </div>
                                            <div class="goods-name-info">
                                                <h6><a href="/goods/detail?goodsId=<%=item.goodsId%>"><%=item.commonName%><%if(item.alias){%>(<%=item.alias%>)<%}%></a></h6>
                                                <h6><%=item.producer%></h6>
                                                <h6> <%=item.spec%></h6>
                                            </div>
                                        </td>
                                        <td>
                                            <%=item.goodsNo%>
                                        </td>
                                        <td>
                                            <%= item.shippedQuantitySum %>
                                            <input type="hidden" id="maxReceivedNum_<%=item.goodsId%>"
                                                   largePackNum="<%=item.largePackNum%>" largePackUnit="<%=item.measureUnit%>"
                                                   middlePackNum="<%=item.middlePackNum%>" middlePackUnit="<%=item.measureUnit%>"
                                                    >
                                        </td>
                                        <!--<td><%= item.returnShippedQuantity==null?0:item.returnShippedQuantity%></td>-->
                                        <td><%= item.applyQuantity%></td>
                                        <td class="font-orange applySum" id="receivedQty_<%=item.goodsId%>">
                                            <%= item.applyQuantity%>
                                        </td>
                                        <% if (returnCommon.returnStatus != "CLOSED"){ %>
                                        <td name="batch_<%= item.goodsId%>">
                                            <% for (var j in returnShipDetails){%>
                                            <% if(returnShipDetails[j].goodsId == item.goodsId){ %>
                                            <% var batchItem = returnShipDetails[j]%>
                                            <div class="ship-operator" name="batch_<%= item.goodsId%>_<%=batchItem.batchNum%>">
                                                <div>
                                                    [<span><%=batchItem.batchNum%></span>]/
                                                    <span name="quantity"><%=batchItem.quantity%></span>
                                                    <span><%=batchItem.measureUnit%></span>
                                                </div>
                                                <div>
                                                    <a class="tooltipped click-link" id="customerDisplayReturnShipInfo_<%= item.goodsId%>_<%= batchItem.batchNum%>" title="修改" data-toggle="tooltip" data-placement="left"
                                                       batchNum="<%=batchItem.batchNum%>"
                                                       goodsId="<%=item.goodsId%>"
                                                       shipTotal="<%= Number(item.shippedQuantitySum-10) %>"
                                                       currentShipNum="<%=batchItem.quantity%>"
                                                       batchQty="<%=batchItem.quantity%>"
                                                       OriginbatchQty="<%=batchItem.quantity%>"
                                                       produceDate="<%=batchItem.goodsProduceDate%>"
                                                       validDate="<%=batchItem.goodsValidDate%>"
                                                       drugESC="<%=batchItem.drugESC%>"
                                                       inspectReportURL="<%=batchItem.inspectReportURL%>"
                                                       soldPrice="<%=item.returnPrice%>">
                                                        <i class="fa fa-pencil-square-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% } %>
                                        </td>
                                        <% } %>
                                    </tr>
                                    <% } %>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="space-top">
                                <table class="sm-page-table">
                                    <thead>
                                    <tr>
                                        <td class="goods-info"><strong>退货信息</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="goods-info">［申请备注］<%=returnCommon.remark?returnCommon.remark:"无"%></td>
                                    </tr>
                                    <% if(returnCommon.returnStatus != "CLOSED") {%>
                                    <tr>
                                        <td class="goods-info">［审核备注］
                                            <input id="customerReply" style="line-height: 30px;width:50%"/>
                                            <span style="color: red;">
                                                 ＊如可退数量与申退数量不一致，请输入原因
                                            </span>
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="filterDiv space-top">
                                <div class="filterHead">
                                    <div>退货日志</div>
                                </div>
                            </div>
                            <div class="space-top">
                                <table class="sm-page-table">
                                    <thead>
                                    <tr>
                                        <td><strong>处理时间</strong></td>
                                        <td><strong>处理事件</strong></td>
                                        <td><strong>操作人</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for (var i in data.returnHistory){%>
                                    <% var history = data.returnHistory[i]%>
                                    <tr>
                                        <td>
                                            <%= history.date %>
                                        </td>
                                        <td>
                                            <%= history.action%>
                                        <td>
                                            <%= history.operator%>
                                        </td>
                                    </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <% if (returnCommon.returnStatus != "CLOSED"){ %>
                            <div class="space-top pull-right">
                                <button class="btn btn-primary" data-opId="<%= returnShipDetails[0].clientId%>"
                                        data-displayId="<%= returnCommon.displayReturnId %>"
                                        id="customerApplyReturnSubmit" shipid="<%=returnShipDetails[0].shipId%>"
                                        orderid="<%= returnShipDetails[0].orderId%>" returnid="<%=returnCommon.id%>">确认</button>
                            </div>
                            <% } else {%>
                            <div class="space-top pull-right">
                                <a class="btn btn-primary" href="/customer/return">返回</a>
                            </div>
                            <% } %>
                        </section>
                    </div>
                </div>
            </div>
            <!--Page Content Close-->
        </div><!--Layout Close-->
    <% include ../../_nav_bottom.ejs%>
</div>
<% include ../../footer.ejs %>
<script src="/static/source/js/customer/return.js"></script>