<% include ../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs%>
        <div class="page">
            <div class="container">
                <div class="row space-top">
                    <!-- Sidebar-->
                    <% var active = "pricesets"; %>
                    <% include ../_nav_customer_left.ejs%>
                    <!-- Sidebar CLose-->
                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/priceset">待审核</a>
                                <a href="/customer/priceset/approvedPriceModifyList" class="itemActive">已通过</a>
                                <a href="/customer/priceset/rejectPriceModifyList">已退回</a>
                            </div>
                            <%
                            var paginator_keywordsValue = '';
                            if (typeof paginator != 'undefined') {
                                if (typeof paginator.kv != 'undefined') {
                                    paginator_keywordsValue = (paginator.kv == "%") ? "" : paginator.kv;
                                }
                            }
                            %>
                            <% var paginatorData = {
                                url : '/customer/priceset/approvedPriceModifyList?',
                                p : 1,
                                kv : 'keywordsValueToBeReplaced',
                                paginator : paginator
                            };
                            %>
                            <div class="filterInputItem" style="width: 40%">
                                <form style="height: 30px">
                                    <input placeholder="调价单号/操作人/审核人/货号/商品名称" type="text" class="filterInput" value="<%= paginator_keywordsValue%>"/>
                                    <button type="submit" class="filterInputButton search_goods" data-url="<%= JSON.stringify(paginatorData)%>"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <table class="sm-page-table">
                            <thead>
                            <tr>
                                <td><strong>调价商品</strong></td>
                                <td><strong>调价单号/操作人/审批人</strong></td>
                                <td><strong>审核时间</strong></td>
                                <td><strong>调价原因</strong></td>
                                <td><strong>操作</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <% var allpendingPriceList=data.priceAdjustList; %>
                            <% for(var i=0;i<allpendingPriceList.length;i++){%>
                            <% var item=allpendingPriceList[i];  %>
                            <tr>
                                <td style="font-size:12px">
                                    <span><%= item.goodsNo; %></span><br>
                                    <span><%= item.commonName; %></span><br>
                                    <span><%= item.spec; %></span><br>
                                    <span><%= item.producer;%></span>
                                </td>
                                <td>
                                    <%= item.id; %>/<%= item.applyOperatorName%>/<%= item.approverName  ;%>
                                </td>
                                <td>
                                    <%= item.updateOn; %>
                                </td>
                                <td>
                                    <%=  item.readjustReason ;%>
                                </td>
                                <td>
                                    <a href="/customer/priceset/approvedPriceModify?adjustPriceId=<%= item.id; %>"><i class="fa fa-binoculars"></i></a>
                                </td>
                            </tr>
                            <%}%>
                            </tbody>
                        </table>
                        <div class="space-top pull-right">
                            <% var url = "/customer/priceset/approvedPriceModifyList?" %>
                            <% include ../../_paginator.ejs%>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>
