<aside class="page-content-right-head" style="background: rgb(236, 236, 236);">
    <label style="margin-right:8px;margin-left: 8px;">
        <a class="<%= data.handlerType=='pendingPriceModify'?'active':'click-link' %>" href="/customer/priceset">待审核</a>
    </label>
    <label style="margin-right:8px;">
        <a class="<%= data.handlerType=='approvedPriceModify'?'active':'click-link' %>" href="/customer/priceset/approvedPriceModifyList">已通过</a>
    </label>
    <label style="margin-right: 8px;">
        <a class="<%= data.handlerType=='rejectPriceModify'?'active':'click-link' %>" href="/customer/priceset/rejectPriceModifyList">已退回</a>
    </label>

    <div style="float:right">
        <% var url='';
           if(data.handlerType=='pendingPriceModify'){
               url='/customer/priceset?';
           }else if(data.handlerType='approvedPriceModify'){
               url='/customer/priceset/approvedPriceModifyList?';
           }else {
               url='/customer/priceset/rejectPriceModifyList??'
           }
        %>
        <aside class="sidebar no-devider" style="display: inline-flex;float: right;margin-top: 10px;width: auto;height:35px;">
            <div class="widget search" style="margin-bottom: 0px;">
                <form method="get" role="search" action="" style="margin-right: 10px;">
                    <label class="sr-only" for="blog-search"></label>
                    <%
                    var paginator_keywordsValue = '';
                    if (typeof paginator != 'undefined') {
                        if (typeof paginator.kv != 'undefined') {
                            paginator_keywordsValue = (paginator.kv == "%") ? "" : paginator.kv;
                        }
                    }
                    %>
                    <input class="form-control" type="text" placeholder="请输入调价单号/操作人/审核人/货号/商品名称" style="height: 30px;width:326px;" value="<%= paginator_keywordsValue%>">
                    <% var paginatorData = {
                        url : url,
                        p : 1,
                        kv : 'keywordsValueToBeReplaced',
                        paginator : paginator
                    };
                    %>
                    <button type="submit" class="search_goods" style="right: 0px;top: -12px;" data-url="<%= JSON.stringify(paginatorData)%>">
                        <i class="fa fa-filter" style="font-size: 20px;"></i>
                    </button>
                </form>
            </div>
        </aside>
        <!--<a class="btn btn-primary searchBill" >查询</a>-->
    </div>

</aside>