<% include ../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<style>
    body{
        background-color: transparent !important;
    }
</style>
<div style="font-size: 14px;padding: 4px;">
    <div class="page-content space-top">
        <section class="page-content-right">
            <aside class="page-content-right-head content-flex-space-between">
                <div>
                    <label>选择商品</label></div>
                <div>
                    <a class="closeIframeGuide" style="margin-right: 8px"><i class="fa fa-times"></i></a>
                </div>
            </aside>
            <aside class="content-flex-space-between" style="padding: 5px;">
                <div class="goodsCatagoryDropDown">
                    <div class="btn-group">
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            全部类别
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li onclick="(function href(){window.location.href='/goods/goodsList?nextToUrl=<%=data.nextToUrl%>'}())">
                                <a>全部类别</a>
                            </li>
                            <% var index = 0;%>
                            <% var goodsType = data._goodsTypes.children;%>
                            <% var length1 = goodsType.length;%>
                            <% for(var item = 0; item < length1; item++){%>
                            <% var key = goodsType[item]%>
                            <% index++;%>
                            <% var paginatorData = {
                                url : "/goods/goodsList?nextToUrl=" + data.nextToUrl + "&",
                                caf : "产品类别",
                                cav : key.erpId,
                                p : 1,
                                paginator : paginator
                            };
                            %>
                            <li onclick="joinPaginator(<%= JSON.stringify(paginatorData)%>)">
                                <a class="click-link"><%=key.name%></a>
                                <% if(key.children.length != 0) { %>
                                <i class="fa fa-angle-right"></i>
                                <div class="subItem" style="min-height: <%= ((length1+1) * 40 + 10)+'px'%>">
                                    <ul>
                                        <% for(var itemTwo in key.children){%>
                                        <% var ele = key.children[itemTwo]%>
                                        <% var paginatorData = {
                                            url : "/goods/goodsList?nextToUrl=" + data.nextToUrl + "&",
                                            caf : "产品类别",
                                            cav : ele.erpId,
                                            p : 1,
                                            paginator : paginator
                                        };
                                        %>
                                        <li onclick="joinPaginator(<%= JSON.stringify(paginatorData)%>)">
                                            <a><%= ele.name%></a>
                                            <% if(ele.children.length > 0){ %>
                                            <i class="fa fa-angle-right"></i>
                                            <div class="subItem" style="min-height: <%= (key.children.length * 40)+'px'%>">
                                                <ul>
                                                    <% for(var tempThree in ele.children){%>
                                                    <% var element = ele.children[tempThree]%>
                                                    <% var paginatorData = {
                                                        url : "/goods/goodsList?nextToUrl=" + data.nextToUrl + "&",
                                                        caf : "产品类别",
                                                        cav : element.erpId,
                                                        p : 1,
                                                        paginator : paginator
                                                    };
                                                    %>
                                                    <li onclick="joinPaginator(<%= JSON.stringify(paginatorData)%>)">
                                                        <a><%= element.name%></a>
                                                    </li>
                                                    <% } %>
                                                </ul>
                                            </div>
                                            <% } %>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                                <% } %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <%
                var paginator_keywordsValue = data.filterKey;
                if (typeof paginator != 'undefined') {
                    if (typeof paginator.kv != 'undefined') {
                        paginator_keywordsValue = (paginator.kv == "%") ? "" : paginator.kv;
                    }
                }
                %>
                <% var placeholder = "请输入货号/商品名称/生产厂家"%>
                <% var paginatorData = {
                    url : "/goods/goodsList?nextToUrl=" + data.nextToUrl + "&",
                    p : 1,
                    kav : 'keywordsValueToBeReplaced',
                    paginator : paginator
                };
                %>
                <% include ../public/filterInput.ejs%>
            </aside>
            <div style="margin: 4px;border: 1px solid #e6e6e6;">
                <table class="table page-table" style="table-layout: auto;text-align: start">
                    <thead class="page-content-right-head">
                    <tr>
                        <td class="checkbox-item"></td>
                        <td><strong>货号</strong></td>
                        <td><strong>商品名称</strong></td>
                        <td><strong>生产厂家</strong></td>
                        <td><strong>规格</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                        <% if(products.length > 0 ){%>
                        <% for(var i=0; i<products.length; i++){%>
                        <tr>
                            <td class="checkbox-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               class="chkGoods"
                                               name="checkbox_<%=i%>"
                                               price="<%= products[i].clientGoodsPrice%>"
                                               goodsId="<%= products[i].id%>"
                                               goodsNo="<%= products[i].goodsNo%>"
                                               imageUrl="<%= products[i].imageUrl%>"
                                               commonName="<%= products[i].commonName%>"
                                               alias="<%= products[i].alias%>"
                                               birthPlace="<%= products[i].birthPlace%>"
                                               spec="<%= products[i].spec%>"
                                               largePackNum="<%= products[i].largePackNum%>"
                                               largePackUnit="<%= products[i].largePackUnit%>"
                                               middlePackNum="<%= products[i].middlePackNum%>"
                                               middlePackUnit="<%= products[i].middlePackUnit%>"
                                               smallPackNum="<%= products[i].smallPackNum%>"
                                               smallPackUnit="<%= products[i].smallPackUnit%>"
                                                >
                                    </label>
                                </div>
                            </td>
                            <td><%= products[i].goodsNo%></td>
                            <td><%= products[i].commonName%></td>
                            <td><%= products[i].birthPlace%></td>
                            <td><%= products[i].spec%></td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class=" space-top  content-flex-space-between">
                <div style="margin-left: 15px;">
                    <button type="button" class="btn-outlined btn-sm chkAll">全选</button>
                </div>
                <div>
                    <% var url = "/goods/goodsList?nextToUrl=" + data.nextToUrl + "&" %>
                    <% include ../_paginator.ejs%>
                </div>
            </div>
            <aside class="page-content-right-head content-flex-space-end">
                <div>
                    <a class="btn btn-primary" name="okSubmit" id=<%= data.nextToUrl%>>添加</a>
                    <a class="btn btn-primary closeIframeGuide">取消</a>
                </div>
            </aside>
        </section>
    </div>
</div>

<% include  ../footer.ejs %>
<script  type="text/javascript"  src="/static/source/js/client/return.js"></script>