<% include ../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->
        <% include ../../_nav_top.ejs %>
        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs%>
        <div class="page double-padding-bottom">
            <div class="container page-content">
                <div class="row space-top">

                    <!-- Sidebar-->
                    <% include ../_nav_customer_left.ejs%>
                    <!-- Sidebar CLose-->
                    <section class="col-md-10 pull-right  space-bottom page-content-right">
                        <aside class="page-content-right-head">
                            <div class="pull-left">
                                <label>
                                    <a href="/customer/order/refuse?type=receive"  class="<%= (data.type=="receive"?"":"page-tab-link")%>">拒收待入库</a>
                                    <% var hasCheckedNum= data["oppositerefuseDatas"].length>0; %>
                                    <div style="height:30px;line-height:30px;<%=hasCheckedNum?"":'display:none' %>"><div class="checkListCircle"></div></div>
                                </label>
                                <label>
                                    <a href="/customer/order/refuse?type=received"  class="<%= (data.type=="received"?"":"page-tab-link")%>">拒收已入库</a>
                                </label>
                            </div>
                            <div class="pull-right">
                                <div style="height: 50px;">
                                    <i class="fa fa-calendar"></i>
                                    <input style="vertical-align:middle;width:100px" value="" placeholder="开始时间"  id="priceStartDate" type="text" readonly class="datePicker selectTime"/>－<i class="fa fa-calendar"></i>
                                    <input style="vertical-align:middle;width:100px" value="" placeholder="截止时间" id="priceStartDate" type="text"  readonly class="datePicker selectTime"/>
                                </div>
                                <a class="btn btn-primary priceModifyListBtn" >查询</a>
                                <aside class="sidebar no-devider" style="display: inline-flex;margin-top: 10px;width: auto;">
                                    <div class="widget search" style="margin-bottom: 0;">
                                        <form method="get" role="search" action="">
                                            <label class="sr-only" for="blog-search"></label>
                                            <%
                                            var paginator_keywordsValue = '';
                                            if (typeof paginator != 'undefined') {
                                                if (typeof paginator.kv != 'undefined') {
                                                    paginator_keywordsValue = (paginator.kv == "%") ? "" : paginator.kv;
                                                }
                                            }
                                            %>
                                            <input class="form-control" type="text" placeholder="请输入拒收单号..." style="height: 30px;" value="<%= paginator_keywordsValue%>">
                                            <% var paginatorData = {
                                                url : "refuse?",
                                                kv : 'keywordsValueToBeReplaced',
                                                p : 1,
                                                paginator : paginator
                                            };
                                            %>
                                            <button type="submit" class="search_goods" style="right: 0;top: -12px;" data-url=<%= JSON.stringify(paginatorData)%>><i class="fa fa-filter" style="font-size: 20px;"></i></button>
                                        </form>
                                    </div>
                                </aside>
                            </div>
                        </aside>
                        <table class="table page-table" style="table-layout: auto;">
                            <tr>
                                <td><strong>拒收单号</strong></td>
                                <td><strong>发货单号</strong></td>
                                <td><strong>拒收时间</strong></td>
                                <td><strong>笔数/数量/金额</strong></td>
                                <td><strong>操作</strong></td>
                            </tr>
                            <tbody>
                            <% for(var i in data.refuseList){%>
                            <% var item = data.refuseList[i] %>
                            <tr>
                                <td><a href="/customer/order/refuse/detail?refuseId=<%= item.refuseId%>"><%= item.refuseId%></a></td>
                                <td><a href="/customer/ship/detail?shipId=<%= item.shipId%>"><%= item.shipId%></a></td>
                                <td><%= item.createdOn%></td>
                                <td>
                                    <%= item.countBatch %>
                                    /
                                    <%= item.quantity %>
                                    /
                                    &#165;<%= item.subtotal || "金额" %>
                                </td>
                                <td><a href="/customer/order/refuse/detail?refuseId=<%= item.refuseId%>">
                                        <% if(item.isReceived == "1"){%>
                                        <i class="fa fa-binoculars"></i>
                                        <% } else if (item.isReceived == "0"){%>
                                        <i class="fa fa-archive"></i>
                                        <% } %>
                                    </a></td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </section>
                    <section class="col-md-10 pull-right space-top space-bottom">
                        <% var url = ""%>
                        <% include ../../_paginator.ejs%>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>
<script>
    $(function(){
        $('.datePicker').datetimepicker({
            timepicker: false,
            format:'Y-m-d'
        });

    });
</script>