<% include ../../header.ejs%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs%>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page double-padding-bottom">

            <div class="container page-content">
                <div class="row space-top">
                    <div style="position: fixed;z-index: 1006;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                    </div>
                    <div style="font-size: 14px;padding: 4px;display:none;width:700px;height:900px" id="selectGoods">
                        <div class="page-content space-top">
                            <section class="page-content-right">
                                <aside class="page-content-right-head">
                                    <label>添加入库</label>
                                </aside>
                                <div class="form" style="padding:30px">
                                    <div class="row" style="margin-top:10px">
                                        <span class="col-sm-3">批次号:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <input class="col-sm-9 inputBatchNum" type="text" disabled />
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                        <span class="col-sm-3">生产日期:</span>
                                        <input class="col-sm-9  inputGoodsProduceDate "  disabled type="text" id="productDate" />
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                有效期至:
                                            </span>
                                        <input class="col-sm-9  inputGoodsValidDate  "  disabled type="text"  id="quanlityDate"/>
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                        <div class="col-sm-3" style="display: inline">
                                            <label style="vertical-align: middle;">数量：</label>
                                        </div>
                                        <div class="col-sm-5" style="display: inline;">
                                            <div style="display:inline-block">
                                                <!--<div>
                                                    <a class="incr-btn fa fa-minus-circle inactive subA" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                                    <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                        [<label id="lgNum"></label><label id="lgUnit"></label>/大包]
                                                    </p>
                                                    <a class="incr-btn fa fa-plus-circle incA" data-action="increase" id="skuplus_lgnum_0" href="#"></a>

                                                </div>-->
                                                <div>
                                                    <a class="incr-btn fa fa-minus-circle inactive subA" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                                    <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                        [<label id="midNum"></label><label id="midUnit"></label>/件]
                                                    </p>
                                                    <a class="incr-btn fa fa-plus-circle incA" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="display:inline">
                                            <div style="display:inline">
                                                <a  class="quantity_change subNumShip " type="decrease" quantity="1"  href="#"><i class="fa fa-angle-left inactive "></i></a>
                                                <input class="inputQuantity" type="text" value="1" style="width:145px;text-align: center;">
                                                <a class="quantity_change incNumShip" type="increase" quantity="1"   href="#"> <i class=" fa fa-angle-right "></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                        <div class="col-sm-3" style="display: inline">
                                            <label style="vertical-align: top;">电子监管码：</label>
                                        </div>
                                        <textarea name="" style="height:150px;resize:none" id="" class="drugESC col-sm-9"></textarea>
                                    </div>

                                    <div class="row" style="margin-top:20px">
                                        <div class="col-sm-3" style="display: inline">
                                            <label style="vertical-align: top;">质检报告(附件):</label>
                                        </div>
                                        <div class="col-sm-9" style="padding: 0">
                                            <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                                <div class="fileContainer">
                                                    <ul>
                                                    </ul>
                                                </div>
                                            </form>
                                            <span style="display: none">暂无质检报告信息</span>
                                        </div>
                                    </div>
                                    <div class=" pull-right">
                                        <a class="btn btn-primary" id="confirmRejectReceiveItem">确认</a>
                                        <a class="btn btn-primary closeIframeGuide">取消</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <!-- Sidebar-->
                    <% var active = "order_customer"; %>
                    <% include ../_nav_customer_left.ejs%>
                    <% var refuseCommon = data.refuseDetails[0]%>
                    <section class="col-md-10 pull-right  page-content-right">
                        <aside class="page-content-right-head">
                            <label>拒收单号：<%=refuseCommon.rejectId%> - 拒收已发货</label>
                        </aside>
                        <table class="table page-table" style="table-layout: auto">
                                <thead>
                                <tr>
                                    <td class="goods-name-info goods-info-img"><strong>商品信息</strong></td>
                                    <td><strong>货号</strong></td>
                                    <td><strong>拒收退回数量</strong></td>
                                    <td><strong>入库数量</strong></td>
                                    <td><strong>[批次]/数量/单位</strong></td>
                                </tr>
                                </thead>
                                <tbody>

                                <% var showGoodsId = -1%>
                                <% for(var i in data.refuseDetails){%>
                                <% var item = data.refuseDetails[i]%>
                                <% if (showGoodsId != item.goodsId){%>
                                <% showGoodsId = item.goodsId%>
                                <tr class='rejectDeliverd' goodsId='<%=item.goodsId%>'>
                                    <td>
                                        <div class="goods-img">
                                            <img src="<%=item.imageUrl%>"/>
                                        </div>
                                        <div class="goods-info">
                                            <h6><a href="/goods/detail?goodsId=<%=item.goodsId%>"><%=item.commonName%>
                                                    <%if(item.alias){%>
                                                    (<%=item.alias%>)
                                                    <%}%></a></h6>
                                            <h6><%=item.producer%></h6>
                                            <h6><%=item.spec%></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <%=item.goodsNo%>
                                    </td>
                                    <td id="finalRejectedTotalQty_<%= item.goodsId %>"><%= item.rejectShippedQuantitySum%></td><!--该商品 拒收的总数量  不分批次-->
                                    <td class="font-green">
                                        <label id="finalRejectedQty_<%= item.goodsId %>"><%=item.rejectShippedQuantitySum%></label>  <!--入库的数量  根据后面批次入库情况来变化 -->
                                        <input type="hidden" id="maxRefuseNum_<%=item.goodsId%>" value="<%=item.rejectShippedQuantitySum%>"
                                               largePackNum="<%=item.largePackNum%>" largePackUnit="<%=item.measureUnit%>"
                                               middlePackNum="<%=item.middlePackNum%>" middlePackUnit="<%=item.measureUnit%>"
                                                >
                                    </td>
                                    <td>
                                        <% for (var j in data.refuseDetails){%>
                                        <% if(data.refuseDetails[j].goodsId == item.goodsId){ %>
                                        <% var batchItem = data.refuseDetails[j]%>
                                        <div class="ship-operator" name="batch_<%= item.goodsId%>_<%=batchItem.batchNum%>">
                                            <div>
                                                [<span id="batchNum"><%=batchItem.batchNum%></span>]/
                                                <span name="quantity" id="batchShipNum"><%=batchItem.refusedQty%></span>
                                                <span><%=batchItem.measureUnit%></span>
                                            </div>
                                            <div>
                                                <a id="displayRejectShipSelect_<%= item.goodsId%>" data-toggle="tooltip"
                                                   shipBatchQty="<%=batchItem.refusedQty%>"
                                                   batchQty="<%=batchItem.refusedQty%>"
                                                   goodsId="<%=item.goodsId%>"
                                                   batchNum="<%=batchItem.batchNum%>"
                                                   inspectReportURL="<%=batchItem.inspectReportURL%>"
                                                   produceDate="<%=batchItem.goodsProduceDate%>"
                                                   validDate="<%=batchItem.goodsValidDate%>"
                                                   drugESC="<%=batchItem.rejectedDrugESC%>">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                    </td>
                                </tr>
                                <%}%>
                                <%}%>
                                </tbody>
                            </table>
                    </section>
                        <section class="col-md-10 pull-right page-content-right space-top">
                        <aside class="page-content-right-head panel-title" style="font-size: inherit">
                            <label>拒收信息</label>
                        </aside>
                        <form style="margin-top:10px">
                            <div class="row" style="margin-bottom:20px;padding: 10px">
                                <div class="col-sm-4" style="padding-left:23px">［发货单号］
                                    <%=refuseCommon.shipId%>
                                </div>
                                <div class="col-sm-4" style="padding-left:23px">［拒收时间］
                                    <%=refuseCommon.createdOn%>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:20px;padding: 10px">
                                <div class="col-sm-2" style="padding-left:23px">［拒收备注］</div>
                                <div class="col-sm-3">
                                    <%=refuseCommon.remark?refuseCommon.remark:"无"%>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2" style="display: inline">
                                    <label style="vertical-align: top;padding-left:23px">［附件］</label>
                                </div>
                                <div class="col-sm-10">
                                    <% var temp = refuseCommon.imgUrl?refuseCommon.imgUrl.split(","):[]%>
                                    <% if(temp.length > 0){%>
                                    <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                        <div class="fileContainer">
                                            <ul>
                                                <% for(var i=0; i<temp.length; i++){%>
                                                <li>
                                                    <div class="fileClass">
                                                        <img src=<%= temp[i]%> />
                                                    </div>
                                                </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </form>
                                    <% } else {%>
                                    <span>暂无附件信息</span>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:20px;padding: 10px">
                                <div class="col-sm-2" style="padding-left:23px">［入库备注］</div>
                                <div class="col-sm-9"><textarea name="" id="rejectReceiveRemark" placeholder="添加备注" rows="4" style="resize: none;width: 100%;"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2" style="padding-left:23px"></div>
                                <div class="col-sm-9"><span style="color: red;">＊如入库数量与退回数量不一致，请注明原因</span></div>
                            </div>
                        </form>
                    </section>
                </div>
                <div style="text-align: right;margin-top:30px">
                    <button class="btn btn-primary" id="btnConfirmRejectDelivered" orderId="<%=refuseCommon.orderId%>" rejectId="<%=refuseCommon.rejectId%>" >确认入库</button>
                </div>

            </div>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../../_nav_bottom.ejs%>
</div>

<% include ../../footer.ejs %>
<script  type="text/javascript" src="/static/source/js/customer/reject.js"></script>