<% include ../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">

        <!--Header-->
        <% include ../_nav_head.ejs%>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page double-padding-bottom">

            <div class="container page-content">
                <div class="row space-top">

                    <!-- Sidebar-->
                    <% var active = "operatorLog_customer"; %>
                    <% include ../_nav_customer_left.ejs%>

                    <!--cotent here-->
                    <section class="col-md-10 space-bottom">
                        <div class="filterDiv">
                            <div class="filterHead">
                                <div>筛选：</div>
                                <div class="defaultdropdown">
                                    <div class="btn-group" data="<%= JSON.stringify(paginator)%>">
                                        <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <%= (data.searchContent == data._userInfo.operatorName) ? '本人':'全部' %>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="click-link filterMan">本人</a>
                                            </li>

                                            <li>
                                                <a class="click-link filterMan all">全部</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% var placeholder = "请输入操作人名称"%>
                            <form class="filterInputItem">
                                <input placeholder=<%= placeholder%> type="text" class="filterInput" value="<%= data.searchContent %>" />
                                <button type="submit" class="filterInputButton operatorLogSearch" data-url><i class="fa fa-search"></i></button>
                            </form>

                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td><strong>操作人</strong></td>
                                    <td><strong>操作时间</strong></td>
                                    <td><strong>ip</strong></td>
                                    <td><strong>操作日志</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <% var roles = {
                                    'CUSTOMER': '系统管理员',
                                    'CLIENT': '企业帐号'
                                   }
                                  var operationTypes = {
                                      'LOGIN': '用户登录',
                                      'LOGOUT': '用户登出'
                                  }
                                    var logList = data.logList;
                                %>
                                <% if(logList.length > 0){ %>
                                <% for(var i=0;i<logList.length;i++){ %>
                                <% var dateObj = new Date(logList[i].createdOn) %>
                                <tr>
                                    <td>
                                        <%= logList[i].log.operator.username+'/'+logList[i].log.operator.operatorName+'/'+roles[logList[i].log.operator.operatorType]%>
                                    </td>
                                    <td>
                                        <%= dateObj.toLocaleString('zh-CN',{'hour12':false})%>

                                    </td>
                                    <td>
                                        <%= logList[i].ipAddr%>
                                    </td>
                                    <td>
                                        <%= operationTypes[logList[i].log.actionFlag] %>
                                    </td>
                                </tr>
                                <% } %>
                                <% } else { %>
                                <tr>
                                    <td colspan="5" style="height: 200px">
                                        <h4 class="blank-content">您目前没有日志信息</h4>
                                    </td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <!--cotent here-->

                    <!-- Sidebar CLose-->
                    <!-- 以下代码用来做页数跳转，-->
                    <!-- page　表示用户当前所在的页码．-->
                    <!-- pageSize　表示用户现在每页所显示的信息条数-->

                    <% var url = "operatorLog?"%>
                    <% include ../../_paginator.ejs%>

                </div>

                <section class="specialty-page">
                </section>
            </div>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../../_nav_bottom.ejs%>
</div>
<script>
    var ifOperatorLog = true;
</script>
<% include ../../footer.ejs %>