<% include ../../header.ejs%>
<%
var goodsType = data._goodsTypes.children;
%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs%>
        <div class="page double-padding-bottom">
            <div class="container page-content">
                <div class="row space-top">
                    <% var active = "verifyRefund"; %>
                    <% include ../_nav_customer_left.ejs%>
                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/complaints" >投诉管理</a>
                                <a href="/customer/bill/verifyRefund" class="itemActive">退款确认</a>
                            </div>
                        </div>
                        <div class="detail-client-name-container">
                            <div class=" vertical-middle pull-left" >
                                时段筛选:
                                <div style="display:inline-block">
                                    <i class="fa fa-calendar"></i>
                                    <input placeholder="开始时间" value="<%= data.filterCondition.startDate %>"  id="StartDate" type="text" readonly class="datePicker selectTime"/>
                                    －
                                    <i class="fa fa-calendar"></i>
                                    <input placeholder="截止时间" id="EndDate" value="<%= data.filterCondition.endDate %>"  type="text"  readonly class="datePicker selectTime"/>
                                </div>
                            </div>
                            <div class="defaultdropdown  margin-left-sm"  style="display:inline-block;">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%
                                        var refundReason=data._translation.refundReason,
                                                currentRefundReasonStatus=data.filterCondition.refundReason;
                                        %>
                                        <span id="refundReason" data-value="<%= currentRefundReasonStatus%>">
                                           <%= currentRefundReasonStatus=='ALL'?'退款原因':refundReason[currentRefundReasonStatus] %>
                                       </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="click-link" data-value="ALL">退款原因</a>
                                        </li>
                                        <% for(var key in refundReason)  {%>
                                        <li>
                                            <a class="click-link" data-value="<%= key %>" ><%= refundReason[key] %></a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="defaultdropdown  margin-left-md"  style="display:inline-block;">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%
                                        var refundTypes=data._translation.refundType,
                                                currentRefundTypeStatus=data.filterCondition.refundType;
                                        %>
                                        <span id="refundType" data-value="<%= currentRefundTypeStatus%>">
                                            <%= currentRefundTypeStatus=='ALL'?'退款类型':refundTypes[currentRefundTypeStatus] %>
                                        </span>

                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="click-link" data-value="ALL">退款类型</a>
                                        </li>
                                        <% for(var key in refundTypes){%>
                                        <li>
                                            <a class="click-link" data-value="<%= key %>"><%= refundTypes[key] %></a>
                                        </li>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>

                            <div class="defaultdropdown  margin-left-md"  style="display:inline-block;">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%
                                        var refundItemStatus=data._translation.refundStatus,
                                                currentRefundItemStatus=data.filterCondition.refundStatus;
                                        %>
                                        <span id="refundItemStatus">
                                            <%= currentRefundItemStatus=='ALL'?'全部状态':refundItemStatus[currentRefundItemStatus] %>
                                        </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="click-link" data-value="ALL">全部状态</a>
                                        </li>
                                        <% for(var key in refundItemStatus){%>
                                        <li>
                                            <a class="click-link" data-value="<%= key %>"><%= refundItemStatus[key] %></a>
                                        </li>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>
                            <div style="display:inline-block" class="pull-right">
                                <form>
                                    <input  class="filter-input form-control" style="display:inline-block;height: 30px" value="<%= data.filterCondition.keyWord %>" type="text" placeholder="流水号/客户名称"/>
                                    <button id="callcenter-searchRefundBtn" type="button" class="btn btn-primary vertical-top">查询</button>
                                </form>
                            </div>
                        </div>
                        <table class="sm-page-table space-top">
                            <thead class="finance-table-head">
                            <tr>
                                <td><strong>退款单号</strong></td>
                                <td><strong>订单号</strong></td>
                                <td><strong>客户名称</strong></td>
                                <td><strong>退款原因</strong></td>
                                <td><strong>退款类型</strong></td>
                                <td><strong>生成时间</strong></td>
                                <td ><strong>应退金额</strong></td>
                                <td ><strong>确认金额</strong></td>
                                <td ><strong>状态</strong></td>
                                <td ><strong>操作</strong></td>

                            </tr>
                            </thead>
                            <tbody class="finance-table-body">

                                <%
                                    for (var i = 0 ; i < data.refundList.length;i++){
                                        var refundItem=data.refundList[i];
                                %>
                                <tr>
                                 <td><%= refundItem.id %></td>
                                 <td class="font-color-green"><a href="/customer/order/pending?orderId=<%=refundItem.orderId %>"><%= refundItem.displayOrderId%></a></td>
                                 <td><%= refundItem.clientName %></td>
                                 <td><%= data._translation.refundReason[refundItem.refundReason]%></td>
                                 <td><%= data._translation.refundType[refundItem.refundType]%></td>
                                 <td><%= refundItem.createdOn%></td>
                                 <td class="font-color-green">&yen;<span><%= (refundItem.refundAmount).toFixed(data.pointDigit.DEFAULT) %></span></td>
                                <%
                                    var status=refundItem.refundStatus=='CREATED';//退货单状态等于待处理的时候
                                %>
                                <% if(status){%>
                                <td class="font-color-green">
                                    --
                                </td>
                                <% }else{ %>
                                <%  var colorTd= refundItem.refundAmount==refundItem.verifiedAmount?'font-color-green':'font-color-orange'; %>
                                <td class="<%= colorTd %>">
                                    &yen; <span><%= (refundItem.verifiedAmount).toFixed(data.pointDigit.DEFAULT) %></span>
                                </td>
                                <% } %>
                                    <td class="<%= status?'font-color-orange':''%>">
                                        <%= status?'待处理':data._translation.refundStatus[refundItem.refundStatus]%>
                                    </td>
                                    <td>
                                        <% if(status){%>
                                        <!--待处理状态-->
                                        <a href="/customer/bill/verifyRefundItem?refundId=<%= refundItem.id %>&displayId=<%= refundItem.displayOrderId%>">
                                            <i class="fa fa-check-circle"></i>
                                        </a>
                                        <% }else{ %>
                                        <!--其他状态都只能查看-->
                                        <a href="/customer/bill/viewRefundDetail?refundId=<%= refundItem.id%>">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <% } %>
                                    </td>
                                </tr>
                                <%}%>


                            </tbody>
                        </table>
                        <div  id="callCenterRefundVerify" class="margin-top-md">
                            <button class="btn btn-primary">返回</button>
                            <% var url = "/customer/bill/verifyRefund?"%>
                            <% include ../../_paginator.ejs%>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>
<script src="/static/source/js/customer/refund.js"></script>
<script>
    $('.datePicker').datetimepicker({
        timepicker: false,
        format:'Y-m-d',
        minDate:false
    });
</script>