<% include ../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="height:100%;">
    <!--Layout-->
    <div class="site-layout">
            <% include ../_nav_head.ejs%>
            <div class="page">
                <div class="container page-content">
                    <div class="row space-top">
                        <!-- Sidebar-->
                        <% var active = "clients"; %>
                        <% include ../_nav_customer_left.ejs%>
                        <!-- Sidebar CLose-->
                        <% var clientSumsGroupByStatus=data.clientsSumsGroupByStatus %>

                        <section class="col-md-10 pull-right space-bottom">
                            <div class="filterDivTab">
                                <div class="tabList">
                                    <a href="/customer/client"  class="itemActive">已开通客户</a>
                                    <a href="/customer/client/toReview">
                                        待审核客户
                                        <% var hasCheckedNum=clientSumsGroupByStatus.sumsInCREATED>0; %>
                                        <div style="<%= hasCheckedNum?"":'display:none' %>"><div class="checkListCircle"></div></div>
                                    </a>
                                    <a href="/customer/client/reject">
                                        已退回客户
                                    </a>
                                    <!--<a href="/customer/client/updateInfoClient">
                                        资料更新审核
                                        <% var hasCheckedNum=clientSumsGroupByStatus.sumsInUPDATEINFO>0; %>
                                        <div style="<%= hasCheckedNum?"":'display:none' %>"><div class="checkListCircle"></div></div>
                                    </a>-->
                                </div>
                                <div class="filterInputItem">
                                    <form class="approvedClientsForm" style="height: 30px">
                                        <input placeholder="请输入客户名称" type="text" class="filterInput checkedClientSearchInput" value="<%=data.clientName %>"/>
                                        <button type="button" class="filterInputButton checkedClientBtn" ><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="checkbox-item"></td>
                                    <td><strong>客户名称</strong></td>
                                    <td><strong>客户编号</strong></td>
                                    <td><strong>客户类别</strong></td>
                                    <td><strong>所属区域</strong></td>
                                    <td><strong>状态</strong></td>
                                    <td><strong>操作</strong></td>
                                </tr>
                                </thead>
                                <% for(var i in clients) {%>
                                <% var client = clients[i];var userStatus =client.enabled %>
                                <tbody>
                                <tr class="client">
                                    <td>
                                        <div class="checkbox" >
                                            <label class="chkItem"><input type="checkbox" class="chkmanagement"  name="chkmanagement" value="<%= client.clientId %>" > </label>
                                        </div>
                                    </td>
                                    <td style="<%= userStatus==0?"color:#999":""%>"><%= client.clientName %></td>
                                    <td style="<%= userStatus==0?"color:#999":""%>"><%= client.clientCode %></td>
                                    <td style="<%= userStatus==0?"color:#999":""%>"><%= client.clientCategory %></td>
                                    <td style="<%= userStatus==0?"color:#999":""%>"><%= client.clientArea %></td>
                                    <td style="<%= userStatus==0?"color:#999":""%>">
                                        <%if(client.readOnly==1){ %>
                                        已禁购
                                        <%}else{%>
                                        已启购
                                        <%}%>
                                        /
                                        <%if(client.enabled=="ENABLED"){ %>
                                        已启用
                                        <%}else{%>
                                        已禁用
                                        <%}%>
                                    </td>
                                    <td>
                                        <a <%= userStatus==0?"style=color:#999":"" %> href="/customer/client/add?clientId=<%=client.clientId%>" >
                                            <i class="fa fa-pencil-square-o tooltipped" data-toggle="tooltip" data-placement="left" title="修改" style="margin-right: 8px"></i>
                                        </a>
                                        <!--       <a  <%= userStatus==0?"style=color:#999":"" %> href="/customer/client/price?clientId=<%=clients[i].clientId%>">
                                            <i class="fa fa-yen tooltipped" data-toggle="tooltip" data-placement="top" title="单品定价" style="margin-right: 8px"></i>
                                        </a>-->
                                        <% if(clients[i].readOnly== 1){ %>
                                        <a <%= userStatus==0?"style=color:#999":"" %> class='manage-client-confirm tooltipped' data-toggle="tooltip" data-placement="top" title="启购" data-operate-action="/customer/client/status?clientId=<%=client.clientId%>&statusName=readOnly&status=0">
                                            <i class="fa fa-toggle-off" style="margin-right: 8px"></i></a>
                                        <% }else{ %>
                                        <a <%= userStatus==0?"style=color:#999":"" %> class='manage-client-confirm tooltipped' data-toggle="tooltip" data-placement="top" title="禁购"  data-operate-action="/customer/client/status?clientId=<%=client.clientId%>&statusName=readOnly&status=1">
                                            <i class="fa fa-toggle-on" style="margin-right: 8px"></i></a>
                                        <% } if(clients[i].enabled == "ENABLED"){%>
                                        <a <%= userStatus==0?"style=color:#999":"" %> class='manage-client-confirm tooltipped' data-toggle="tooltip" data-placement="bottom" title="禁用" data-operate-action="/customer/client/status?clientId=<%=client.clientId%>&statusName=enabled&status=DISABLED">
                                            <i class="fa fa-lock"></i>
                                        </a>
                                        <% }else{ %>
                                        <a <%= userStatus==0?"style=color:#999":"" %> class='manage-client-confirm tooltipped' data-toggle="tooltip" data-placement="bottom" title="启用" data-operate-action="/customer/client/status?clientId=<%=client.clientId%>&statusName=enabled&status=ENABLED">
                                            <i class="fa fa-unlock"></i>
                                        </a>
                                        <% } %>
                                    </td>
                                </tr>
                                </tbody>
                                <% }%>
                            </table>
                            <div class="space-top">
                                <div class="pull-left">
                                    <button type="button" class="btn-outlined btn-sm checkManagementAll checked">全选</button>
                                    <a class="batch-custom-action" statusName="readOnly" status="ON">批量禁购</a>
                                    <a class="batch-custom-action" statusName="enabled" status="OFF">批量禁用</a>
                                    <a class="batch-custom-action" statusName="readOnly" status="OFF">批量启购</a>
                                    <a class="batch-custom-action" statusName="enabled" status="ON">批量启用</a>
                                </div>
                            </div>
                            <div class="space-top">
                            <% var url = "/customer/client?" %>
                            <% include ../../_paginator.ejs%>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>