<%
/*
 # Copyright © 2015
 # -----------------------------------------------------------------
 */
%>
<% include ../../header.ejs%>
<style>
    body{
        background-color: transparent !important;
    }
</style>
<div style="font-size: 14px;padding: 4px;">
    <div class="page-content space-top">
        <section class="page-content-right">
            <aside class="page-content-right-head">
                <table class="table" >
                    <tr>
                        <ul id="myTab" class="nav nav-tabs" style="text-align: start;">
                            <li class=<%= (type == "clientUnit")? "active": "" %>>
                                <a href="#home" data-toggle="tab">
                                    第一步(上传单位表)
                                </a>
                            </li>
                            <li class=<%= (type == "client" || type == 'clients')? "active": "" %>>
                                <a href="#GSP" data-toggle="tab">
                                    第二步(上传客户表)
                                </a>
                            </li>
                            <li>
                                <a style="color: red;"><%= feedback%></a>
                            </li>
                            <li style="float: right;">
                                <a class="cancelUpload" data-toggle="tab">
                                    <i class="fa fa-times-circle-o fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </tr>
                </table>
            </aside>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade <%= (type == 'clientUnit')? 'in active': '' %>" id="home">
                    <table class="table page-table">
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <form class="form-signin"  role="form" method="post" enctype='multipart/form-data'action="/customer/client/uploadUnitXLS?type=client">
                                    <input id="fulAvatar" name="fulAvatar" class="btn btn-small" type="file" class="form-control"  accept=".xls" style="border: 0px;float: left"/>
                                    <button class="btn btn-primary switchBtn"  type="submit" style="padding: 7px !important">上 传</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade <%= (type == 'client' || type == 'clients')? 'in active': '' %>" id="GSP">
                    <table class="table page-table">
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <form class="form-signin"  role="form" method="post" enctype='multipart/form-data' action="/customer/client/uploadUnitXLS?type=clients&unitXls=<%= unitXls%>"/>
                                    <input id="fulAvatar" name="fulAvatar" class="btn btn-small" type="file" class="form-control"  accept=".xls" style="border: 0px;float: left"/>
                                    <button class="btn btn-primary switchBtn"  type="submit" style="padding: 7px !important">上 传</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: end;">
                                <a class="btn btn-primary closeIframeGuide" style="padding: 10px !important;">确定</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<% include  ../../footer.ejs %>