<% include ../../header.ejs%>

<style type="text/css">
    .customerPlaceHolder{
        color:blue;
    }

</style>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% var active = "clients"; %>
        <% include ../../center/_nav_head.ejs%>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page" style="min-height:801px">
            <!--Breadcrumbs-->


            <div class="container page-content space-top">
                <!--Catalog List-->
                <% include ../_nav_customer_left.ejs%>
                <section class="col-md-10 pull-right  space-bottom page-content-right">
                    <aside class="page-content-right-head">
                        <table class="table" >
                            <tr>
                                <ul id="myTab" class="nav nav-tabs" style="text-align: start;">
                                    <li class="active">
                                        <a href="#home" data-toggle="tab">
                                            基础信息
                                        </a>
                                    </li>
                                    <li><a href="#GSP" data-toggle="tab">
                                            GSP信息
                                        </a>
                                    </li>
                                </ul>
                            </tr>
                        </table>
                    </aside>
                    <% var client = data.client%>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="col-sm-12">
                                <table class="table " style="text-align: start;">
                                    <tbody>
                                    <tr>
                                        <td><h5 style="font-size: 15px">企业名称 :</h5></td>
                                        <td><input type="text" style="height: 30px ;width: 700px" id="clientName" value="<%= client.clientName%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="font-size: 15px;">登录账号:</h5></td>
                                        <td><input type="text" disabled id="clientCode"   style="height: 30px;width: 700px "value="<%= client.clientCode%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="font-size: 15px;">客户编号:</h5></td>
                                        <td><input type="text"  disabled style="height: 30px;width: 700px " id="clientCode" value="<%= client.clientCode%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 15px;">手机号码:</td>
                                        <td><input type="text" id="mobile" style="height: 30px;width: 700px "value="<%= client.mobile%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 15px;">法人代表:</td>
                                        <td><input type="text"  style="height: 30px;width: 700px " id="legalRepresentative" value="<%=client.legalRepresentative%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 15px;">注册资本:</td>
                                        <td><input type="text"  style="height: 30px;width: 700px " id="registeredCapital" value="<%=client.registeredCapital%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 15px;">营业地址:</td>
                                        <td><input type="text" style="height: 30px;width: 700px " id="businessAddress" value="<%=client.defaultAddress%>"/><br></td>
                                    </tr>

                                    <%var DStatus=data.client.registerStatus %>
                                    <tr id="clientCategory" style="<%= DStatus=="REJECTED"||DStatus=="UPDATED"?"display:none":""%>">
                                        <td style="font-size: 15px;">客户类别:</td>
                                        <td><select id="clientCategoryId" style="height: 30px;width: 700px ">
                                                <%
                                                var clientCategorys = data.clientCategorys;
                                                        for (var i in clientCategorys){
                                                    var clientCategory = clientCategorys[i];
                                                %>
                                                <% if( clientCategory.categoryId == client.clientCategoryId){%>
                                                <option value="<%= clientCategory.categoryId %>" selected="selected"><%= clientCategory.categoryName %></option>
                                                <% } else{ %>
                                                <option value="<%= clientCategory.categoryId %>"><%= clientCategory.categoryName %></option>
                                                <% }} %>
                                            </select><span style="color: red">＊</span>
                                        </td>
                                    </tr>
                                    <tr id="" style="<%= DStatus=="REJECTED"||DStatus=="UPDATED"?"display:none":""%>">
                                        <td style="font-size: 15px;">付款方式:</td>
                                        <td><select id="paytype" style="height: 30px;width: 700px ">
                                                <option value="ONLINE">现付客户 </option>
                                                <option value="CREDIT">授信客户</option>
                                            </select><span style="color: red">＊</span>
                                        </td>
                                    </tr>
                                    <tr style="<%= DStatus=="REJECTED"||DStatus=="UPDATED"?"display:none":""%>">
                                        <td style="font-size: 15px;">客户区域:</td>
                                        <td>

                                            <!--<input type="text" id="clientArea" value="<%=client.clientArea%>" style="height: 30px;width: 700px "/>-->
                                            <select name="" id="clientArea" style="height: 30px;width: 700px ">
                                                <% var clientArea=client.clientArea ; %>
                                                <% var clientAreas= data.clientAreas ; %>
                                                <% for(var i=0;i<clientAreas.length;i++){
                                                    var currentArea=clientAreas[i];
                                                %>
                                                <%if(typeof (clientArea)=='undefined'&& i==0){%>
                                                <option value="<%= currentArea.name %>" selected="selected"><%= currentArea.name %></option>
                                                <%}else if(clientArea==currentArea.name ){%>
                                                <option value="<%= currentArea.name %>" selected="selected"><%= currentArea.name %></option>
                                                <%}else{%>
                                                <option value="<%= currentArea.name %>" ><%= currentArea.name %></option>
                                                <%}%>
                                                <%}%>
                                            </select>
                                            <span style="color: red">＊</span><br></td>
                                    </tr>
                                    <tr style="<%= DStatus=="REJECTED"||DStatus=="UPDATED"?"display:none":""%>">
                                        <td><h5 style="font-size: 15px;">价格方案*:</h5></td>
                                        <td>
                                            <div class="form-group">
                                                <div class="radio">
                                                    <% if (client.pricePlan == "wholesalePrice"){%>
                                                    <label><input type="radio" name="pricePlan" id="wholesale_price" checked value="wholesalePrice">批发价</label>
                                                    <%}else{%>
                                                    <label><input type="radio" name="pricePlan" id="wholesale_price" value="wholesalePrice">批发价</label>
                                                    <%}%>
                                                </div>
                                                <div class="radio">
                                                    <% if (client.pricePlan == "price1"){%>
                                                    <label><input type="radio" name="pricePlan" id="price1" checked value="price1">价格一</label>
                                                    <%}else{%>
                                                    <label><input type="radio" name="pricePlan" id="price1" value="price1">价格一</label>
                                                    <%}%>
                                                </div>
                                                <div class="radio">
                                                    <% if (client.pricePlan == "price2"){%>
                                                    <label><input type="radio" name="pricePlan" id="price2" checked value="price2">价格二</label>
                                                    <%}else{%>
                                                    <label><input type="radio" name="pricePlan" id="price2" value="price2">价格二</label>
                                                    <%}%>
                                                </div>
                                                <div class="radio">
                                                    <% if (client.pricePlan == "price2"){%>
                                                    <label><input type="radio" name="pricePlan" id="price3" checked value="price3">价格三</label>
                                                    <%}else{%>
                                                    <label><input type="radio" name="pricePlan" id="price3" value="price3">价格三</label>
                                                    <%}%>
                                                </div>
                                                <span style="color: red">＊</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="<%= DStatus=="REJECTED"||DStatus=="UPDATED"?"display:none":""%>">
                                        <td></td>
                                        <td><span style="color: red">审核前，请填写带*的项目</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="GSP">
                            <div class="gsp_table">
                                <table class="table  gsp-edit" style="text-align: left;">
                                    <tbody>
                                    <tr style="margin-top:3px;">
                                        <td style=""><h5 style="font-size: 15px">营业执照号:</h5></td>
                                        <td><input type="text"   style="width: 200px" id="businessLicense" value="<%=client.businessLicense%>"/></td>
                                        <td style=""><h5 style="font-size: 15px;">营业执照期限:</h5></td>
                                        <!-- <input type="text"   style="height: 30px;width: 200px" id="businessLicenseValidateDate" value="<%=client.businessLicenseValidateDate%>"/>-->
                                        <td style="vertical-align:middle;padding-top:0px">
                                            <%
                                            var busDate=client.businessLicenseValidateDate;
                                            var isLongDate;
                                            if(busDate!=''&&typeof(busDate)!='undefined'&&busDate!=null){
                                                isLongDate=busDate.substr(0,2)==='长期';
                                            }else{
                                                isLongDate=true;
                                            }
                                            %>
                                            <span style="vertical-align:middle"  id="longdateSpan" data-longDate=<%= isLongDate %> >长期-</span>
                                            <div class="checkbox checkboxEdit " id="ckboxIneditGsp" style="vertical-align:middle"  >
                                                <input type="checkbox" value="">
                                            </div>
                                            <input type="text" readonly style="width:122px;<%=isLongDate==true?'display:none':null %>" class="time" id="businessLicenseValidateDate" value="<%= isLongDate?'2100/01/01':client.businessLicenseValidateDate %>" /><br>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class=""><h5>经营范围描述:</h5></td>
                                        <td colspan="3" class=""><input type="text" style="width: 404px;height: 54px;" id="limitedBusinessRange"  value="<%=client.limitedBusinessRange%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td class="firstTd"><h5>GSP控制类型:</h5></td>
                                        <td  id="gspTypesIds" gspTypeValues="<%= data.gspTypesIds %>"  style="align-items: baseline;" colspan="3">
                                            <% for (var i in data.allGspTypes){%>
                                            <% var gspItem= data.allGspTypes[i]%>
                                            <div style="display: inline-block">
                                                <div class="gspTypeCheckbox" style="display: inline-block;">
                                                    <div class="checkbox" id="ckbox">
                                                        <label>
                                                            <input type="checkbox" id="gspControlType" value="" checkGspId="<%=gspItem.id%>"/>
                                                        </label>
                                                        <span><%=gspItem.name%></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style=";"><h5 style="font-size: 15px">组织机构代码证:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="orgCode" value="<%=client.orgCode%>"/><br></td>
                                        <td style=""><h5 style="font-size: 15px">组织机构代码证期限:</h5></td>
                                        <td><input type="text" class="gspTime"  readonly  style="height: 30px;width: 200px" id="orgCodeValidateDate" value="<%=client.orgCodeValidateDate%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">税务登记证:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="taxRegistrationLicenseNum" value="<%=client.taxRegistrationLicenseNum%>" /><br></td>
                                        <td style=""><h5 style="font-size: 15px">税务登记证期限:</h5></td>
                                        <td><input type="text"  class="gspTime"  readonly   style="height: 30px;width: 200px" id="taxRegistrationLicenseNumValidateDate" value="<%= client.taxRegistrationLicenseNumValidateDate%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">GMP/GSP证书:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="gmpOrGspLicenseNum" value="<%=client.gmpOrGspLicenseNum%>"/><br></td>
                                        <td style=""><h5 style="font-size: 15px">GMP/GSP证书期限:</h5></td>
                                        <td><input type="text"  class="gspTime"  readonly   style="height: 30px;width: 200px" id="gmpOrGspLicenseNumValidateDate" value="<%=client.gmpOrGspLicenseNumValidateDate%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">医疗机构执业许可证书:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="medicalInstitutionLicenseNum" value="<%=client.medicalInstitutionLicenseNum%>"/><br></td>
                                        <td style=""><h5 style="font-size: 15px">医疗机构执业许可证书期限 :</h5></td>
                                        <td><input type="text"  class="gspTime"  readonly   style="height: 30px;width: 200px" id="medicalInstitutionLicenseNumValidateDate" value="<%=client.medicalInstitutionLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">事业单位法人证书:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="institutionLegalPersonCert" value="<%=client.institutionLegalPersonCert%>" /><br></td>
                                        <td style=""><h5 style="font-size: 15px">事业单位法人期限:</h5></td>
                                        <td><input type="text"  class="gspTime"  readonly   style="height: 30px;width: 200px" id="institutionLegalPersonCertValidateDate" value="<%=client.institutionLegalPersonCertValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">生产经营许可证书:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="productionAndBusinessLicenseNum" value="<%=client.productionAndBusinessLicenseNum%>"/><br></td>
                                        <td style=""><h5 style="font-size: 15px">生产经营许可证书期限:</h5></td>
                                        <td><input type="text"  class="gspTime"  readonly   style="height: 30px;width: 200px" id="productionAndBusinessLicenseNumValidateDate" value="<%=client.productionAndBusinessLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">食品流通许可证书:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="foodCirculationLicenseNum" value="<%=client.foodCirculationLicenseNum%>" /><br></td>
                                        <td style=""><h5 style="font-size: 15px">食品流通许可证书期限:</h5></td>
                                        <td><input type="text"  class="gspTime"  readonly   style="height: 30px;width: 200px" id="foodCirculationLicenseNumValidateDate" value="<%=client.foodCirculationLicenseNumValidateDate%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">医疗器械许可证:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="medicalApparatusLicenseNum" value="<%=client.medicalApparatusLicenseNum%>"/><br></td>
                                        <td style=""><h5 style="font-size: 15px">医疗器械许可证期限:</h5></td>
                                        <td><input type="text"  class="gspTime"  readonly   style="height: 30px;width: 200px" id="medicalApparatusLicenseNumValidateDate" value="<%=client.medicalApparatusLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">保健品证书:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="healthProductsLicenseNum" value="<%=client.healthProductsLicenseNum%>" /><br></td>
                                        <td style=""><h5 style="font-size: 15px">保健品证书期限:</h5></td>
                                        <td><input type="text"  class="gspTime"  readonly   style="height: 30px;width: 200px" id="healthProductsLicenseNumValidateDate" value="<%=client.healthProductsLicenseNumValidateDate%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">精神麻醉证书:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="mentalanesthesiaLicenseNum" value="<%=client.mentaanesthesiaLicenseNum%>" /><br></td>
                                        <td style=""><h5 style="font-size: 15px">精神麻醉证书期限:</h5></td>
                                        <td><input type="text"  class="gspTime"  readonly   style="height: 30px;width: 200px" id="mentalanesthesiaLicenseNumValidateDate" value="<%=client.mentalanesthesiaLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">危险化学许可证:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="hazardousChemicalsLicenseNum" value="<%=client.hazardousChemicalsLicenseNum%>"/><br></td>
                                        <td style=""><h5 style="font-size: 15px">危险化学许可证期限:</h5></td>
                                        <td><input type="text" class="gspTime"  readonly    style="height: 30px;width: 200px" id="hazardousChemicalsLicenseNumValidateDate" value="<%=client.hazardousChemicalsLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">母婴保健执业许可证:</h5></td>
                                        <td><input type="text"   style="height: 30px;width: 200px" id="maternalLicenseNum" value="<%=client.maternalLicenseNum%>" /><br></td>
                                        <td style=""><h5 style="font-size: 15px">母婴保健执业许可证期限:</h5></td>
                                        <td><input type="text" class="gspTime"  readonly   style="height: 30px;width: 200px" id="maternalLicenseNumValidateDate" value="<%=client.maternalLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td style=""><h5 style="font-size: 15px">附件:</h5></td>
                                        <%
                                        var ultimateGspImages=[];
                                        ultimateGspImages=client.gspImages.split(',');
                                        ultimateGspImages.splice(4,0,client.stampLink);
                                        %>
                                        <td colspan="3" id="picTd" data-imgs="<%= ultimateGspImages ;%>">
                                            <form id="gspEditPicForm" action="/upload" role="form" method="post"
                                                  enctype='multipart/form-data' target="picture">
                                                <div class="fileContainer">
                                                    <ul style="margin-bottom: 5px">
                                                    </ul>
                                                </div>
                                                <div>
                                                    <button  data-imagemodify="true"  id="gspEditUploadBtn" class="btn btn-primary" type="button">上传您所修改或者添加的附件</button>
                                                    <iframe name="picture" id="picture"
                                                            style="display:inline;width: 100px; height: 40px;vertical-align: bottom">
                                                    </iframe>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="checkbox" id="samePicture">
                                    <input type="checkbox"  value="" />
                                    <span>图片与纸质资料一致</span><span style="color: red">＊</span><br>
                                </div>
                                <div style="margin:10px 0px 10px 0px;<%= data.client.registerStatus=="REJECTED"?"display:none":null%>">
                                    <a id ="<%= client.id %>"  class="btn btn-primary comfirmPassReview disabled"  data-status="<%=client.registerStatus %>" style="padding: 10px !important;">通过</a>
                                    <a id ="<%= client.id %>" class="btn btn-primary cancelPassReview"  data-status="<%=client.registerStatus %>" style="padding: 10px !important;">退回</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../../_nav_bottom.ejs%>
</div>

<% include ../../footer.ejs %>
<script src="/static/js/placeholder.js"></script>
<script type="text/javascript">
    $(function(){


        //上传图片相关
        var allimagesUrl=$('#picTd').attr('data-imgs');
        if(allimagesUrl != "" && allimagesUrl != "undefined"){
            var str = "";

            var accessFileName=
                    [ '营业执照','GSP证书','合同页一','合同页二','合同公章'];

            var accessTips;

            for(var i in allimagesUrl.split(",")){
                var insertStr='';
                if(i>4){
                    insertStr='<a class="removeimg"><i class="fa fa-times-circle-o"></i></a>';
                }
                accessTips=typeof(accessFileName[i])=='undefined'?'其他附件':accessFileName[i];

                str += "<li><div class='fileClass'><img src=" +
                        allimagesUrl.split(",")[i] +
                        " "+"name='realSrc' class='gspImages' title='单击修改图片'   "+ "></img>" +
                        "<input  name='file_"+i+"'    class='editGspFileUpload'   type='file'>"+
                        insertStr +
                        "</div>"+
                        "<div style='text-align:center'>"+accessTips+"</div>"+
                        "</li>";
            }
            $(".fileContainer").find("ul").find("li").remove();
            $(".fileContainer").find("ul").append(str);
            var uploadStr= '<li style="display: inline" class="template-upfile">'+
                    '<div class="fileClass">'+
                    '<a class="fileinput-button-icon">+</a>'+
                    '<input  name="inputFile_1"   class="editGspfileuploadInput" type="file"  accept="image/*">'+
                    '</div>'+
                    '</li>';
            $(".fileContainer").find("ul").append(uploadStr);

        }else{
        }
        //hide Input[type=file]
        $('.editGspFileUpload').hide();


        //图片与资料一致性确认
        $(document).delegate('#samePicture','click',function(){
            var self = $(this).children(":first");
            if(self.hasClass("checked")){
                $('.comfirmPassReview').removeClass('disabled');
            }else{
                $('.comfirmPassReview').addClass('disabled');
            }
        })









        //渲染 长期 checkbox
        $(document).delegate('.icheckbox', 'click', function () {
            var self = $(this);
            self.find("ins").remove();
            self.toggleClass('checked');
        });
        $('ins').remove();


        var isLongDate= $('#longdateSpan').attr('data-longdate');
        if(isLongDate=="true"){
            $('#businessLicenseValidateDate').val('2100/01/01').hide();
            $('#ckboxIneditGsp').find('.icheckbox').attr('class','icheckbox checked');
        }
        $(document).delegate('#ckboxIneditGsp .icheckbox','click',function(){
            var thisClassAttr=$(this).attr('class');
            var checkedStatus=thisClassAttr.indexOf('checked')!=-1;
            if(checkedStatus){
                $('#businessLicenseValidateDate').val('2100/01/01').hide();
            }
            else{
                $('#businessLicenseValidateDate').val('').show();
            }
        });


        //渲染gsp控制类型
        var gspTypeIds=$('#gspTypesIds').attr('gspTypeValues').split(',');
        for(var i=0;i<gspTypeIds.length;i++){
            $('#gspTypesIds').find('.icheckbox').each(function(index,item){
                if($(item).find('input').attr('checkgspid')==gspTypeIds[i]){
                    $(item).addClass('checked');
                }
            });
        }

        //渲染时间控件
        $('.gspTime').datetimepicker({
            timePicker: false,
            minDate:false,
            format:'Y-m-d'
        });
    });
</script>
