<div>
    <div class="self-select-wrapper">
        <span class="self-select-display clicked">
            <span class="self-select-text" value="<%= currentType.erpId%>"><%= currentType.fullname.replace(/\{\d{1,}/g, "")%></span>
            <i class="self-select-arrow-down"></i>
        </span>
        <ul class="self-select-ul" data-dispaly="hide">
            <% var index = 0;%>
            <% var goodsType = goodsTypes.children;%>
            <% for(var item in goodsType){%>
            <% var key = goodsType[item]%>
            <% index++; %>
            <li class="self-select-option_<%= index%>" style="position: relative">
                <a class="self-select-option" fullname="<%= key.fullname.replace(/\{\d{1,}/g, "")%>" value="<%= key.erpId%>"><%= key.name%></a>
                <% if(key.children.length > 0) { %>
                <i class="fa fa-angle-right" style="float: right;"></i>
                <ul class="nav-list" style="padding: 0">
                    <% var index_two = 0;%>
                    <% for(var itemTwo in key.children){%>
                    <% var ele = key.children[itemTwo]%>
                    <% index_two++; %>
                    <li class="nav-list_<%= index_two%>" style="position: relative;">
                        <a fullname="<%= ele.fullname.replace(/\{\d{1,}/g, "")%>" value="<%= ele.erpId%>"><%= ele.name%></a>
                        <% if(ele.children.length > 0){ %>
                        <i class="fa fa-angle-right" style="float: right;"></i>
                        <ul class="nav-list nav-list_two" style="padding: 0">
                            <% var index_three = 0;%>
                            <% for(var tempThree in ele.children){%>
                            <% var element = ele.children[tempThree]%>
                            <% index_three++; %>
                            <li class="nav-list_two_<%= index_three %>">
                                <a fullname="<%= element.fullname.replace(/\{\d{1,}/g, "")%>" value="<%= element.erpId%>"><%= element.name%></a>
                            </li>
                            <% } %>
                        </ul>
                        <% } %>
                    </li>
                    <% } %>
                </ul>
                <% } %>
            </li>
            <%}%>
        </ul>
    </div><a class="deletegoodscategory"><i class="fa fa-trash"></i></a>
</div>