<% include ../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs%>
        <div class="page">
            <div class="container page-content" style="min-height:800px">
                <div class="row space-top">
                    <!-- Sidebar-->
                    <% var active = "lists"; %>
                    <% include ../_nav_customer_left.ejs%>
                    <!-- Sidebar CLose-->

                    <section class="col-md-10 pull-right">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/goods/available/list">已上架的商品</a>
                                <a href="/customer/goods/unavailable/list">仓库中的商品</a>
                                <a href="/customer/goods/inventory/list">库存设定</a>
                                <a href="/customer/priceset/setprice" class="itemActive">价格设定</a>
                            </div>
                            <% var url='',
                                    extraStyle='';
                            %>

                            <% if(data.handlerType=='available'){
                                url='list?';
                            }else if(data.handlerType=='unavailable'){
                                url='list?';
                                extraStyle='';
                            }
                            else if(data.handlerType=='setInventory'){
                                url='list?';
                            }
                            else{
                                url='setprice?';
                            }%>
                            <div class="goodsCatagoryDropDown">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 30px;">
                                        全部类别
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <% var paginatorNull = {
                                                url: url,
                                                caf: paginator.caf,
                                                cav: paginator.cav,
                                                paginator: {}
                                            }%>
                                            <a class="click-link" onclick="joinPaginator(<%= JSON.stringify(paginatorNull)%>)">全部类别</a>
                                        </li>
                                        <% var index = 0;%>
                                        <% var goodsType = data._goodsTypes.children;%>
                                        <% var length1 = goodsType.length;%>
                                        <% for(var item = 0; item < length1; item++){%>
                                        <% var key = goodsType[item]%>
                                        <% index++;%>
                                        <li>
                                            <% var paginatorData = {
                                                url : url,
                                                cbf : "产品类别",
                                                cbv : key.erpId,
                                                p : 1,
                                                paginator : paginator
                                            };
                                            %>
                                            <a class="click-link" onclick="joinPaginator(<%= JSON.stringify(paginatorData)%>)"><%=key.name%></a>
                                            <% if(key.children.length != 0) { %>
                                            <i class="fa fa-angle-right"></i>
                                            <div class="subItem" style="min-height: <%= ((length1+1) * 40 + 10)+'px'%>">
                                                <ul>
                                                    <% for(var itemTwo in key.children){%>
                                                    <% var ele = key.children[itemTwo]%>
                                                    <li>
                                                        <% var paginatorData = {
                                                            url :url,
                                                            cbf : "产品类别",
                                                            cbv : ele.erpId,
                                                            p : 1,
                                                            paginator : paginator
                                                        };
                                                        %>
                                                        <a onclick="joinPaginator(<%= JSON.stringify(paginatorData)%>)"><%= ele.name%></a>
                                                        <% if(ele.children.length > 0){ %>
                                                        <i class="fa fa-angle-right"></i>
                                                        <div class="subItem" style="min-height: <%= (key.children.length * 40)+'px'%>">
                                                            <ul>
                                                                <% for(var tempThree in ele.children){%>
                                                                <% var element = ele.children[tempThree]%>
                                                                <li>
                                                                    <% var paginatorData = {
                                                                        url : url,
                                                                        cbf : "产品类别",
                                                                        cbv : element.erpId,
                                                                        p : 1,
                                                                        paginator : paginator
                                                                    };
                                                                    %>
                                                                    <a onclick="joinPaginator(<%= JSON.stringify(paginatorData)%>)"><%= element.name%></a>
                                                                </li>
                                                                <% } %>
                                                            </ul>
                                                        </div>
                                                        <% } %>
                                                    </li>
                                                    <% } %>
                                                </ul>
                                            </div>
                                            <% } %>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <%
                            var paginator_keywordsValue = '';
                            if (typeof paginator != 'undefined') {
                                if (typeof paginator.kv != 'undefined') {
                                    paginator_keywordsValue = (paginator.kv == "%") ? "" : paginator.kv;
                                }
                            }
                            %>
                            <% var paginatorData = {
                                url : url,
                                p : 1,
                                kv : 'keywordsValueToBeReplaced',
                                paginator : paginator
                            };
                            %>
                            <div class="filterInputItem">
                                <form style="height: 30px;">
                                    <input class="filterInput <%= data.handlerType=='unavailable'?'unavailableInput':'commonInput' %>" type="text" placeholder="请输入商品名称/货号/生产厂家" value="<%= paginator_keywordsValue%>"/>
                                    <button type="submit" class="filterInputButton search_goods" data-url=<%= JSON.stringify(paginatorData)%>><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <% if(data.handlerType=='unavailable'){%>
                            <div style="display:inline-block;float:right;">
                                <a href="/customer/product/edit" class="btn btn-primary ">添加</a>
                            </div>
                            <% }%>
                        </div>
                        <table class="sm-page-table">
                            <thead>
                            <tr>
                                <td><strong>货号</strong></td>
                                <td><strong>商品名称</strong></td>
                                <td><strong>生产厂家</strong></td>
                                <td><strong>规格/单位</strong></td>
                                <td><strong>操作</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i=0;i<data.goodsList.length;i++){%>
                            <% var currentItem=data.goodsList[i]; %>
                            <tr>
                                <td><%= currentItem.goodsNo ; %></td>
                                <td style="word-break: break-all"><%= currentItem.commonName ;%></td>
                                <td><%= currentItem.producer ;%></td>
                                <td><%= currentItem.spec+ '/' +currentItem.measureUnit ;%></td>
                                <td class="customer-operation" style="/*word-break:keep-all;text-overflow:ellipsis;overflow: initial !important;*/ ">
                                    <div>
                                        <a href="/customer/priceset/setgoodallprice?goodsId=<%= currentItem.id%>">
                                            &yen;
                                        </a>
                                    </div>
                                    <div class="nav-item">
                                        <a>
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                        <ul class="nav-list">
                                            <li>
                                                <a href="/customer/priceset/setgoodbasicprice?goodsId=<%=currentItem.id%>">基础价格设定</a>
                                            </li>
                                            <li>
                                                <a href="/customer/priceset/setclientprice?goodsId=<%=currentItem.id%>">客户价格设定</a>
                                            </li>
                                            <li>
                                                <a href="/customer/priceset/setclientcategoryprice?goodsId=<%=currentItem.id%>">客户类价格设定</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <%}%>
                            </tbody>
                        </table>
                        <div class="space-top pull-right">
                            <% var url = "/customer/priceset/setprice?" %>
                            <% include ../../_paginator.ejs%>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>