<% include ../../header.ejs%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../../_nav_head.ejs%>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page double-padding-bottom">

            <div class="container page-content">
                <div class="row">
                    <div style="position: fixed;z-index: 111;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                    </div>
                    <div style="font-size: 14px;padding: 4px;display:none;width:700px;height:900px" id="selectGoods">
                        <div class="page-content space-top">
                            <section class="page-content-right">
                                <aside class="page-content-right-head">
                                    <label>查看拒收</label>
                                </aside>
                                <div class="form" style="padding:30px">
                                    <div class="row" style="margin-top:10px">
                                        <span class="col-sm-3">批次号:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <input class="col-sm-9 inputBatchNum" type="text"  disabled/>
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                        <span class="col-sm-3">生产日期:</span>
                                        <input class="col-sm-9 inputGoodsProduceDate" type="text" disabled/>
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                有效期至:
                                            </span>
                                        <input class="col-sm-9 inputGoodsValidDate" type="text" disabled/>
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                数量:
                                            </span>
                                        <input class="col-sm-9 inputQuantity" type="text" disabled/>
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                        <span class="col-sm-3">
                                                电子监管码:
                                        </span>
                                        <textarea class="col-sm-3 inputDrugESC" style="width:60%;height:100px;resize:none"disabled></textarea>
                                    </div>

                                    <div class="row" style="margin-top:20px">
                                        <div class="col-sm-3" style="display: inline">
                                            <label style="vertical-align: top;">质检报告(附件):</label>
                                        </div>
                                        <div class="col-sm-9" style="padding: 0">
                                            <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                                <div class="fileContainer">
                                                    <ul>
                                                    </ul>
                                                </div>
                                            </form>
                                            <span style="display: none">暂无质检报告信息</span>
                                        </div>
                                    </div>
                                    <div class=" pull-right">
                                        <a class="btn btn-primary closeIframeGuide">确定</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <!-- Sidebar-->
                    <% include ../../_order_sidebar.ejs%>
                    <% var refuseCommon = data.refuseDetails[0]%>
                    <section class="col-md-10 pull-right space-top">
                        <div class="page-content-right">
                            <aside class="page-content-right-head">
                                <label>拒收单号：<%=refuseCommon.rejectId%> -
                                    <% if(refuseCommon.status == "SHIPPED"){%>
                                        拒收已发货
                                    <% } else if (refuseCommon.status == "FINISHED"){%>
                                        拒收已入库
                                    <% } %>
                                </label>
                            </aside>
                            <table class="table page-table" style="table-layout: auto">
                                <thead>
                                <tr>
                                    <td class="goods-name-info goods-info-img"><strong>商品信息</strong></td>
                                    <td><strong>货号</strong></td>
                                    <td><strong>拒收数量</strong></td>
                                    <td><strong>
                                            <% if(refuseCommon.status == "SHIPPED"){%>
                                            拒收发货数量
                                            <% } else if (refuseCommon.status == "FINISHED"){%>
                                            拒收入库数量
                                            <% } %>
                                        </strong></td>
                                    <td><strong>[批次]/数量/单位</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <% var oldGoodsId = "";%>
                                <% for(var i in data.refuseDetails){%>
                                <% var item = data.refuseDetails[i]%>
                                <%if(oldGoodsId != item.goodsId){%>
                                <% oldGoodsId = item.goodsId%>
                                <tr id="batch_goods_<%= item.goodsId%>">
                                    <td>
                                        <div class="goods-img">
                                            <img src="<%=item.imageUrl%>"/>
                                        </div>
                                        <div class="goods-info">
                                            <h6><a href="/goods/detail?goodsId=<%=item.goodsId%>"><%=item.commonName%>
                                                    <%if(item.alias){%>
                                                    (<%=item.alias%>)
                                                    <%}%>
                                                </a>
                                            </h6>
                                            <h6><%=item.producer%></h6>
                                            <h6><%=item.spec%></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <%=item.goodsNo%>
                                    </td>
                                    <% var totalRefuseNum = 0 %>
                                    <% for(var j in data.refuseDetails){%>
                                    <%if(data.refuseDetails[j].goodsId == item.goodsId){%>
                                    <% totalRefuseNum+= data.refuseDetails[j].quantity%>
                                    <%}%>
                                    <%}%>
                                    <td>
                                        <label id="totalRefuseNum_<%= item.goodsId%>"><%=totalRefuseNum%></label>
                                        <input type="hidden" class="maxReceivedNum_<%=item.goodsId%>" value="<%=totalRefuseNum%>"
                                               largePackNum="<%=item.largePackNum%>" largePackUnit="<%=item.largePackUnit%>"
                                               middlePackNum="<%=item.middlePackNum%>" middlePackUnit="<%=item.middlePackUnit%>"
                                                >
                                    </td>
                                    <td>
                                        <label id="currentRefuseShipTotalNum_<%= item.goodsId%>">
                                            <% if(item.status == "SHIPPED"){%>
                                            <%= item.rejectShippedQuantitySum%>
                                            <% } else if (item.status == "FINISHED"){%>
                                            <%= item.rejectReceiveQuantitySum%>
                                            <% } %>
                                        </label>
                                    </td>
                                    <td>
                                        <% for(var k in data.refuseDetails){%>
                                        <%if(data.refuseDetails[k].goodsId == item.goodsId){%>
                                        <% var batchItem = data.refuseDetails[k]%>
                                        <% var tempQty = 0;%>
                                        <% if(refuseCommon.status == "SHIPPED"){%>
                                        <% tempQty = batchItem.refusedQty;%>
                                        <% } else if (refuseCommon.status == "FINISHED"){%>
                                        <% tempQty = batchItem.rejectReceiveQuantity;%>
                                        <% } %>
                                        <div class="ship-operator" name="batch_<%= item.goodsId%>_<%=batchItem.batchNum%>">
                                            <div>
                                                [<span><%=batchItem.batchNum%></span>]/
                                                <span name="quantity"><%= tempQty%></span>
                                                <span><%=batchItem.measureUnit%></span>
                                            </div>
                                            <div>
                                                <a class="tooltipped click-link"
                                                   id="clientDisplayRejectInfo_<%= item.goodsId%>_<%= batchItem.batchNum%>"
                                                   title="修改" data-toggle="tooltip" data-placement="left"
                                                   batchnum="<%=batchItem.batchNum%>"
                                                   goodsid="<%=item.goodsId%>"
                                                   applyrejectbatchqty="<%=tempQty%>"
                                                   currentrefuseshiptotal="<%= totalRefuseNum%>"
                                                   currentbatchqty="<%=tempQty%>"
                                                   produceDate="<%=batchItem.goodsProduceDate%>"
                                                   validDate="<%=batchItem.goodsValidDate%>"
                                                   drugESC="<%=batchItem.rejectedDrugESC%>"
                                                   inspectReportURL="<%=batchItem.inspectReportURL%>">
                                                    <i class="fa fa-binoculars"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                    </td>
                                </tr>
                                <% } %>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section class="col-md-10 pull-right page-content-right space-top">
                        <aside class="page-content-right-head panel-title" style="font-size: inherit">
                            <label>拒收信息</label>
                        </aside>
                        <form style="margin-top:10px">
                            <div class="row" style="margin-bottom:20px;padding: 10px">
                                <div class="col-sm-4" style="padding-left:23px">［发货单号］
                                    <%=refuseCommon.shipId%>
                                </div>
                                <div class="col-sm-4" style="padding-left:23px">［拒收日期］
                                    <%=refuseCommon.createdOn%>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:20px;padding: 10px">
                                <div class="col-sm-2" style="padding-left:23px">［拒收备注］</div>
                                <div class="col-sm-3">
                                    <%=refuseCommon.remark?refuseCommon.remark:"无"%>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2" style="display: inline">
                                    <label style="vertical-align: top;padding-left:23px">［附件］</label>
                                </div>
                                <div class="col-sm-10">
                                    <% var temp = refuseCommon.imgUrl?refuseCommon.imgUrl.split(","):[]%>
                                    <% if(temp.length > 0){%>
                                    <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                        <div class="fileContainer">
                                            <ul>
                                                <% for(var i=0; i<temp.length; i++){%>
                                                    <li>
                                                        <div class="fileClass">
                                                            <img src=<%= temp[i]%> />
                                                        </div>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </form>
                                    <% } else {%>
                                    <span>暂无附件信息</span>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:20px;padding: 10px">
                                <div class="col-sm-2" style="padding-left:23px">［入库备注］</div>
                                <div class="col-sm-3">
                                    <%=refuseCommon.receivedRemark?refuseCommon.receivedRemark:"无"%>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <div style="text-align: right;" class="space-top">
                    <a class="btn btn-primary" href="/order/refuse?type=receive">返回</a>
                </div>
            </div>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../../_nav_bottom.ejs%>
</div>

<% include ../../footer.ejs %>
<script type="text/javascript" src="/static/source/js/client/reject.js"></script>