<% include ../../header.ejs%>
<%
var goodsType = data._goodsTypes.children;

%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <% include ../_nav_head.ejs%>
        <div class="page double-padding-bottom">
            <div class="container page-content">
                <div class="row space-top">
                    <div style="position: fixed;z-index: 1006;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                    </div>
                    <div style="font-size: 14px;width: 400px;height: 200px;background-color: #fff;position: fixed;z-index: 99999;display: none" id="selectGoods">
                        <table class="sm-page-table">
                            <thead>
                            <tr>
                                <td class="goods-info"><strong>退款确认</strong></td>
                            </tr>
                            </thead>
                        </table>
                        <div class="dialog-content-refund space-top" id="performDiv">
                            <form action="">
                                <table class="sm-page-table">
                                    <tbody>
                                    <tr>
                                        <td colspan="2">
                                            确认执行此笔退款吗?
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-end" id="dialog-confirm" data-refundId="" data-orderId="">
                                            <a class="btn btn-primary" id="customerPerformRefund_one">执行</a>
                                            <a class="btn btn-primary closeIframeGuide" >取消</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="dialog-content-refund space-top" style="display: none" id="uploadSpinner">
                            <form action="">
                                <table class="sm-page-table">
                                    <tbody>
                                    <tr>
                                        <td colspan="2">
                                            正在执行退款,请先不要离开或进行其他操作
                                            <i class="fa fa-spinner fa-pulse"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-end">
                                            <a class="btn btn-primary closeIframeGuide" >关闭</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="dialog-content-refund space-top" style="display: none" id="uploadSpinnerSuccess">
                            <form action="">
                                <table class="sm-page-table">
                                    <tbody>
                                    <tr>
                                        <td colspan="2">
                                            执行成功
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-end">
                                            <a class="btn btn-primary closeIframeGuide" >关闭</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="dialog-content-refund space-top" style="display: none" id="uploadSpinnerFail">
                            <form action="">
                                <table class="sm-page-table">
                                    <tbody>
                                    <tr>
                                        <td colspan="2">
                                            执行失败
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-end">
                                            <a class="btn btn-primary" id="customerPerformRefund_two">请重试</a>
                                            <a class="btn btn-primary closeIframeGuide" >关闭</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                    <% var active = "financeCenter"; %>
                    <% include ../_nav_customer_left.ejs%>
                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/bill/financecenter" >授信客户结款</a>
                                <a href="/customer/bill/cod">货到付款结款</a>
                                <a href="/customer/bill/refundCheck">退款审核</a>
                                <a href="/customer/bill/refundPerform" class="itemActive">退款执行</a>
                                <a href="/customer/bill/tradeDetail">交易明细</a>
                            </div>
                        </div>
                        <div class="detail-client-name-container margin-top-sm">
                            <div class=" vertical-middle pull-left" >
                                选择时段:
                                <div style="height: 40px;display:inline-block">
                                    <i class="fa fa-calendar"></i>
                                    <input style="vertical-align:middle;width:105px;"    placeholder="开始时间" value="<%= data.filterCondition.startDate %>" id="StartDate" type="text" readonly class="datePicker selectTime"/>
                                    －
                                    <i class="fa fa-calendar"></i>
                                    <input style="vertical-align:middle;width:105px"    placeholder="截止时间" id="EndDate" value="<%= data.filterCondition.endDate %>" type="text"  readonly class="datePicker selectTime"/>
                                </div>
                            </div>
                            <div class="defaultdropdown  margin-left-md"  style="display:inline-block;">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%
                                        var refundReason=data._translation.refundReason,
                                                currentRefundReasonStatus=data.filterCondition.refundReason;
                                        %>
                                        <span id="refundReason" data-value="<%= currentRefundReasonStatus%>">
                                           <%= currentRefundReasonStatus=='ALL'?'退款原因':refundReason[currentRefundReasonStatus] %>
                                       </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="click-link" data-value="ALL">退款原因</a>
                                        </li>
                                        <% for(var key in refundReason)  {%>
                                        <li>
                                            <a class="click-link" data-value="<%= key %>" ><%= refundReason[key] %></a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <!--<div class="defaultdropdown  margin-left-md"  style="display:inline-block;">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%
                                        var refundTypes=data._translation.refundType,
                                                currentRefundTypeStatus=data.filterCondition.refundType;
                                        %>
                                        <span id="refundType" data-value="<%= currentRefundTypeStatus%>">
                                            <%= currentRefundTypeStatus=='ALL'?'退款类型':refundTypes[currentRefundTypeStatus] %>
                                        </span>

                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="click-link" data-value="ALL">退款类型</a>
                                        </li>
                                        <% for(var key in refundTypes){%>
                                        <li>
                                            <a class="click-link" data-value="<%= key %>"><%= refundTypes[key] %></a>
                                        </li>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>-->
                            <div class="defaultdropdown  margin-left-md"  style="display:inline-block;">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%
                                        var refundStatus = data._translation.refundStatus,
                                                currentRefundStatus=data.filterCondition.refundStatus;
                                        %>
                                        <span id="refundItemStatus">
                                            <%= currentRefundStatus=='ALL'?'全部状态':refundStatus[currentRefundStatus] %>
                                        </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="click-link" data-value="ALL">全部状态</a>
                                        </li>
                                        <% for(var key in refundStatus) { %>
                                        <% if('CREATED' != key && 'VERIFIED' != key) { %>
                                        <li>
                                            <a class="click-link" data-value="<%= key %>" ><%= refundStatus[key] %></a>
                                        </li>
                                        <% } %>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <!--<div style="display:inline-block" class="pull-right">-->
                            <div style="display:inline-block" class="defaultdropdown  margin-left-md">
                                <form>
                                    <input  class="filter-input form-control" style="display:inline-block;height: 30px" type="text" value="<%= data.filterCondition.keyWord %>" type="text" placeholder="输入退款单号"/>
                                    <button id="callcenter-searchRefundBtn" type="button" class="btn btn-primary vertical-top">查询</button>
                                </form>
                            </div>
                        </div>
                        <table class="sm-page-table finance-table-deleteBodyBorder">
                            <tbody>
                            <tr>
                                <td>待执行单数: <span class="font-orange"><%=data.refundData.statistics.approvedCount%></span><span class="font-orange">单</span></td>
                                <td>待执行总额: <span class="font-orange">&yen;&nbsp;<%=  data.refundData.statistics.approvedTotal==null?'0.00':(data.refundData.statistics.approvedTotal).toFixed(data.pointDigit.DEFAULT) %></span></td>
                                <td>退款失败单数: <span class="font-orange"><%=data.refundData.statistics.failedCount%></span><span class="font-orange">单</span></td>
                                <td>退款失败总额: <span class="font-orange">&yen;&nbsp;<%=  data.refundData.statistics.failedTotal==null?'0.00':(data.refundData.statistics.failedTotal).toFixed(data.pointDigit.DEFAULT) %></span></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="space-top">
                            <table class="sm-page-table ">
                                <thead class="finance-table-head">
                                <tr>
                                    <td><strong>退款单号</strong></td>
                                    <td><strong>订单号</strong></td>
                                    <td><strong>客户名称</strong></td>
                                    <td><strong>退款原因</strong></td>
                                    <td><strong>审核时间</strong></td>
                                    <td><strong>确认金额</strong></td>
                                    <td><strong>状态</strong></td>
                                    <td><strong>操作</strong></td>
                                </tr>
                                </thead>
                                <tbody class="finance-table-body">
                                <%
                                var statusColor = {
                                        "CREATED":"font-orange",
                                        "VERIFIED":"font-orange",
                                        "APPROVED":"font-orange",
                                        "EXECUTED":"font-orange",
                                        "SUCCESS":"font-green",
                                        "FAILED":"font-red"
                                    };
                                for(var index in data.refundData.refundList) {
                                %>
                                <tr>
                                    <td class="font-green"><a href="/customer/bill/viewRefundDetail?refundId=<%= data.refundData.refundList[index].id %>"><%= data.refundData.refundList[index].id %></a></td>
                                    <td class="font-green"><a href="/customer/order/pending?orderId=<%=data.refundData.refundList[index].orderId %>"><%= data.refundData.refundList[index].displayOrderId %></a></td>
                                    <td><%= data.refundData.refundList[index].clientName %></td>
                                    <td><%= refundReason[data.refundData.refundList[index].refundReason] %></td>
                                    <td><%= data.refundData.refundList[index].approveTime %></td>
                                    <% var verifiedAmount=data.refundData.refundList[index].verifiedAmount%>
                                    <td class="font-green">&yen;<%= verifiedAmount!=null&&typeof(verifiedAmount)!='undefined'?verifiedAmount.toFixed(data.pointDigit.DEFAULT):0.00 %></td>
                                    <td class="<%= statusColor[data.refundData.refundList[index].refundStatus]%>"><%= refundStatus[data.refundData.refundList[index].refundStatus] %></td>
                                    <td>
                                        <%if(data.refundData.refundList[index].refundStatus == 'APPROVED') { %>
                                        <a class="displaySelectRefund" data-refundId="<%=data.refundData.refundList[index].id%>" data-orderId="<%=data.refundData.refundList[index].orderId%>"><i class="fa fa-check-circle-o"></i></a>
                                        <% } else { %>
                                        <a href="/customer/bill/refundCheckDetail?refundId=<%= data.refundData.refundList[index].id %>"><i class="fa fa-eye"></i></a>
                                        <% } %>
                                    </td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="margin-top-md">
                            <button id="callCenterRefundVerify" class="btn btn-primary">返回</button>
                            <% var url = "/customer/bill/refundPerform?"%>
                            <% include ../../_paginator.ejs%>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>
<script src="/static/source/js/customer/refund.js"></script>

<script>
    $('.datePicker').datetimepicker({
        timepicker: false,
        format:'Y-m-d',
    });
</script>