<% include ../../header.ejs%>
<%
var goodsType = data._goodsTypes.children;

%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <% include ../_nav_head.ejs%>
        <div class="page double-padding-bottom">

            <%
            var refundBasicInfo=data.refundInfo.refundBasicInfo,
                    refundOrderInfo=data.refundInfo.orderBasicInfo,
                    refundShipInfo=data.refundInfo.shipBasicInfo,
                    closeOrderInfo=data.refundInfo.closeOrderInfo,
                    receiveOperatorInfo=data.refundInfo.receiveOperatorInfo;

            %>
            <div class="container page-content">
                <div class="row space-top">
                    <div style="position: fixed;z-index: 1006;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                    </div>
                    <div style="font-size: 14px;width: 600px;height: auto;background-color: #fff;position: fixed;z-index: 99999;display: none" id="selectGoods">
                        <table class="sm-page-table">
                            <thead>
                            <tr>
                                <td class="goods-info"><strong>退款确认</strong></td>
                            </tr>
                            </thead>
                        </table>
                        <div class="dialog-content-refund">
                            <table class="sm-page-table">
                                <tbody>
                                <tr>
                                    <td class="text-end"><span id="refundInputTip">请输入退款备注</span>：</td>
                                    <td>
                                        <input type="text" id="acceptRemark" class="form-control"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-end">
                                        <a class="btn btn-primary" type="button" id="financeAcceptVerifyBtn" >确定</a>
                                        <a class="btn btn-primary closeIframeGuide" >取消</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% var active = "financeCenter"; %>
                    <% include ../_nav_customer_left.ejs%>
                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/bill/financecenter" >授信客户结款</a>
                                <a href="/customer/bill/cod">货到付款结款</a>
                                <a href="/customer/bill/refundCheck" class="itemActive">退款审核</a>
                                <a href="/customer/bill/refundPerform">退款执行</a>
                                <a href="/customer/bill/tradeDetail">交易明细</a>
                            </div>
                        </div>

                        <table class="sm-page-table finance-table-deleteBodyBorder">
                            <thead>
                            <tr>
                                <td class="goods-info">退款单号: <%= refundBasicInfo.displayRefundId %> - <%= data._translation.refundStatus[refundBasicInfo.refundStatus] %></td>
                                <td></td>
                                <td class="text-end">

                                    <%if(refundBasicInfo.refundStatus=='VERIFIED'){%>
                                        <div>
                                            <a class="btn btn-primary displayAcceptModal"  data-refundtype="<%= refundBasicInfo.refundType %>" data-accept="true" iscredit="<%= refundBasicInfo.isCredit %>" verifiedAmount="<%= refundBasicInfo.verifiedAmount%>"  clientId="<%= refundBasicInfo.clientId %>"  refundid="<%= refundBasicInfo.id %>">同意</a>
                                            <a class="btn btn-primary displayAcceptModal" data-accept="false"  refundid="<%= refundBasicInfo.id %>" >退回</a>
                                            <a href="/customer/bill/refundPerform" class="btn btn-default">暂不处理</a>
                                        </div>
                                    <%}%>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>订单号: <span class="font-green font-bold"><a target="_blank" href="/customer/order/pending?orderId=<%=refundBasicInfo.orderId %>"><%= refundBasicInfo.displayOrderId %></a></span></td>
                                <td>客户名称: <span class="font-green"><%= refundOrderInfo.clientName %></span></td>
                                <td>退款原因: <span class="font-green"><%= data._translation.refundReason[refundBasicInfo.refundReason]%></span></td>
                            </tr>
                            <tr>
                                <td>应退金额: <span class="font-green"><%= refundBasicInfo.refundAmount%></span></td>
                                <td>确认金额: <span class="font-green"><%= refundBasicInfo.refundStatus=='CREATED'?'--':refundBasicInfo.verifiedAmount%></span></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="space-top cd-timeline-content-div">
                            <section id="cd-timeline" class="cd-container">


                                <% if(refundBasicInfo.refundStatus=='CREATED'){%>
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-movie">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p class="font-orange">待审核</p>
                                        </div>
                                    </div>
                                </div>
                                <%}else if(refundBasicInfo.refundStatus=='VERIFIED'){%>
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-movie">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p class="font-orange">待财务审核</p>
                                        </div>
                                    </div>
                                </div>
                                <%}else if(refundBasicInfo.refundStatus=='EXECUTED'){%>
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-movie">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p class="font-orange">处理中</p>
                                        </div>
                                    </div>
                                </div>

                                <%}else if(refundBasicInfo.refundStatus=='SUCCESS'){%>
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p class="font-green">成功退款</p>
                                        </div>
                                    </div>
                                </div>
                                <%}else if(refundBasicInfo.refundStatus=='FAILED'){%>
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-move">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p > <span class="font-orange">退款失败</span>  <span>失败原因:</span> <span>暂无</span> </p>
                                        </div>
                                    </div>
                                </div>

                                <%}else if(refundBasicInfo.refundStatus=='APPROVED'){%>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img cd-movie">
                                        </div>
                                        <div class="cd-timeline-content">
                                            <div class="cd-date cd-content">
                                                <p class="font-orange">待出纳退款</p>
                                            </div>
                                        </div>
                                    </div>
                                <%}%>
                                <%
                                    var histories=data.refundInfo.refundHistory;
                                for (var k=0;k<histories.length; k++){

                                %>

                                <%    var currentItem=histories[k];  %>
                                <% if(currentItem.refundStatus=='VERIFIED'){%>

                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p>
                                                <span class="font-green">处理信息:</span>

                                                客服已经确认,确认金额为: <span class="font-red">&yen;<%= Number(currentItem.verifiedSum).toFixed(data.pointDigit.DEFAULT)%></span>
                                                备注: <span class="font-orange"><%= currentItem.verificationComment==null?'暂无':currentItem.verificationComment%></span>
                                            </p>
                                            <p><span class="font-green">附件:</span>
                                                <%
                                                    var attachImages=currentItem.attachMentUrl;
                                                if(attachImages==null||typeof(attachImages)=='undefined'||attachImages.length==0){
                                                %>
                                                暂无

                                                <%
                                                }else{
                                                %>

                                                <%  var arr=attachImages.split(',');
                                                for(var i=0;i<arr.length;i++){%>
                                                <a href="<%= arr[i]%>" target="_blank" class="timeline-img">
                                                    <img src="<%= arr[i]%>" alt=""/>
                                                </a>
                                                <%}%>
                                                <%}%>
                                            </p>
                                            <p><span class="font-green">操作人: </span><%= currentItem.verifierName%>&nbsp;<span >电话号码: </span><%= currentItem.verifierMobile%></p>
                                        </div>
                                        <div class="cd-date">
                                            <span><%= currentItem.verifiedTime%></span>
                                        </div>
                                    </div>
                                </div>


                                <%}else if(currentItem.refundStatus=='APPROVED'){%>

                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p><span class="font-green">处理信息:</span> 财务人员已审核,审核意见:  <span class="font-red">同意</span>
                                                备注: <span class="font-orange"><%= currentItem.approveComment==null?'暂无':currentItem.approveComment %></span>  </p>
                                            <p><span class="font-green">操作人: </span><%= currentItem.approverName%>  电话:<%=currentItem.approverMobile  %> </p>
                                        </div>
                                        <div class="cd-date">
                                            <span><%= currentItem.approveTime %></span>
                                        </div>
                                    </div>
                                </div>



                                <%}else if(currentItem.refundStatus=='REJECT'){%>

                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p><span class="font-green">处理信息:</span> 财务退回</p>
                                            <p><span class="font-green">操作人: </span><%= currentItem.rejecterName%>  电话:<%=currentItem.rejecterMobile  %>
                                                备注: <span class="font-orange"><%= currentItem.rejectComment==null?'暂无':currentItem.rejectComment %></span> </p>
                                        </div>
                                        <div class="cd-date">
                                            <span><%= currentItem.rejectTime %></span>
                                        </div>
                                    </div>
                                </div>


                                <%}else if(currentItem.refundStatus=='EXECUTED'){%>

                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p><span class="font-green">处理信息:</span>出纳人员已经执行</p>
                                            <p><span class="font-green">操作人: </span><%= currentItem.excuterName%>  电话:<%=currentItem.excuterMobile  %>   </p>
                                        </div>
                                        <div class="cd-date">
                                            <span><%= currentItem.excuteTime %></span>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                                <%}%>





                        <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p><span class="font-green">处理信息:</span> 系统产生了退款单,退款金额为: <span class="font-color-red">&yen; <%= refundBasicInfo.refundAmount%></span></p>
                                        </div>
                                        <div class="cd-date">
                                            <span><%=  refundBasicInfo.createdOn %></span>
                                        </div>
                                    </div>
                                </div>


                                <%  var noShipInfo=typeof(refundShipInfo)=="undefined"  %>
                                <%  if(!noShipInfo) {%>
                                <div class="cd-timeline-block"  style="display:<%= noShipInfo?'none':'block'%>" >
                                    <div class="cd-timeline-img cd-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p><span class="font-green">处理信息:</span> 业务人员发货成功  备注: <span class="font-orange"> <%= refundShipInfo.shipRemark%> </span></p>
                                            <p><span class="font-green">操作人: </span><%= refundShipInfo.operatorName %>  <%= refundShipInfo.operatorMobile%> </p>
                                        </div>
                                        <div class="cd-date">
                                            <span><%= refundShipInfo.shipCreatedOn %></span>
                                        </div>
                                    </div>
                                </div>
                                <%}%>



                                <%  var closeOrder=typeof(closeOrderInfo)=='undefined' %>
                                <% if(!closeOrder){ %>
                                <div class="cd-timeline-block"  style="display:<%= closeOrder?'none':'block'%>" >
                                    <div class="cd-timeline-img cd-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p><span class="font-green">处理信息:</span> 业务人员关闭了订单 </p>
                                            <p><span class="font-green">操作人: </span><%= closeOrderInfo.closeOperatorName %>  <%= closeOrderInfo.closeMobileNum%> </p>
                                        </div>
                                        <div class="cd-date">
                                            <span><%= closeOrderInfo.closeOrderInfoDate %></span>
                                        </div>
                                    </div>
                                </div>
                                <%}%>



                                <%  var isReturnReceive=typeof(receiveOperatorInfo)=='undefined'; %>
                                <%if(!isReturnReceive){%>
                                <div class="cd-timeline-block"  style="display:<%= isReturnReceive?'none':'block'%>" >
                                    <div class="cd-timeline-img cd-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p><span class="font-green">处理信息:</span> 业务人员退货入库   退货单号 <a class="font-bold" target="_blank" href="/customer/return/detail?returnId=<%= receiveOperatorInfo.returnId %>">  <%= receiveOperatorInfo.returnDisplayId  %>  </a> </p>
                                            <p><span class="font-green">操作人: </span><%= receiveOperatorInfo.returnReceiveOperatorName %>  <%= receiveOperatorInfo.mobileNum%> </p>
                                        </div>
                                        <div class="cd-date">
                                            <span><%= receiveOperatorInfo.returnInfoUpdatedOn %></span>
                                        </div>
                                    </div>
                                </div>
                                <%}%>

                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture">
                                    </div>
                                    <div class="cd-timeline-content">
                                        <div class="cd-date cd-content">
                                            <p><span class="font-green">处理信息:</span> 客户提交了订单 <span class="font-green font-bold"><a target="_blank" href="/customer/order/pending?orderId=<%=refundBasicInfo.orderId %>"><%= refundBasicInfo.displayOrderId %></a></span></p>
                                            <p><span class="font-green">操作人: </span><%= refundOrderInfo.clientName %>  <%= refundOrderInfo.mobile%> </p>
                                        </div>
                                        <div class="cd-date">
                                            <span><%= refundOrderInfo.createOn%></span>
                                        </div>
                                    </div>
                                </div>



                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>
<script src="/static/source/js/customer/refund.js"></script>
<script>
    $('.datePicker').datetimepicker({
        timepicker: false,
        format:'Y-m-d',
    });
</script>