<% include ../../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->
        <% include ../../../_nav_top.ejs %>
        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../../_nav_head.ejs%>
        <div class="page">

            <div class="container page-content" style="min-height:800px">
                <div class="row space-top">
                    <!-- Sidebar-->
                    <% var active = "lists"; %>
                    <% include ../../_nav_customer_left.ejs%>
                    <!-- Sidebar CLose-->
                    <section class="col-md-10 pull-right  space-bottom page-content-right">



                        <% var basicPriceInfo=data.PriceData.goodsBasicInfo[0];
                        %>

                        <!--page-content-right-head-->
                        <aside class="" style="height:50px;background: rgb(236, 236, 236);">

                            <label style="float:left;margin-right: 11px;margin-bottom:0px;margin-top: 17px;">
                                <input type="hidden" id="hiddenGoodsId" value="<%=basicPriceInfo.id %>"/>
                                <%=basicPriceInfo.goodsNo%>/<%=basicPriceInfo.commonName%>/<%=basicPriceInfo.producer==''?'':basicPriceInfo.producer+'/'  %><%=basicPriceInfo.spec%>
                            </label>


                            <div style="float:right;margin-top: 13px;">

                                <div style="display:inline-block;display:none">
                                    <i class="fa fa-calendar"></i>
                                    <input style="vertical-align:middle;width:103px"  value="<%= data.Date.startDate; %>"   placeholder="开始时间"  id="priceStartDate" type="text" readonly class="datePicker selectTime"/>
                                    －
                                    <i class="fa fa-calendar"></i>
                                    <input style="vertical-align:middle;width:103px"   value="<%= data.Date.endDate ; %>"   placeholder="截止时间" id="priceEndDate" type="text"  readonly class="datePicker selectTime"/>
                                </div>
                                <a class="btn btn-primary searchClientPriceHistoryBtn " >查询</a>
                            </div>
                            <div style="margin-top:9px;float:right;position:relative;display: inline-block;width:138px;padding: 4px;margin-right:13px;">
                                <i class="fa fa-long-arrow-down" style="position:absolute;right:3px;top:11px"></i>
                                <input style="width: 138px;" id="inputValue" value="<%= data.clientName %>" data-id="<%= data.clientId%>"   name="clientInputFilter" placeholder="请输入客户名" oninput="checkThisClientId(this)" onpropertychange="checkThisClientId(this)">
                                <ul class="dropdown clientDropDown" style="width:138px;display: none;z-index:80">
                                </ul>
                            </div>


                        </aside>

                        <div class="col-sm-12" style="padding-right:0px;padding-left:0px">

                            <table class="table page-table " style="margin-bottom:20px">
                                <thead>
                                <tr>
                                    <td><strong>客户名称/编号</strong></td>
                                    <td><strong>调价时间</strong></td>
                                    <td style="width:20%">
                                        <strong>调整价格</strong>
                                    </td>
                                    <td>
                                        <strong>调价原因</strong>
                                    </td>
                                    <td><strong>操作</strong></td>
                                </tr>
                                </thead>
                                <tbody id="basicPriceInfo">

                                <% for(var i=0;i<data.PriceData.readjustPriceInfo.length;i++){%>
                                <% var item=data.PriceData.readjustPriceInfo[i]; %>

                                <tr>
                                    <td>
                                        <%= item.clientName %>/<%= item.clientCode %>
                                    </td>
                                    <td>
                                        <%= item.createdOn %>
                                    </td>
                                    <td>
                                       <span style="color:red">
                                          &yen;<%= item.clientPriceNew.toFixed(4)%>
                                       </span>
                                    </td>
                                    <td>
                                        <%= item.readjustReason%>
                                    </td>
                                    <td>
                                        <a href="/customer/priceset/approvedPriceModify?adjustPriceId=<%= item.readjustId; %>"><i class="fa fa-binoculars"></i></a>
                                    </td>
                                </tr>

                                <%}%>

                                </tbody>

                            </table>




                        </div>
                    </section><!--Catalog List Close-->


                    <section class="col-md-10 space-bottom space-top pull-right">
                        <div class="pull-left">
                            <a href="/customer/priceset/setgoodallprice?goodsId=<%=basicPriceInfo.id %>" class="btn btn-primary">返回</a>
                        </div>
                        <div class="pull-right">
                            <% var url = "/customer/priceset/clientpricehistory?goodsId="+basicPriceInfo.id %>
                            <% include ../../../_paginator.ejs%>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
    <% include ../../../_nav_bottom.ejs%>
</div>
<% include  ../../../footer.ejs %>
<script src="/static/source/js/customer/priceset.js"></script>
<script type="text/javascript">
    $(function(){
        $('.datePicker').datetimepicker({
            timepicker: false,
            format:'Y-m-d',
            minDate:false
        });
        //查询事件
        $(document).delegate('.searchClientPriceHistoryBtn','click',function(){
            //var valueStartDate
            var clientId =$('#inputValue').attr('data-id');
            var clientName=$('#inputValue').val();
            if(clientId==''){
                clientId='0';
            }
            if(clientName!=''&&clientId==''){
                clientId='null';
            }
//            if(clientId!=undefined){
                window.location.href='/customer/priceset/clientpricehistory?goodsId='+$('#hiddenGoodsId').val()+'&clientId='+clientId+'&clientName='+clientName;
//            }
        });
    });
</script>