<% include ../../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->
        <% include ../../../_nav_top.ejs %>
        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../../_nav_head.ejs%>
        <div class="page">

            <div class="container page-content" style="min-height:800px">
                <div class="row space-top">
                    <!-- Sidebar-->
                    <% var active = "lists"; %>
                    <% include ../../_nav_customer_left.ejs%>
                    <!-- Sidebar CLose-->
                    <section class="col-md-10 pull-right  space-bottom page-content-right">



                        <% var basicPriceInfo=data.PriceData.goodsBasicInfo[0];
                        %>

                        <aside class="page-content-right-head" style="background: rgb(236, 236, 236);">

                            <label style="float:left;margin-right: 30px;">
                                <input type="hidden" id="hiddenGoodsId" value="<%=basicPriceInfo.id %>"/>
                                <%=basicPriceInfo.goodsNo%>/<%=basicPriceInfo.commonName%>/<%=basicPriceInfo.producer==''?'':basicPriceInfo.producer+'/'  %><%=basicPriceInfo.spec%>
                            </label>


                            <div style="float:right;">
                                <select id="goodsclientCatePriceHistSelect" style="height: 30px;width: 120px;vertical-align:middle ">
                                    <%
                                    var clientCategorys = data.clientCategories;
                                            for (var i in clientCategorys){
                                        var clientCategory = clientCategorys[i];
                                    %>
                                    <% if( clientCategory.categoryId == data.clientCategoryId){%>
                                    <option value="<%= clientCategory.categoryId %>" selected="selected"><%= clientCategory.categoryName %></option>
                                    <% } else { %>
                                    <option value="<%= clientCategory.categoryId %>"><%= clientCategory.categoryName %></option>
                                    <% }} %>
                                </select>
                                <div style="height: 50px;display:none">
                                    <i class="fa fa-calendar"></i>
                                    <input style="vertical-align:middle;width:105px;"  value="<%= data.Date.startDate ; %>"   placeholder="开始时间"  id="priceStartDate" type="text" readonly class="datePicker selectTime"/>
                                    －
                                    <i class="fa fa-calendar"></i>
                                    <input style="vertical-align:middle;width:105px"   value="<%= data.Date.endDate ; %>" placeholder="截止时间" id="priceEndDate" type="text"  readonly class="datePicker selectTime"/>
                                </div>
                                <a class="btn btn-primary" id="searchClientCategoryHistoryBtn" >查询</a>
                            </div>

                        </aside>

                        <div class="col-sm-12" style="padding-right:0px;padding-left:0px">

                            <table class="table page-table " style="margin-bottom:20px">
                                <thead>
                                <tr>
                                    <td><strong>客户类</strong></td>
                                    <td><strong>调价时间</strong></td>

                                    <td style="width:20%">
                                        <strong>调整价格</strong>
                                    </td>
                                    <td>
                                        <strong>调价原因</strong>
                                    </td>
                                    <td><strong>操作</strong></td>
                                </tr>
                                </thead>
                                <tbody id="basicPriceInfo">

                                <% for(var i=0;i<data.PriceData.readjustPriceInfo.length;i++){%>
                                <% var item=data.PriceData.readjustPriceInfo[i]; %>

                                <tr>
                                    <td>
                                        <%= item.categoryName %>
                                    </td>
                                    <td>
                                        <%= item.createdOn %>
                                    </td>
                                    <td>
                                       <span style="color:red">
                                          &yen;<%= item.clientCategoryPriceNew.toFixed(4)%>
                                       </span>
                                    </td>
                                    <td>
                                        <%= item.readjustReason%>
                                    </td>
                                    <td>
                                        <a href="/customer/priceset/approvedPriceModify?adjustPriceId=<%= item.readjustId; %>"><i class="fa fa-binoculars"></i></a>
                                    </td>
                                </tr>

                                <%}%>

                                </tbody>

                            </table>




                        </div>
                    </section><!--Catalog List Close-->


                    <section class="col-md-10 space-bottom space-top pull-right">
                        <div class="pull-left">
                            <a href="/customer/priceset/setgoodallprice?goodsId=<%=basicPriceInfo.id %>" class="btn btn-primary">返回</a>
                        </div>
                        <div class="pull-right">
                            <% var url = "/customer/priceset/clientcategorypricehistory?goodsId="+basicPriceInfo.id %>
                            <% include ../../../_paginator.ejs%>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
    <% include ../../../_nav_bottom.ejs%>
</div>
<% include  ../../../footer.ejs %>
<script src="/static/source/js/customer/priceset.js"></script>
<script type="text/javascript">
    $(function(){
        $('.datePicker').datetimepicker({
            timepicker: false,
            format:'Y-m-d',
        });
        //查询事件
        $(document).delegate('#searchClientCategoryHistoryBtn','click',function(){
            //var valueStartDate
            var urlStr=window.location.href;
            var categoryId=$('#goodsclientCatePriceHistSelect').val();
            //替换值
            var startIndex=urlStr.lastIndexOf('=');
            var testStr= urlStr.substr(0,startIndex);

            testStr+='='+categoryId;

            window.location.href=testStr;




        });


        $(document).delegate('#goodsclientCatePriceHistSelect','change',function(){
            var urlStr=window.location.href;
            var categoryId=$('#goodsclientCatePriceHistSelect').val(); //当下选择的分类的Id

            var oldCategoryId=loadPageVar('clientCategoryId');
            var currentHref=window.location.href;
            var newHref=currentHref.replace('clientCategoryId='+oldCategoryId,'clientCategoryId='+categoryId);


            window.location.href=newHref;
        })
    });

    function loadPageVar (sVar) {
        return decodeURI(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURI(sVar).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
    }
</script>



















