<% include ../../../header.ejs%>
<%
var goodsType = data._goodsTypes.children;

%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<div style="position:relative;width:100%;height:100%;">
    <% include  ../../../_nav_head_mobile.ejs %>
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../../_nav_head.ejs%>
        <div class="page double-padding-bottom">
            <div class="container page-content">
                <div class="row space-top">
                    <% var active = "financeCenter"; %>
                    <% include ../../_nav_customer_left.ejs%>

                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/bill/financecenter" class="itemActive">授信客户结款</a>
                                <a href="/customer/bill/cod">货到付款结款</a>
                                <a href="/customer/bill/refundCheck">退款审核</a>
                                <a href="/customer/bill/refundPerform">退款执行</a>
                                <a href="/customer/bill/tradeDetail">交易明细</a>
                            </div>
                        </div>
                        <div class="detail-client-name-container">
                            <div class=" vertical-middle pull-left" >
                                客户名称:
                                <span class="detail-client-name"><%= data.clientCreditDetail.clientName%></span>
                            </div>
                            <div class=" vertical-middle pull-right">
                                <div class="defaultdropdown" style="display:inline-block">
                                    <div class="btn-group">
                                        <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span id="spanGetStartYear"><%= data.chooseYear%></span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu getYears" style="height: 250px;overflow: scroll;overflow-x: hidden;">
                                        </ul>
                                    </div>
                                </div>
                                <div class="defaultdropdown" style="display:inline-block">
                                    <div class="btn-group">
                                        <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span id="spanGetStartMonth"><%= data.chooseMonth %></span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu getMonth" style="height: 250px;overflow: scroll;overflow-x: hidden;">
                                        </ul>
                                    </div>
                                </div>

                                <button  id="creditUserReceivableBtn"  class="btn">查询</button>

                                <span class="tip-color">报表生成时间: <%= data.clientCreditDetail.createdOn%> </span>

                                <button class="btn export-btn"> 导出</button>
                            </div>


                        </div>


                        <div class="detail-sum margin-top-md">

                            <div class="pull-left detail-header-left">
                              <span>合计
                                  </span>

                            </div>
                            <div class="pull-left detail-header-right">
                                <table>
                                    <tr>
                                        <td>期初余额</td>

                                        <td>出库金额</td>
                                        <td>红冲金额</td>
                                        <td>应结款总额</td>
                                        <td>已结款总额</td>
                                        <td>待结款总额</td>
                                        <td>期末余额</td>
                                    </tr>
                                    <tr>
                                        <% var currentCredits=data.clientCreditDetail.originAmount  %>
                                        <td class="font-color-blue font-weight-bold">&yen;<span >
                                                <%= currentCredits!=null&&typeof(currentCredits)!='undefined'?currentCredits.toFixed(data.pointDigit.DEFAULT):(0).toFixed(data.pointDigit.DEFAULT) %>
                                            </span>
                                        </td>



                                        <% var shipAmount=data.clientCreditDetail.shipAmount %>
                                        <td class="font-color-blue font-weight-bold">&yen;<span>
                                                <%= shipAmount!=null&&typeof(shipAmount)!='undefined'?shipAmount.toFixed(data.pointDigit.DEFAULT):(0).toFixed(data.pointDigit.DEFAULT)  %>
                                            </span>
                                        </td>

                                        <% var redflushAmount=data.clientCreditDetail.redflushAmount  %>
                                        <td class="font-color-red font-weight-bold">&yen;<span>
                                               <%= redflushAmount!=null&&typeof(redflushAmount)!='undefined'?redflushAmount.toFixed(data.pointDigit.DEFAULT):(0).toFixed(data.pointDigit.DEFAULT)  %>
                                            </span>
                                        </td>

                                        <% var needToPayAmount=data.clientCreditDetail.needToPayAmount  %>
                                        <td class="font-color-red font-weight-bold">&yen;
                                            <span>
                                                <%= needToPayAmount!=null&&typeof(needToPayAmount)!='undefined'?needToPayAmount.toFixed(data.pointDigit.DEFAULT):(0).toFixed(data.pointDigit.DEFAULT)  %>
                                            </span>
                                        </td>

                                        <% var clearAmount= data.clientCreditDetail.clearAmount %>
                                        <td class="font-color-green font-weight-bold">&yen;
                                            <span>
                                                <%= clearAmount!=null&&typeof(clearAmount)!='undefined'?clearAmount.toFixed(data.pointDigit.DEFAULT):(0).toFixed(data.pointDigit.DEFAULT)  %>
                                            </span>
                                        </td>
                                        <% var waitForState= data.clientCreditDetail.waitForState; %>
                                        <td class="font-color-green font-weight-bold">&yen;
                                            <span>
                                                <%= waitForState!=null&&typeof(waitForState)!='undefined'?waitForState.toFixed(data.pointDigit.DEFAULT):(0).toFixed(data.pointDigit.DEFAULT) %>
                                            </span>
                                        </td>

                                        <% var arrearsBalance=data.clientCreditDetail.ultimateAmount  %>
                                        <td class="font-color-blue font-weight-bold">&yen;<span>
                                                <%= arrearsBalance!=null&&typeof(arrearsBalance)!='undefined'?arrearsBalance.toFixed(data.pointDigit.DEFAULT):(0).toFixed(data.pointDigit.DEFAULT) %>
                                            </span>
                                        </td>
                                    </tr>
                                </table>

                            </div>

                        </div>


                        <div class="space-top">
                            <table class="sm-page-table ">
                                <thead class="finance-table-head">
                                <tr>
                                    <td><strong>订单编号</strong></td>
                                    <td><strong>下单时间</strong></td>
                                    <td><strong>出库时间</strong></td>
                                    <td><strong>订单金额</strong></td>
                                    <td><strong>出库金额</strong></td>
                                    <td><strong>红冲金额</strong></td>
                                    <td><strong>应结款</strong></td>

                                </tr>
                                </thead>
                                <tbody class="finance-table-body">

                                <% for(var i =0;i<data.clientCreditDetail.orders.length;i++){%>


                                <% var currentItem=data.clientCreditDetail.orders[i] ;%>
                                <tr>
                                    <td><a href="/customer/order/pending?orderId=<%=currentItem.id %>"><%= currentItem.displayOrderId %></a></td>
                                    <td><%= currentItem.orderCreateTime%></td>
                                    <td><%= currentItem.shipCreateTime==null?'--':currentItem.shipCreateTime %></td>
                                    <td><span>
                                            <% if(currentItem.receivableAmount==null||typeof(currentItem.receivableAmount)=='undefined'){%>
                                            ---
                                            <%}else{%>
                                            &yen;<%= currentItem.receivableAmount.toFixed(data.pointDigit.DEFAULT) %>
                                            <%}%>
                                        </span></td>
                                    <td><span>
                                            <% if(currentItem.shipAmount==null||typeof(currentItem.shipAmount)=='undefined'){%>
                                                ---
                                            <%}else{%>
                                                &yen;<%= currentItem.shipAmount.toFixed(data.pointDigit.DEFAULT) %>
                                            <%}%>

                                        </span></td>
                                    <td class="font-color-red"><span >
                                            <% if(currentItem.redflushAmount==null||typeof(currentItem.redflushAmount)=='undefined'){%>
                                            ---
                                            <%}else{%>
                                            &yen;<%= currentItem.redflushAmount.toFixed(data.pointDigit.DEFAULT) %>
                                            <%}%>

                                        </span></td>
                                    <td class="font-color-blue-green"><span>
                                            <% if(currentItem.needToPayAmount==null||typeof(currentItem.needToPayAmount)=='undefined'){%>
                                            ---
                                            <%}else{%>
                                            &yen;<%= currentItem.needToPayAmount.toFixed(data.pointDigit.DEFAULT) %>
                                            <%}%>
                                        </span></td>
                                </tr>

                                <%}%>
                                </tbody>
                            </table>
                        </div>
                        <div id="creditClientPage"  class="margin-top-md">
                            <a href="/customer/bill/financecenter" class="btn btn-primary">返回</a>


                            <% var url = "/customer/bill/creditClientFigure?clientId="+data.clientCreditDetail.clientId %>
                            <% include ../../../_paginator.ejs%>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../../_nav_bottom.ejs%>
</div>
<% include  ../../../footer.ejs %>
<script type="text/javascript">
    var myDate = new Date().getUTCFullYear();
    var str1 = "";
    for (var i = myDate; i > 1990; i--) {
        str1 += "<li><a>" + i + "</a></li>";
    }
    var str2 = "";
    for (var i = 1; i <=12; i++) {
        if (i < 10) {
            i = "0" + i;
        }
        str2 += "<li><a>" + i + "</a></li>";
    }
    $(".getYears").append(str1);
    $(".getMonth").append(str2);
</script>