<% include ../../../header.ejs%>
<%
var goodsType = data._goodsTypes.children;

%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<div style="position:relative;width:100%;height:100%;">
    <% include  ../../../_nav_head_mobile.ejs %>
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../../_nav_head.ejs%>
        <div class="page double-padding-bottom">

            <div class="container page-content">
                <div class="row space-top">
                    <% var active = "financeCenter"; %>
                    <% include ../../_nav_customer_left.ejs%>
                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/bill/financecenter" class="itemActive">授信客户结款</a>
                                <a href="/customer/bill/cod">货到付款结款</a>
                                <a href="/customer/bill/bonusReports">红冲记录</a>
                                <a href="/customer/bill/refundCheck">退款审核</a>
                                <a href="/customer/bill/refundPerform">退款执行</a>
                                <a href="/customer/bill/tradeDetail">交易明细</a>
                            </div>
                        </div>
                        <% var titleData = data.clientReceiveData.clientStatementSum%>
                        <div class="margin-top-md padding-left-md finance-filter-container font-weight-bold">
                            <span class=" font-color-green"><%=titleData.clientName%></span>  的结款记录
                        </div>

                        <div class="finance-sum">
                            <div class="pull-left" style="width:32%;text-align:center">
                                <span class="margin-right-lg">应结款:</span>
                                <span class="n-bill clearSum">&yen;<%= (titleData.needToPaySum).toFixed(data.pointDigit.DEFAULT)%></span>
                            </div>
                            <div class="pull-left" style="width:36%;text-align:center">
                                <span class="margin-right-lg">已结款:</span>
                                <span class="finish-bill">&yen;<%= (titleData.clearAmountSum).toFixed(data.pointDigit.DEFAULT)%></span>
                            </div>
                            <div class="pull-left" style="width:32%;text-align:center">
                                <span class="margin-right-lg">待结款:</span>
                                <span class="pend-bill ">&yen;<%= (titleData.waitForStateSum).toFixed(data.pointDigit.DEFAULT)%></span>
                            </div>
                        </div>

                        <div class="space-top">
                            <table class="sm-page-table ">
                                <thead>
                                <tr>
                                    <td><strong>结款周期</strong></td>
                                    <td><strong>结款时间</strong></td>
                                    <td><strong>结款人</strong></td>
                                    <td><strong>本期应结</strong></td>
                                    <td><strong>本期结款</strong></td>
                                </tr>
                                </thead>
                                <tbody class="finance-table">


                                <% var financeDetails=data.clientReceiveData.clearDetails;%>

                                <% for(var i=0;i<financeDetails.length;i++){%>
                                    <% var currentItem=financeDetails[i];%>
                                    <tr >
                                        <td class="billMonth"><%= currentItem.billMonth %></td>
                                        <td><%= currentItem.clearTime%></td>
                                        <td><%= currentItem.operatorName%></td>
                                        <td class="font-color-blue">&yen;<a href=""><span class="receivableState" ><%= currentItem.receivableAmount.toFixed(data.pointDigit.DEFAULT)%></span></a> </td>
                                        <td class="font-color-green">&yen;<a href=""><span class="clearAmount"><%= currentItem.clearAmount.toFixed(data.pointDigit.DEFAULT)%></span></a></td>

                                    </tr>
                                <%}%>

                                </tbody>
                            </table>

                        </div>
                        <div    class="margin-top-md">
                            <a href="/customer/bill/financecenter" class="btn btn-primary">返回</a>

                            <% var url = "/customer/bill/creditClientReceive?clientId="+data.clientId %>
                            <% include ../../../_paginator.ejs%>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../../_nav_bottom.ejs%>
</div>
<% include  ../../../footer.ejs %>
<script type="text/javascript">
    var myDate = new Date().getUTCFullYear();
    var str1 = "";
    for (var i = myDate; i > 1990; i--) {
        str1 += "<li><a>" + i + "</a></li>";
    }
    var str2 = "";
    for (var i = 12; i > 0; i--) {
        if (i < 10) {
            i = "0" + i;
        }
        str2 += "<li><a>" + i + "</a></li>";
    }
    $(".getYears").append(str1);
    $(".getMonth").append(str2);
</script>