<% var activetemp = ((typeof(active) == "undefined") ? "" : active) %>
<div class="col-md-2 pull-left" id="sidebar">
    <aside class="sidebar no-devider rect rect-new">
        <!--Color Filters-->
        <div class="widget list-item <%= (activetemp == "personal_center_customer"? "orderSidebarActive" : "")%>">
            <h4>
                <a href="/customer" class="click-link">
                    <i class="fa fa-user"></i>&nbsp;个人中心
                </a>
            </h4>
        </div>
        <div class="widget list-item <%= (activetemp == "accounts"? "orderSidebarActive" : "")%>">
            <h4>
                <a href="/customer/account" class="click-link">
                    <i class="fa fa-users"></i>&nbsp;账户管理
                </a>
            </h4>
        </div>
        <div class="widget list-item <%= (activetemp == "clients"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/client" class="click-link">
                    <i class="fa fa-building"></i>&nbsp;客户管理</a></h4>
        </div>
        <div class="widget list-item <%= (activetemp == "lists"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/goods/available/list" class="click-link">
                    <i class="fa fa-cube"></i>&nbsp;商品管理</a></h4>
        </div>
        <div class="widget list-item <%= (activetemp == "pricesets"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/priceset" class="click-link">
                    <i class="fa fa-cube"></i>&nbsp;调价审核</a></h4>
        </div>
        <div class="widget list-item <%= (activetemp == "order_customer"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/order" class="click-link">
                    <i class="fa fa-file-text"></i>&nbsp;订单管理</a></h4>
        </div>
        <div class="widget list-item <%= (activetemp == "ship_customer"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/ship?type=received" class="click-link">
                    <i class="fa fa-paper-plane"></i>&nbsp;发货管理</a></h4>
        </div>
        <div class="widget list-item <%= (activetemp == "return_customer"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/return" class="click-link">
                    <i class="fa fa-truck"></i>&nbsp;退货管理</a></h4>
        </div>
        <div class="widget list-item <%= (activetemp == "message_center"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/message" class="click-link">
                    <i class="fa fa-cog"></i>&nbsp;通知中心</a></h4>
        </div>

        <div class="widget list-item <%= (activetemp == "carousel"? "orderSidebarActive" : "")%>">
            <!--?categoryField=portal_config-->
            <h4><a href="/page/customer/portal/carousel" class="click-link">
                    <i class="fa fa-home"></i>&nbsp;门户设置</a></h4>
        </div>

        <div class="widget list-item <%= (activetemp == "product_setting"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/system/product" class="click-link">
                    <i class="fa fa-cog"></i>&nbsp;系统设置</a></h4>
        </div>
        <div class="widget list-item <%= (activetemp == "operatorLog_customer"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/system/operatorLog" class="click-link">
                    <i class="fa fa-book"></i>&nbsp;操作日志</a></h4>
        </div>
        <div class="widget list-item <%= (activetemp == "financeCenter"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/bill/financeCenter" class="click-link">
                    <i class="fa fa-book"></i>&nbsp;财务中心</a></h4>
        </div>
        <!--<div class="widget list-item">-->
            <!--<h4><a href="/customer/bill/list" class="click-link">-->
                    <!--<i class="fa fa-book"></i>&nbsp;财务报表</a></h4>-->
        <!--</div>-->
        <div class="widget list-item <%= (activetemp == "verifyRefund"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/bill/verifyRefund" class="click-link">
                    <i class="fa fa-users"></i>&nbsp;客服中心</a></h4>
        </div>
        <div class="widget list-item <%= (activetemp == "promotion"? "orderSidebarActive" : "")%>">
            <h4><a href="/customer/promotion" class="click-link">
                    <i class="fa fa-bullhorn"></i>&nbsp;促销管理</a></h4>
        </div>
    </aside>
</div><!--Sidebar Close--><!--Sidebar Close-->
