<%
/*
 # Copyright © 2015
 # -----------------------------------------------------------------
 */
%>
<% include ../header.ejs%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
            <!--Header Toolbar-->
            <% include ../_nav_top.ejs %>
            <!--Header Toolbar Close-->

            <!--Header-->
            <% include _nav_head.ejs%>
            <div class="page double-padding-bottom">
    <div class="container">
        <div class="row space-top" >
            <section class="col-md-10 pull-right  space-bottom" style="background: white;box-shadow: 1px 1px 5px #888888;padding: 0px">
                    <aside style="background: #f5f5f5;height: 50px;line-height: 50px;">
                        <table class="table" style="text-align: center;">
                            <tr>
                                <th style="font-size: 15px"><a>筛选：订单状态</a></th>
                                <th style="font-size: 15px"><a>排序：下单时间</a></th>
                                <th style="line-height: 5px"><input type="text" name="" placeholder="" style="width:150px" ></th>
                                <th>
                                    <a class="btn btn-primary">新增商品</a>
                                </th>
                            </tr>
                        </table>
                    </aside>
                <div class="col-sm-12">
                <table class="table" style="text-align: center;">
                    <tr>
                        <td style="height:70px;line-height:70px;padding-top: 0px;border-top: none;"><strong></strong></td>
                        <td style="height:70px;line-height:70px;padding-top: 0px;border-top: none;text-align: start"><strong>商品信息</strong></td>
                        <td style="height:70px;line-height:70px;padding-top: 0px;border-top: none;"><strong>开始时间</strong></td>
                        <td style="height:70px;line-height:70px;padding-top: 0px;border-top: none;"><strong>结束时间</strong></td>
                        <td style="height:70px;line-height:70px;padding-top: 0px;border-top: none;"><strong>优惠价格</strong></td>
                        <td style="height:70px;line-height:70px;padding-top: 0px;border-top: none;"><strong>状态</strong></td>
                        <td style="height:70px;line-height:70px;padding-top: 0px;border-top: none;"><strong>操作</strong></td>
                    </tr>
                    <% for(var i in product) {%>
                    <form method="post">
                    <tr>
                        <td style="width: 5px;height: 5px">
                            <div class="checkbox" >
                                <label class="chkItem"><input type="checkbox" class="chkGoods"  name="" checked=""> </label>
                            </div>
                        </td>
                        <td style="height:60px;line-height:60px;padding-top: 0px">
                            <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                <img src="/static/img/shop/cart/01.jpg"/>
                            </div>
                            <div style="float: left;margin-left: 10px;text-align: left;">
                            <h6><%= product[i].name %></h6>
                            <h6><%= product[i].factory %></h6>
                            </div>
                        </td>
                        <td style="vertical-align: inherit;padding-top: 0px">
                            <div>
                                <h6><%= product[i].starttimes %></h6>
                                <h6><%= product[i].startsecond %></h6>
                            </div>
                        </td>
                        <td style="vertical-align: inherit;padding-top: 0px">
                            <div>
                                <h6><%= product[i].endtimes %></h6>
                                <h6><%= product[i].endsecond %></h6>
                            </div>
                        </td>
                        <td style="height:70px;line-height:70px;padding-top: 0px"><%=  product[i].value %></td>
                        <td style="height:70px;line-height:70px;padding-top: 0px"><%=   product[i].status %></td>
                        <td style="height:70px;line-height:70px;padding-top: 0px">
                            <a href="#"><i class="fa fa-pencil-square-o"></i> </a>
                            <a href="#"><i class="fa fa-unlink"></i> </a>
                            <a href="#"><i class="fa fa-trash"></i> </a>
                        </td>
                    </tr>
                    </form>
                    <% }%>
                </table>
                </div>
                </section>
                <!--Catalog List Close-->

            <!-- Sidebar-->
            <% include _nav_customer_left.ejs%>
            <!-- Sidebar CLose-->


            <section class="space-bottom pull-right">

                <ul class="pagination space-top">
                    <li class="prev goToPage" value="0">
                        <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=0">上一页</a>
                    </li>


                    <li class="goToPage active" value="1">
                        <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=1">1</a>
                    </li>

                    <li class="goToPage " value="2">
                        <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=2">2</a>
                    </li>

                    <li class="goToPage " value="3">
                        <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=3">3</a>
                    </li>

                    <li class="goToPage " value="4">
                        <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=4">4</a>
                    </li>

                    <li>...</li>
                    <li class="goToPage" value="10">
                        <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=10"> 10</a>
                    </li>
                    <li class="next goToPage" value="2">
                        <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=2">下一页</a>
                    </li>
                </ul>
            </section>
                    </div>
                </div>
            </div>
        </div>
    <% include ../_nav_bottom.ejs%>
</div>
<% include  ../footer.ejs %>