<!--Header Toolbar-->
<div class="header-toolbar tool-head" style="width: 100%; z-index: 1022;">
    <div class="container">
        <div class="cont-info pull-left">
            欢迎来到神木医药网！
        </div>
        <div class="cont-info pull-right">
            <% if (typeof(data._userInfo) === "undefined"){ %>
               <div>
                <a id="login_link" href="/login?nextTo=<%= data.nextTo%>"><i class="fa fa-user"></i>请登录</a>
                或&nbsp;<a id="redirect_register" href="/page/register">注册</a>
               </div>
            <% } else { %>
            <% var username = data._userInfo.clientName? data._userInfo.clientName:data._userInfo.operatorName %>
            <div>
                <% if(data._userInfo&&data._userInfo.operatorType=="CUSTOMER") { %>
                    <a href="/customer" title="<%= username %>">
                <% } else { %>
                    <a href="/portal" title="<%= username %>">
                <% } %>
                        <i class="fa fa-user"></i>
                        <%= (username.length > 8)? (username.substr(0,5)+'...'):username %>
                        <% if (data._client) { %>
                        <% if (data._client.registerStatus === "CREATED") { %>
                        <%= "(待审核)" %>
                        <% } else if (data._client.registerStatus === "REJECTED") { %>
                        <%= "(审核申请被退回)" %>
                        <% }%>
                        <% } %>
                    </a>
                        </a>
            </div>
            <div>
                <a  href="/logout" class="logout"><i class="fa fa-power-off"></i><strong>退出</strong></a>
            </div>
            <% } %>

            <% if(data._userInfo&&data._userInfo.operatorType=="CUSTOMER"){%>
            <div><a href="/customer/order"><i class="fa fa-file-text"></i>订单管理</a></div>
            <%}else{%>
            <div><a href="/order"><i class="fa fa-file-text"></i>我的订单</a></div>
            <%}%>
            <% if(data._userInfo) {%>
                <% var msgJumpUrl = {
                    'CUSTOMER': '/customer/message',
                    'CLIENT': '/message'
                }%>
                <div class="topnav_news" data-timeout="<%= data.msgCheckSec %>" data-operatorType="<%= data._userInfo.operatorType %>"
                     data-clientId="<%= data._userInfo.clientId %>">
                    <a href="<%= msgJumpUrl[data._userInfo.operatorType] || '#' %>">
                        <i class="fa fa-bell"></i>新消息<span class="">（<span class="newsAmount">0</span>）</span></a>
                </div>
            <% } %>

            <% if(data._userInfo&&data._userInfo.operatorType=="CUSTOMER"){%>
            <%}else{%>
                <% var purchaseList = [] %>
                <% if(data._client && data._client.purchaseList) { %>
                    <% purchaseList = data._client.purchaseList  %>
                    <div class="dropdown" id="puchaseListDropdown" style="border:none;background-color: #f5f5f5">
                        <a href="javascript:void(0);" id="shopListDropdownMenu" class="dropdown-toggle"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-star"></i>常购清单
                            <span class="text-mcolor">（<span class="shopListAmount"><%= purchaseList.length %></span>）</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="shopListDropdownMenu" style="min-height:30px;">
                            <% if(purchaseList.length==0){%>
                                <li class="click-link" style="padding: 5px;">
                                    <h5>你还没有常购清单哦</h5>
                                    <a href="/portal/purchaseList" style="background: none;color: #237935;padding: 0">
                                        去添加  <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            <%}else if(purchaseList.length<4){%>
                            <% for(var i=0; i<purchaseList.length; i++) { %>
                            <li class="click-link">
                                <a href="/portal/purchaseList/edit?type=edit&listId=<%= purchaseList[i].clientFavorId%>">
                                    <%= purchaseList[i].name %>
                                </a>
                            </li>
                            <% } %>
                            <%}else{%>
                            <li class="click-link">
                                <% for(var i=0; i<purchaseList.length; i++) { %>
                                <li class="click-link">
                                    <a href="/portal/purchaseList/edit?type=edit&listId=<%= purchaseList[i].clientFavorId%>">
                                        <%= purchaseList[i].name %>
                                    </a>
                                </li>
                                <% } %>
                                <a href="/portal/purchaseList" style="background: none;color: #237935;padding-left: 20px;">
                                    查看更多
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
            <%}%>
            <div >
                <!--3202826431-->
                <!--<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2265958970&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2265958970:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>-->

                <a href="javascript:void(0)"  onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin=3202826431&site=qq&menu=yes', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" >
                    <i class="fa fa-qq"> 在线咨询</i>
                </a>
            </div>
        </div>
    </div>
</div>
