<!-- Footer Subscribe -->
<div class="sm-bottom">
    <div class="sm-footer">
        <div class="container">
            <% if( typeof data != 'undefined' && typeof data.linkColumns != 'undefined'){ %>
            <%
                var columns = data.linkColumns;
                var length = columns.length ;
                var width = 12/length;
            %>
            <% for(var i = 0; i < length; i++){ %>
            <% var item = columns[i]; %>
            <div class="col-md-<%= width %> col-sm-<%= width %> col-xs-6">
                <h4  style="font-size: 16px;"><%= item.name%></h4>
                <% for(var j = 0; j < item.links.length; j++){  %>
                <% var link = item.links[j]; %>
                <div class=" featured-post">
                    <h5>
                        <% if(link.linkContentLength!=0){ %>
                        <a href="/staticcontent/<%= link.id %>"><%= link.name %></a>
                        <%}else{%>
                        <%= link.name %>
                        <%}%>
                    </h5>
                </div>
                <% } %>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
    <div class="copyright copyright-bottom">
        <div class="container">
            <div class="customerInfo">
                <% var licences = [] %>
                <% var contracts = [] %>
                <% if(data._customerInfo && data._customerInfo.licences) {%>
                    <% licences = data._customerInfo.licences %>
                <% } %>
                <% if(data._customerInfo && data._customerInfo.licences) {%>
                    <% contracts = data._customerInfo.contracts %>
                <% } %>

                <p>
                    <% for(var i = 0; i < licences.length; i++){ %>
                        <a href="<%= licences[i].licUrl %>" target="_blank"><%= licences[i].licName %></a><span><%= (i==(licences.length-1)?'':' |') %></span>
                    <% } %>
                    <!--<span>ICP资格证书</span>|-->
                    <!--<span>互联网药品信息服务资格证:(X)－经营性－XXXX－XXXX</span>|-->
                    <!--<span>互联网药品交易资格证书:XXXXXX</span>-->
                </p>
                <p>
                    <% for(var i = contracts.length-1; i >= 0; i--){ %>
                        <span class="contractPhones"><%= contracts[i].name + ':' + contracts[i].content %>|</span>
                    <% } %>
                <!--<%if (typeof data !== "undefined" && typeof data._version !== "undefined") {%>- <%= data._version.version %>&nbsp;(<%= data._version.revision%>&nbsp;<%= data._version.time%>)<%}%>-->
                     <a href="/login_sub_item">快捷监管通道</a>
                </p>
                <p>新疆神木药业有限责任公司©2016</p>
                <p>本网站由<a href="http://www.romens.cn" target="_blank" style="color:#237935">青岛雨诺网络股份有限公司</a>提供技术支持</p>
            </div>
        </div>
    </div>
</div>