<% include ../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.pageSize) || 10;
var page = parseInt(paginator.page) || 1;
%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../../_nav_head.ejs%>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page">

            <div class="container page-content">
                <div class="row">

                    <div style="position: fixed;z-index: 1022;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                    </div>
                    <div id="selectGoods" style="display:none;width:700px;height:900px">
                        <div style="font-size: 14px;padding: 4px;">
                            <div class="page-content space-top">
                                <section class="page-content-right">
                                    <aside class="page-content-right-head">
                                        <label>添加发货</label>
                                    </aside>
                                    <div class="form" style="padding:30px">
                                        <div class="row" style="margin-top:10px">
                                            <span class="col-sm-3">批次号:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <input disabled class="col-sm-9 inputBatchNum" type="text"/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">生产日期:</span>
                                            <input disabled class="col-sm-9 inputGoodsProduceDate time" type="text" id="productDate" />
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                有效期至:
                                            </span>
                                            <input  disabled class="col-sm-9 inputGoodsValidDate time" type="text" id="quanlityDate"/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: middle;">数量：</span>
                                            </div>
                                            <div class="col-sm-5" style="display: inline;">
                                                <div style="display:inline-block">
                                                    <!--<div>
                                                        <a class="incr-btn fa fa-minus-circle inactive subA" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                                        <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                            [<label id="lgNum"></label><label id="lgUnit"></label>/大包]
                                                        </p>
                                                        <a class="incr-btn fa fa-plus-circle incA" data-action="increase" id="skuplus_lgnum_0" href="#"></a>

                                                    </div>-->
                                                    <div>
                                                        <a class="incr-btn fa fa-minus-circle inactive subA" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                                        <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                            [<label id="midNum"></label><label id="midUnit"></label>/件]
                                                        </p>
                                                        <a class="incr-btn fa fa-plus-circle incA" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4" style="display:inline">
                                                <div style="display:inline">
                                                    <a  class="quantity_change subNumShip " type="decrease" quantity="1"  href="#"><i class="fa fa-angle-left inactive "></i></a>
                                                    <input class="inputQuantity" type="text"  value="1" style="width:145px;text-align: center;">
                                                    <a class="quantity_change incNumShip" type="increase" quantity="1"   href="#"> <i class=" fa fa-angle-right "></i></a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: top;">电子监管码：</span>
                                            </div>
                                            <textarea name="" style="height:150px;resize:none" id="" class="inputDrugESC col-sm-9"></textarea>
                                        </div>

                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: top;">质检报告(附件):</span>
                                            </div>
                                           <!-- <div class="col-sm-9" style="padding: 0">
                                                <% include ../../inportFile.ejs %>
                                            </div>-->
                                            <div class="col-sm-9" style="padding: 0">
                                                <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                                    <div class="fileContainer">
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </form>
                                                <span style="display: none">暂无质检报告信息</span>
                                            </div>
                                        </div>
                                        <div class="pull-right row">
                                            <a class="btn btn-primary" id="confirmReturnItem">确认</a>
                                            <a class="btn btn-primary closeIframeGuide">取消</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <!--Sidebar-->
                    <% var active = "return"; %>
                    <% include ../../_order_sidebar.ejs%>
                    <!--Sidebar Close-->
                    <% var returnCommon = returns[0]%>
                    <section class="col-md-10">
                        <div class="filterDiv">
                            <div class="filterHead">
                                <div>退货单号：
                                    <a href="/order/return/detail?returnId=<%=returnCommon.id%>"><%=returnCommon.displayReturnId%></a>&nbsp;-&nbsp;<%=data._translation.ReturnStatus[returns[0].returnStatus]%>
                                    <input type="hidden" id="hiddenShipAndOrder"
                                           shipId="<%= returns[0].shipId %>"
                                           orderId="<%=  returns[0].orderId%>"
                                            />
                                </div>
                            </div>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="goods-info"><strong>商品信息</strong></td>
                                    <td><strong>货号</strong></td>
                                    <td><strong>发货数量</strong></td>
                                    <!--<td><strong>已退数量</strong></td>-->
                                    <td><strong>申退数量</strong></td>
                                    <td><strong>可退数量</strong></td>
                                    <td><strong>实退数量</strong></td>
                                    <% if (returnCommon.status != "CLOSED"){ %>
                                    <td><strong>［批次］/数量</strong></td>
                                    <% } %>
                                </tr>
                                </thead>
                                <tbody>
                                <% var returnShipDetails=returns; %>
                                <% var oldGoodsId = "";%>
                                <% for (var j in returnShipDetails) {%>

                                <% var item = returnShipDetails[j]%>

                                <% if(oldGoodsId != item.goodsId) {%>
                                <% oldGoodsId = item.goodsId%>
                                <tr name="goodsItem" goodsId="<%=item.goodsId%>" soldPrice="<%=item.returnPrice%>"  shipId="<%= returnShipDetails[0].shipId%>" orderId="<%= returnShipDetails[0].orderId%>">
                                    <td class="goods-info">
                                        <div class="goods-img">
                                            <img src="<%= item.imageUrl%>"/>
                                        </div>
                                        <div class="goods-name-info">
                                            <h6><a href="/goods/detail?goodsId=<%=item.goodsId%>"><%=item.commonName%><%if(item.alias){%>(<%=item.alias%>)<%}%></a></h6>
                                            <h6><%=item.producer%></h6>
                                            <h6> <%=item.spec%></h6>
                                            <div class="goods-name-box">
                                                <%if(item.isNationalMedicine == "1"){%>
                                                <div class="base-medical-sign" title="国家基本药品">基</div>
                                                <% } else {%>
                                                <% } %>

                                                <%if(item.isMedicalInsuranceDrugs == "1"){%>
                                                <div class="medical-sign" title="医保药品">医</div>
                                                <% } else {%>
                                                <% } %>

                                                <%if(item.isPrescriptionDrugs == "1"){%>
                                                <div class="prescriptions-sign" title="处方药品">处</div>
                                                <% } else {%>
                                                <% } %>

                                                <% if (item.isSplit=="1") { %>
                                                <div class="dismantle-sign" title="可拆零">拆</div>
                                                <% } else {%>
                                                <% } %>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <%=item.goodsNo%>
                                    </td>
                                    <td>
                                        <%= item.shippedQuantitySum %>
                                        <input type="hidden" id="maxReceivedNum_<%=item.goodsId%>"
                                               largePackNum="<%=item.largePackNum%>" largePackUnit="<%=item.measureUnit%>"
                                               middlePackNum="<%=item.middlePackNum%>" middlePackUnit="<%=item.measureUnit%>"
                                               approvedQuantity="<%=item.approvedQuantity%>"
                                                >
                                    </td>
                                    <!--<td><%= item.totalReturnedQty==null?0:item.totalReturnedQty%></td>-->
                                    <td><%=item.applyQuantity%></td>
                                    <td><%=item.approvedQuantity%></td>
                                    <td class="font-orange applySum" id="receivedQty_<%=item.goodsId%>">
                                        <%= item.approvedQuantity%>
                                    </td>
                                    <% if (returns[0].status != "CLOSED"){ %>
                                    <td name="batch_<%= item.goodsId%>">
                                        <% for (var j in returnShipDetails){%>
                                        <% if(returnShipDetails[j].goodsId == item.goodsId){ %>
                                        <% var batchItem = returnShipDetails[j]%>
                                        <div class="ship-operator" name="batch_<%= item.goodsId%>_<%=batchItem.batchNum%>">
                                            <div>
                                                [<span class="batchNumber"><%=batchItem.batchNum%></span>]/
                                                <span name="quantity"><%=batchItem.batchApprovedQuantity%></span>
                                                <span><%=batchItem.measureUnit%></span>
                                            </div>
                                            <div> <!--clientDisplayReturnShipInfo-->
                                                <a class="tooltipped" id="clientDeliverReturnInfo_<%= item.goodsId%>_<%= batchItem.batchNum%>" title="查看" data-toggle="tooltip" data-placement="left"
                                                   batchNum="<%=batchItem.batchNum%>"
                                                   goodsId="<%=item.goodsId%>"
                                                   shipTotal="<%= Number(item.shippedQuantitySum-10) %>"
                                                   currentShipNum="<%=batchItem.quantity%>"
                                                   batchQty="<%=batchItem.batchApprovedQuantity%>"
                                                   OriginbatchQty="<%=batchItem.batchApprovedQuantity%>"
                                                   produceDate="<%=batchItem.goodsProduceDate%>"
                                                   validDate="<%=batchItem.goodsValidDate%>"
                                                   drugESC="<%=batchItem.drugESC%>"
                                                   inspectReportURL="<%=batchItem.inspectReportURL%>"
                                                   soldPrice="<%=item.returnPrice%>">
                                                    <i class="fa  fa-pencil-square-o"></i>
                                                </a>
                                        <!--        <a class="tooltipped" id="modifyReturnItem_<%= item.goodsId%>_<%= batchItem.batchNum%>" title="查看" data-toggle="tooltip" data-placement="left"
                                                   batchNum="<%=batchItem.batchNum%>"
                                                   goodsId="<%=item.goodsId%>"
                                                   shipTotal="<%= Number(item.shippedQuantitySum-10) %>"
                                                   currentShipNum="<%=batchItem.quantity%>"
                                                   batchQty="<%=batchItem.batchApprovedQuantity%>"
                                                   OriginbatchQty="<%=batchItem.batchApprovedQuantity%>"
                                                   produceDate="<%=batchItem.goodsProduceDate%>"
                                                   validDate="<%=batchItem.goodsValidDate%>"
                                                   drugESC="<%=batchItem.drugESC%>"
                                                   inspectReportURL="<%=batchItem.inspectReportURL%>"
                                                   soldPrice="<%=item.returnPrice%>">
                                                    <i class="fa  fa-pencil-square-o"></i>
                                                </a>-->
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                    </td>
                                    <% } %>
                                </tr>
                                <% } %>
                                <% } %>
                                </tbody>
                            </table>


                        </div>


                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="goods-info"><strong>退货发货信息</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="goods-info">［物流公司］
                                        <input id="inputLogisticsCompany" style="line-height: 30px;width:50%"/></td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［物流单号］
                                        <input id="inputLogisticsNo" style="line-height: 30px;width:50%"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［审核备注］<%=returnCommon.replyRemark%></td>
                                </tr>
                                <% if(returnCommon.status != "CLOSED") {%>
                                <tr>
                                    <td class="goods-info">［发货备注］
                                        <input id="returnShipRemark" style="line-height: 30px;width:50%"/>
                                            <span style="color: red;">
                                                ＊如收货数量与发货数量不一致，请输入原因
                                            </span>
                                    </td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>

                        <div class="filterDiv space-top">
                            <div class="filterHead">
                                <div>退货日志</div>
                            </div>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td><strong>处理时间</strong></td>
                                    <td><strong>处理事件</strong></td>
                                    <td><strong>操作人</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <% for (var i in data.returnHistory){%>
                                <% var history = data.returnHistory[i]%>
                                <tr>
                                    <td>
                                        <%=history.date%>
                                    </td>
                                    <td>
                                        <%= history.action%>
                                    </td>
                                    <td>
                                        <%=history.operator%>
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                        <div class="space-top content-flex-space-end">
                            <% if(returnCommon.status != "CLOSED") {%>
                            <a class="btn btn-primary confirmReturnShip" returnDisplayId="<%= returnCommon.displayReturnId%>" returnId="<%=returnCommon.id%>">确认退货</a>
                            <% } else {%>
                            <a class="btn btn-primary" href="/order/return">返回</a>
                            <% } %>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../../_nav_bottom.ejs%>
</div>

<% include ../../footer.ejs %>
<script  type="text/javascript" src="/static/source/js/client/return.js"></script>
<script type="text/javascript">
    $(function(){
        $('.time').datetimepicker({
            timepicker: false,
            format:'Y-m-d',
            startDate:new Date(),
            maxDate:false
        });
    })
</script>
