<% include ../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.pageSize) || 10;
var page = parseInt(paginator.page) || 1;
%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->
        <% include ../../_nav_top.ejs%>
        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../../_nav_head.ejs%>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page">

            <div class="container page-content">
                <div class="row">
                    <div style="position: fixed;z-index: 1022;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                    </div>
                    <div id="selectGoods"style="display:none;width:700px;height:900px">
                        <div style="font-size: 14px;padding: 4px;">
                            <div class="page-content space-top">
                                <section class="page-content-right">
                                    <aside class="page-content-right-head">
                                        <label>查看发货</label>
                                    </aside>
                                    <div class="form" style="padding:30px">
                                        <div class="row" style="margin-top:10px">
                                            <span class="col-sm-3">批次号:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <input class="col-sm-9 inputBatchNum"  disabled></input>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">生产日期:</span>
                                            <input class="col-sm-9 cDatePicker  inputGoodsProduceDate" type="text" id="productDate" disabled/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                有效期至:
                                            </span>
                                            <input class="col-sm-9 cDatePicker  inputGoodsValidDate" type="text" disabled id="quanlityDate"/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                数量:
                                            </span>
                                            <input class="col-sm-9 inputQuantity" type="text" disabled value=""/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: top;">电子监管码：</span>
                                            </div>
                                            <textarea name="" style="height:150px;resize:none" id="" class="inputDrugESC col-sm-9" disabled></textarea>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: top;">质检报告(附件):</span>
                                            </div>
                                            <div class="col-sm-9" style="padding: 0">
                                                <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                                    <div class="fileContainer">
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </form>
                                                <span style="display: none">暂无质检报告信息</span>
                                            </div>
                                        </div>
                                        <div class=" pull-right">
                                            <a class="btn btn-primary closeIframeGuide">关闭</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                    <!--Sidebar-->
                    <% var active = "return"; %>
                    <% include ../../_order_sidebar.ejs%>
                    <!--Sidebar Close-->
                    <% var returnCommon = data.returnInfo[0]%>
                    <section class="col-md-10">
                        <div class="filterDiv">
                            <div class="filterHead">
                                <div>
                                    退货单号：<a href="/order/return/detail?returnId=<%=returnCommon.id%>"><%=returnCommon.displayReturnId%></a> - <%=data._translation.ReturnStatus[returnCommon.returnStatus]%>
                                </div>
                            </div>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="goods-info"><strong>商品信息</strong></td>
                                    <td><strong>货号</strong></td>
                                    <td><strong>发货数量</strong></td>
                                    <td><strong>申退数量</strong></td>
                                    <td><strong>可退数量</strong></td>
                                    <td><strong>实退数量</strong></td>
                                    <% if(returnCommon.status != "CLOSED") {%>
                                    <td><strong>[批次]/数量</strong></td>
                                    <% } %>
                                </tr>
                                </thead>
                                <tbody>
                                <% var oldGoodsId = "";%>
                                <% for (var i in data.returnInfo){%>
                                <% var item = data.returnInfo[i];%>
                                <% if(oldGoodsId != item.goodsId) {%>
                                <% oldGoodsId = item.goodsId%>
                                <tr class="returnItem" id="returnItem_<%=i%>" goodsId= '<%= item.goodsId %>'>
                                    <td class="goods-info">
                                        <div class="goods-img">
                                            <img src="<%= item.imageUrl%>"/>
                                        </div>
                                        <div class="goods-name-info">
                                            <h6><a href="/goods/detail?goodsId=<%=item.goodsId%>"><%=item.commonName%>
                                                    <%if(item.alias){%>
                                                    (<%=item.alias%>)
                                                    <%}%>
                                                </a></h6>
                                            <h6><%=item.producer%></h6>
                                            <h6><%=item.spec%></h6>
                                            <div class="goods-name-box">
                                                <%if(item.isNationalMedicine == "1"){%>
                                                <div class="base-medical-sign" title="国家基本药品">基</div>
                                                <% } else {%>
                                                <% } %>

                                                <%if(item.isMedicalInsuranceDrugs == "1"){%>
                                                <div class="medical-sign" title="医保药品">医</div>
                                                <% } else {%>
                                                <% } %>

                                                <%if(item.isPrescriptionDrugs == "1"){%>
                                                <div class="prescriptions-sign" title="处方药品">处</div>
                                                <% } else {%>
                                                <% } %>

                                                <% if (item.isSplit=="1") { %>
                                                <div class="dismantle-sign" title="可拆零">拆</div>
                                                <% } else {%>
                                                <% } %>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <%=item.goodsNo%>
                                    </td>
                                    <td><%= item.shippedQuantitySum%></td>
                                    <td><%= item.applyQuantity%></td>
                                    <td><%= item.approvedQuantity%></td>
                                    <td><%= item.returnShippedQuantity%></td>
                                    <td>
                                        <% for (var j in data.returnInfo){%>
                                        <% if(data.returnInfo[j].goodsId == item.goodsId){ %>
                                        <% var batchItem = data.returnInfo[j]%>
                                        <div class="ship-operator" name="batch_<%= item.goodsId%>_<%=batchItem.batchNum%>">
                                            <div>
                                                [<span><%=batchItem.batchNum%></span>]/
                                                <span name="quantity"><%=batchItem.batchNumQuantity%></span>
                                                <span><%=batchItem.measureUnit%></span>
                                            </div>
                                            <div>
                                                <a class="tooltipped" id="clientDisplayReturnInfo_<%= item.goodsId%>_<%= batchItem.batchNum%>" title="查看" data-toggle="tooltip" data-placement="left"
                                                   batchNum="<%=batchItem.batchNum%>"
                                                   batchQty="<%=batchItem.batchNumQuantity%>"
                                                   produceDate="<%=batchItem.goodsProduceDate%>"
                                                   validDate="<%=batchItem.goodsValidDate%>"
                                                   drugESC="<%=batchItem.drugESC%>"
                                                   inspectReportURL="<%=batchItem.inspectReportURL%>">
                                                    <i class="fa fa-binoculars"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                    </td>
                                </tr>
                                <% } %>
                                <% } %>
                                <tr>
                                    <td colspan="5" class="goods-info">
                                        退货发货备注：<%=returnCommon.returnShipRemark?returnCommon.returnShipRemark:"无"%>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="filterDiv space-top">
                            <div class="filterHead">
                                <div>退货日志</div>
                            </div>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td><strong>处理时间</strong></td>
                                    <td><strong>处理事件</strong></td>
                                    <td><strong>操作人</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <% for (var i in data.returnHistory){%>
                                <% var history = data.returnHistory[i]%>
                                <tr>
                                    <td>
                                        <%=history.date%>
                                    </td>
                                    <td>
                                        <%= history.action%>
                                    </td>
                                    <td>
                                        <%=history.operator%>
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../../_nav_bottom.ejs%>
</div>

<% include ../../footer.ejs %>
<script  type="text/javascript" src="/static/source/js/client/return.js"></script>