<div class="icon_sc_cell_iconSet" >
    <div class="icon_sc_cell_deIcon">
        <a class=" iconColor index_space_up fa fa-minus" storage="<%= storage%>" defaultNum="<%= defaultNum%>" isSplit="<%= isSplit%>" pack="1"   id="changeQuantity_<%= i %>" type="decrease"></a>
    </div>
    <div class="input_container">
        <input class="input_nu" storage="<%= storage%>" defaultNum="<%= defaultNum%>"  isSplit = "<%=isSplit %>" id="quantity_<%= i %>" type="text" value="<%= defaultNum %>">
    </div>
    <div class="icon_sc_cell_deIcon" >
        <a class="iconColor index_space_up fa fa-plus" storage="<%=storage %>" defaultNum="<%= defaultNum%>" isSplit="<%= isSplit%>" pack="1" id="changeQuantity_<%= i %>" type="increase"></a>
    </div>
</div>