<% include ../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<div style="position:relative;width:100%;" id="iframeContent">

    <!--Layout-->

    <%=data.name%>


    <!--Sidebar-->

    <!--Sidebar Close-->

    <!--Catalog List-->
    <div class=" page-content" >
    <section class=" realHeight col-md-12   space-bottom">
        <div class="page-content-right">
            <aside class="page-content-right-head">
                <span>&nbsp;选择商品</span>
                <div class="page-content-sort">
                    <div class="filter-input">
                        <form method="get" role="search">
                            <label class="sr-only" for="blog-search"></label>
                            <%
                            var paginator_keywordsValue = '';
                            if (typeof paginator != 'undefined') {
                                if (typeof paginator.kbv != 'undefined') {
                                    paginator_keywordsValue = (paginator.kbv == "%") ? "" : paginator.kbv;
                                }
                            }
                            %>
                            <input class="form-control" type="text" placeholder="请输入商品名字" value="<%= paginator_keywordsValue%>">
                            <% var paginatorData = {
                                url : "/goods/showcase?flag=chooseGoods&",
                                p : 1,
                                kbv : 'keywordsValueToBeReplaced',
                                paginator : paginator
                            };
                            %>
                            <button type="submit"  class="search_goods"  data-attr="chooseGoods"  data-url=<%= JSON.stringify(paginatorData)%>><i class="fa fa-filter"></i></button>
                        </form>
                    </div>
                </div>
            </aside>
            <!--Item-->
            <table class="table page-table">
                <thead>
                <tr>
                    <td class="goods-name-info goods-info-img">产品资料</td>
                    <td>货号</td>
                    <td>库存</td>


                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <% var proLength=data.products.length%>
                <% for(var i in data.products ){ %>
                <% var item = data.products[i]; %>
                <tr>
                    <td>
                        <div class="goods-img">
                            <img src=<%=(item.imageUrl=="undefined"||item.imageUrl==null||item.imageUrl=='')?"/static/img/index/noPic.png":item.imageUrl %> />
                        </div>
                        <div class="goods-info decreaseMargin">
                            <h6>
                                <!--<a href="/goods/detail?goodsId=<%=item.id%>">--><%=item.commonName%><!--</a>-->

                            </h6>
                            <h6><%=item.producer%></h6>
                            <h6><%= item.spec%></h6>
                        </div>
                    </td>
                    <td>
                        <%=item.goodsNo%>
                    </td>
                    <td>
                        <% if(item.amount != ""){%>
                        <label class="goods_storage"><%= item.amount %></label>件
                        <%} else {%>
                        暂无信息
                        <% } %>
                    </td>


                    <% var isLogin = !(typeof(data._userInfo) === "undefined"); %>
                    <td>
                        <a data-checkLogin="<%= isLogin%>" goodsId="<%= item.id %>"  class="addThisToSC" title="加进橱窗" data-toggle="tooltip" data-placement="left">
                            <i class="fa fa-plus-circle text-primary"></i>
                        </a>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </section>
    <% var url = "/goods/showcase?flag=chooseGoods&"%>
            <% include ../_paginator.ejs%>
    <!--Catalog List Close-->
    </div>


</div>


<% include  ../footer.ejs %>
<script src="/static/source/js/chooseGoods.js"></script>
