<% include ../header.ejs%>
<div style="position:relative;width:100%;height:100%;">
    <% include  ../_nav_head_mobile.ejs %>
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->
        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../center/_nav_head.ejs%>
        <div class="page double-padding-bottom">
            <div class="container page-content">
                <div class="row space-top" >
                    <!-- Sidebar-->
                    <% var active = "carousel"; %>
                    <% include ../center/_nav_customer_left.ejs%>
                    <!-- Sidebar CLose-->
                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <% var curtTab = 'licences' %>
                            <% include portalTab.ejs %>
                        </div>
                        <div class="col-sm-12 form-horizontal" style="border: 1px solid #e6e6e6;margin-top: -1px;">
                            <div class="licencesBox">
                                <ul class="licencesUl">
                                    <% var licences = data.licences; %>
                                    <% for(var i = 0; i < licences.length; i++) {%>
                                    <li>
                                        <div class="imgArea" >
                                            <a target="_blank" href="<%= licences[i].licUrl %>">
                                                <% if(licences[i].licType === 'licImg') {%>
                                                    <img src="<%= licences[i].licUrl %>" alt="" title="点击查看原图">
                                                <% } else { %>
                                                    <span>该证照无图片</span>
                                                <% } %>
                                            </a>
                                        </div>
                                        <div class="nameArea">
                                            <span class="licName"><%= licences[i].licName %></span><br>
                                            <label for="" class="expireTimeLabel">期限：</label><span class="expireTime"><%= licences[i].expireTime %></span>
                                        </div>
                                        <div class="funArea">
                                            <!--<a href="/static/upload/licence.jpg" target="_blank">查看</a>-->
                                            <a href="javascript:void(0);" class="licencesEdit" data-type="<%= licences[i].licType %>"
                                               data-id="<%= licences[i].id %>">编辑</a>
                                            <a href="javascript:void(0);" class="licencesDelete">删除</a>
                                        </div>
                                    </li>
                                    <% } %>
                                    <li class="licModel" style="display: none">
                                        <div class="imgArea">
                                            <a target="_blank" href="">
                                                <img src="" alt="" title="点击查看原图">
                                                <span>该证照无图片</span>
                                            </a>
                                        </div>
                                        <div class="nameArea">
                                            <span class="licName"></span><br>
                                            <label for="" class="expireTimeLabel">期限：</label><span class="expireTime"></span>
                                        </div>
                                        <div class="funArea">
                                            <!--<a href="/static/upload/licence.jpg" target="_blank">查看</a>-->
                                            <a href="#" class="licencesEdit" data-id="licence1">编辑</a>
                                            <a href="#" class="licencesDelete">删除</a>
                                        </div>
                                    </li>
                                    <li class="addLicence">
                                        <i class="fa fa-plus fa-2x"></i>
                                        <span>点击添加新证照</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../_nav_bottom.ejs%>
</div>
<div id="editPanel">
    <div class="editPanelTitle">
        添加证照
    </div>
    <div class="editPanelType">
        <div class="radio">
            <label for="licImg"><input type="radio" checked value="licImg"  class="" name="licencesType" />有图片证照</label>
        </div>
        <div class="radio" style="margin-left: 100px">
            <label for="licUrl"><input type="radio" value="licUrl" class="" name="licencesType" />无图片证照</label>
        </div>
    </div>
    <div class="editPanelContent">
        <label for="licName">证照名称：</label><input name="licName" class="licName" type="text"><br/>
        <label for="expireTime">证照期限：</label><input id="expireTime" type="text" readonly class="datePicker selectTime"/><br>
        <div class="licContent">
            <div class="licImgWrap"><label for="licImg">证照图片：</label><input name="LicImg" type="file"></div>
            <div class="licUrlWrap" style="display: none"><label for="licUrl" >链接地址：</label><input
                        name="licUrl" type="text" title="链接地址可不填"
                        class="tooltipped licUrl" data-toggle="tooltip" data-placement="bottom"></div>
        </div>
        <span class="text-mcolor licencesEditTip"></span>
    </div>
    <div class="editPanelFunc" data-id="">
        <button class="btn btn-primary licEditSave">保存</button>
        <button class="btn btn-default licEditCancel">取消</button>
    </div>
</div>
<% include  ../footer.ejs %>
<script>
    $('.datePicker').datetimepicker({
        timepicker: false,
        format:'Y-m-d'
    });
</script>
<script src="/static/source/js/customer/manageLicences.js"></script>