<% include ../header.ejs %>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
            <!--Header Toolbar-->
            <% include ../_nav_top.ejs %>
            <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs %>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page double-padding-bottom" style="margin-bottom: 0px;">
            <div class="container page-content">
                <div class="row">
                    <!--Sidebar-->
                    <% var active = "personal_info"; %>
                    <% include ../_order_sidebar.ejs %>
                    <!--Sidebar Close-->
                    <!--Catalog List-->
                    <section class="col-md-10 pull-right space-top space-bottom page-content-right">
                        <table class="sm-page-table none-td-bottom" style="text-align: start">
                            <thead>
                            <tr>
                                <td colspan="2" class="goods-info">
                                    <h3>基本信息</h3>
                                </td>
                            </tr>
                            </thead>
                            <tbody class="td-2-align-left td-1-align-right">
                            <tr>
                                <td class="td-per-10" style="border-bottom: none;">登录账号:</td>
                                <td class="td-per-90" style="border-bottom: none;"><%= data._userInfo.operatorName %></td>
                            </tr>
                            <tr>
                                <td>登录密码:</td>
                                <td><a href="/portal/personal/pwd" class="active">点击修改</a></td>
                            </tr>
                            <tr>
                                <td>企业名称:</td>
                                <td><%= data._userInfo.clientName %></td>
                            </tr>
                            <tr>
                                <td>企业法人:</td>
                                <td>
                                    <% if(data.gsp.legalRepresentative){ %>
                                    <%= data.gsp.legalRepresentative %>
                                    <% }else{ %>
                                    暂无信息
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td>营业地址:</td>
                                <td>
                                    <% if(data.gsp.businessAddress){ %>
                                    <%= data.gsp.businessAddress %>
                                    <% }else{ %>
                                    暂无信息
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td>联系电话:</td>
                                <td>
                                    <% if(data._client.mobile){ %>
                                    <%= data._client.mobile %>
                                    <% }else{ %>
                                    暂无信息
                                    <% } %>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="space-top">
                        <table class="address-table sm-page-table cartAddressTable">
                            <thead>
                            <tr>
                                <td class="address-info form-header">
                                    <h3>收货地址</h3>
                                </td>
                                <td></td>
                                <% if(data.__shipToRegisteredAddressOnly!=true){%>
                                <td class="text-end">
                                    <a class="showNewAddressItem">新增收货地址</a>
                                </td>
                                <%}else{%>
                                <td></td>
                                <%}%>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="address-list"  >
                                <td class="address-info" colspan="2">
                                    <label class="flag">
                                        <a>
                                            <i class="fa fa-check-circle fa-lg"></i>
                                        </a>
                                    </label>
                                    <span class="address-name"><%= data.defaultAddress %></span>
                                </td>
                                <td class="address-info address-operate">
                                </td>
                            </tr>
                            <% if(data.__shipToRegisteredAddressOnly!=true){%>
                            <% var index = 0; %>
                            <% for(var i in data.address) { %>
                            <% index++; %>
                            <%
                                var item = data.address[i];
                            %>
                            <tr class="address-list" style="display:<%= i>0?'none':'table-row'%>" >
                                <td class="address-info" colspan="2">
                                    <label class="flag">
                                        <a>
                                            <i class="fa  fa-circle-o"></i>
                                        </a>
                                    </label>
                                    <span class="address-name"><%= item.detailAddress %></span>
                                </td>
                                <td class="address-info address-operate">
                                    <label class="modAddress change-address" id="item_<%=item.id%>">
                                        <a style="" class="tooltipped" title="修改" data-toggle="tooltip" data-placement="left">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </label>
                                    <label class="delAddress change-address">
                                        <a class="tooltipped" title="删除" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-trash" id="delAM_<%=item.id%>" onclick="deleteAddress(this.id)"></i>
                                        </a>
                                    </label>
                                </td>
                            </tr>
                            <% } %>
                            <tr class="newAddressTemplate">
                                <td colspan="2" class="address-info">
                                    <label class="flag">
                                        <a>
                                            <i class="fa fa-lg fa-check-circle"></i>
                                        </a>
                                    </label>
                                    <span class="spanNewAddress address-name"></span>
                                </td>
                                <td class="address-info address-operate">
                                    <label class="modAddress change-address" id="0">
                                        <a class="tooltipped" title="修改" data-toggle="tooltip" data-placement="left">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </label>
                                    <label class="delAddress change-address">
                                        <a class="tooltipped" title="删除" data-toggle="tooltip" data-placement="right">
                                            <i class="fa fa-trash" id="0" onclick="deleteAddress(this.id)"></i>
                                        </a>
                                    </label>
                                </td>
                            </tr>
                            <tr class="trModifyAddress">
                                <td colspan="2">
                                    <input type="text" class="form-control inputAddress" placeholder="请输入收货人 + 地址 + 电话">
                                </td>
                                <td class="address-operate">
                                    <a class="btn btn-primary btn-outlined btnSaveAddress" onclick="updateAddress(this.id)">确认</a>
                                </td>
                            </tr>
                            <tr class="trNewAddress"  >
                                <td colspan="2" class="goods-info">
                                    <input type="text" class="form-control inputAddress"  id="input_address" placeholder="请输入收货人 + 地址 + 电话">
                                </td>
                                <td class="address-operate">
                                    <a class="btn btn-primary btn-outlined btnAddAddress">添加</a>
                                </td>
                            </tr>
                            <tr id="addressTips" style="display:<%= data.address.length<2?'none':'table-row' %>">
                                <td class="moreAddress goods-info">
                                    <div class="addressDisplayBtn" data-display="hide">
                                        <span class="text-primary">更多地址</span><a class="fa fa-long-arrow-down"></a>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <%}%>
                        </table>
                        </div>
                        <% var gsp = data.gsp%>
                        <div class="gsp-table space-top" style="padding-left:0">
                            <table class="gsp-info none-td-bottom none-tr-bottom sm-page-table">
                                <thead>
                                <tr>
                                    <td colspan="4" class="goods-info">
                                        <h3>GSP信息</h3>
                                    </td>
                                </tr>
                                </thead>
                                <tbody class="td-1-align-right td-2-align-left td-3-align-right td">
                                <tr>
                                    <td><h5>经营范围描述:</h5></td>
                                    <td colspan="3"><input type="text" value="<%=gsp.limitedBusinessRange%>" disabled /><br></td>
                                </tr>
                                <tr>
                                    <td><h5>GSP控制类型:</h5></td>
                                    <%
                                    var gspTypeContent='';
                                    for(var i=0;i<data.gspTypes.length;i++){
                                        gspTypeContent+=','+data.gspTypes[i].gspType;
                                    }
                                    %>
                                    <td colspan="3"><input type="text" value="<%=gspTypeContent.substr(1)%>" disabled /><br></td>
                                </tr>
                                <tr>
                                    <td><h5>营业执照号:</h5></td>
                                    <td><input type="text" value="<%=gsp.businessLicense%>" disabled /><br></td>
                                    <td><h5>营业执照期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.businessLicenseValidateDate%>" disabled /><br></td>
                                </tr>
                                <tr>
                                    <td><h5>组织机构代码证号:</h5></td>
                                    <td> <input type="text" value="<%=gsp.orgCode%>" disabled/><br></td>
                                    <td><h5>组织机构代码证期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.orgCodeValidateDate%>" disabled class=""/> <br></td>
                                </tr>
                                <tr>
                                    <td><h5>税务登记证号:</h5></td>
                                    <td><input type="text" value="<%=gsp.taxRegistrationLicenseNum%>" disabled /><br></td>
                                    <td><h5>税务登记证期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.taxRegistrationLicenseNumValidateDate%>" disabled /><br></td>
                                </tr>
                                <tr>
                                    <td><h5>GMP/GSP证书:</h5></td>
                                    <td><input type="text" value="<%=gsp.gmpOrGspLicenseNum%>" disabled /><br></td>
                                    <td><h5>GMP/GSP有效期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.gmpOrGspLicenseNumValidateDate%>" disabled /><br></td>
                                </tr>

                                <tr>
                                    <td><h5>医疗机构职业许可证:</h5></td>
                                    <td><input type="text" value="<%=gsp.medicalInstitutionLicenseNum%>" disabled  class=""/><br></td>
                                    <td><h5>医疗机构职业许可证期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.medicalInstitutionLicenseNumValidateDate%>" disabled /><br></td>
                                </tr>
                                <tr>
                                    <td><h5>事业单位法人证书:</h5></td>
                                    <td><input type="text" value="<%=gsp.institutionLegalPersonCert%>" disabled  class=""/><br></td>
                                    <td><h5>事业单位法人证书期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.institutionLegalPersonCertValidateDate%>" disabled /><br></td>
                                </tr>
                                <tr>
                                    <td><h5>生产经营许可证:</h5></td>
                                    <td><input type="text" value="<%=gsp.productionAndBusinessLicenseNum%>" disabled  class=""/><br></td>
                                    <td><h5>生产经营许可证期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.productionAndBusinessLicenseNumValidateDate%>" disabled /><br></td>
                                </tr>
                                <tr style="margin-top: 30px !important;">
                                    <td><h5>食品流通许可证:</h5></td>
                                    <td><input type="text" value="<%=gsp.foodCirculationLicenseNum%>" disabled  class=""/><br></td>
                                    <td><h5>食品流通许可证期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.foodCirculationLicenseNumValidateDate%>" disabled /><br></td>
                                </tr>


                                <tr>
                                    <td><h5>医疗器械许可证:</h5></td>
                                    <td><input type="text" value="<%=gsp.medicalApparatusLicenseNum%>" disabled  class=""/><br></td>
                                    <td><h5>医疗器械许可证期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.medicalApparatusLicenseNumValidateDate%>" disabled /><br></td>
                                </tr>
                                <tr>
                                    <td><h5>保健品证书:</h5></td>
                                    <td><input type="text" value="<%=gsp.healthProductsLicenseNum%>" disabled /><br></td>
                                    <td><h5>保健品证书期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.healthProductsLicenseNumValidateDate%>" disabled  class=""/> <br></td>
                                </tr>
                                <tr>
                                    <td><h5>精神麻醉证:</h5></td>
                                    <td><input type="text" value="<%=gsp.mentaanesthesiaLicenseNum%>" disabled /><br></td>
                                    <td><h5>精神麻醉证有效期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.mentalanesthesiaLicenseNumValidateDate%>" disabled /><br></td>
                                </tr>
                                <tr>
                                    <td><h5>危险化学证:</h5></td>
                                    <td><input type="text" value="<%=gsp.hazardousChemicalsLicenseNum%>" disabled /><br></td>
                                    <td><h5>危险化学证有效期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.hazardousChemicalsLicenseNumValidateDate%>" disabled  class=""/><br></td>
                                </tr>
                                <tr>
                                    <td><h5>母婴保健执业许可证:</h5></td>
                                    <td><input type="text" value="<%=gsp.maternalLicenseNum%>" disabled /><br></td>
                                    <td><h5>母婴保健执业许可证期限:</h5></td>
                                    <td><input type="text" value="<%=gsp.maternalLicenseNumValidateDate%>" disabled  class=""/><br></td>
                                </tr>
                                <tr>
                                    <td><h5>注册资本:</h5></td>
                                    <td><input type="text" value="<%=gsp.registeredCapital%>" disabled /><br></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="border-top:1px solid #eee">
                                    <td>附件:</td>
                                    <td colspan="3">
                                        <% var temp=gsp.gspImages==null||gsp.gspImages==undefined||gsp.gspImages==""?"":gsp.gspImages %>
                                        <%
                                        var allImages = JSON.parse(temp);
                                        allImages.stampLink = data._client.stampLink;
                                        var licensName = { bussines_lic:'营业执照',GSP_lic:'GSP证书',contract1:'合同页一',contract2:'合同页二',stampLink:'合同公章',other:'其他附件'};
                                        %>
                                        <!--将公章url放入数组-->
                                        <% for (var i in allImages){ %>
                                        <% var currentImgHref=allImages[i]%>
                                        <div style="float: left;margin-right: 24px"><a target="_blank" title="点击查看大图" href="<%= currentImgHref%>">
                                                <img src="<%= currentImgHref%>" alt="" style="display:inline-block;width:80px;height:80px;"/>
                                            </a>
                                            <div style="margin-left: 10px;"><%= licensName[i]||licensName['other']  %></div>
                                        </div>
                                        <%}%>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
            <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../_nav_bottom.ejs%>
</div>
<script src="/static/source/js/address.js"></script>
<% include ../footer.ejs %>