<% include ../header.ejs %>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--If you add class "boxed" to .site-layout it wraps the whole document in a box, than you can simply add pattern background to body or leave it white. Please note in a "boxed" mode header doesn't stick to the top.-->
        <!--Header Toolbar-->
        <% include ../_nav_top.ejs %>
        <!--Header Toolbar Close-->
        <% include ../_nav_head.ejs %>
        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page">


            <div class="container page-content">
                <div class="row">

                    <!--Sidebar-->
                    <% var active = "erp"; %>
                    <% include ../_order_sidebar.ejs %>
                    <!--Sidebar Close-->

                    <!--Catalog List-->
                    <section class="col-md-10 pull-right space-top space-bottom page-content-right">
                        <table class="sm-page-table erp-setting-tab">
                            <thead>
                            <tr>
                                <td colspan="3" class="text-left" style="text-align: start">ERP设置</td>
                            </tr>
                            </thead>
                            <tbody>
                            <% var erpEnable = data.erpSetting.erpIsAvailable == 1; %>

                            <tr class="erpIsEnableTr" erpEnable="<%= erpEnable %>">
                                <td class="td-per-25">是否启动erp:</td>
                                <td class="td-per-45" style="line-height: 20px">
                                    <div class="radio radioInErpSettings">
                                        <input name="isEnable" id="erpEnabled" type="radio" value="true">是
                                    </div>
                                    <div class="radio radioInErpSettings">
                                        <input name="isEnable" type="radio" value="false">否
                                    </div>
                                </td>
                                <td class="td-per-30">&nbsp;</td>
                            </tr>
                            <tr class="erpContent" style="<%= erpEnable==false?"display:none":"" %>">
                                <td>消息接口地址:</td>
                                <td>
                                    <span><%= data.msgApi %></span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="erpContent" style="<%= erpEnable==false?"display:none":"" %>">
                                <td>AppCode获取地址:</td>
                                <td>
                                    <span><%= '' + data.appCodeApi %></span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="erpContent" style="<%= erpEnable==false?"display:none":"" %>">
                                <td>APPKEY:</td>
                                <td>
                                    <span id="appKey" style="width: 300px; display: inline-block"><%= data.erpSetting.appKey %></span>
                                    <button class="btn btn-primary btn-small" data-attr="client" id="updateAppKey" >生成APPKEY</button>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="erpContent" style="<%= erpEnable==false?"display:none":"" %>">
                                <td>ERP 消息接口地址:</td>
                                <td class="td-per-45">
                                    <input placeholder="单行输入" value="<%= data.erpSetting.erpMsgUrl %>"  type="text" id="erpMsgUrl"/>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="erpContent" style="<%= erpEnable==false?"display:none":"" %>">
                                <td>ERP APPCODE 接口地址:</td>
                                <td>
                                    <input placeholder="单行输入" value="<%= data.erpSetting.erpAppCodeUrl %>" type="text" id="erpAppCodeUrl"/>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="erpContent" style="<%= erpEnable==false?"display:none":"" %>">
                                <td>APPCODE:</td>
                                <td>
                                    <span placeholder="单行输入" style="width:406px" type="text"><%= data.appCode %> </span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr >
                                <td></td>
                                <td><button class="btn btn-primary" data-attr="client" id="saveErpSetting">保存</button></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                    <!--Catalog List Close-->
                </div>
            </div>

            <section class="specialty-page">
            </section>
        </div>
        <!--Page Content Close-->
    </div>
    <% include ../_nav_bottom.ejs %>
</div><!--Off-Canvas Close-->
<% include ../footer.ejs %>
<script src="/static/source/js/erpSetting.js"></script>