<% include ../header.ejs%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
            <!--Header Toolbar-->
            <% include ../_nav_top.ejs %>
            <!--Header Toolbar Close-->

            <!--Header-->
            <% include ../_nav_head.ejs%>
            <!--Header Close-->

            <!--Page Content--><!-- InstanceBeginEditable name="content" -->
            <div class="page double-padding-bottom">

                <div class="container page-content">
                    <div class="row">

                        <!--Sidebar-->
                        <% var active = "personal_gsp"; %>
                        <% include ../_order_sidebar.ejs%>
                        <!--Sidebar Close-->
                        <!--Catalog List-->
                        <section class="col-md-10 pull-right space-top space-bottom page-content-right">
                            <aside class="page-content-right-head">
                                <label>GSP信息</label>

                                <!--<div class="pull-right" style="margin-right: 10%;">
                                    <a href="/portal/personal/gsp/edit?categoryField=gsp" style="margin-right: 10px;">
                                        <i class="fa fa-pencil" style="font-size: 20px"></i>
                                    </a>
                                        <i class="fa fa-floppy-o" style="font-size: 20px"></i>

                                </div>-->

                            </aside>
                            <!--Item-->
                            <div class="gsp-table" style="padding: 0; margin-top: -1px; ">
                                <table class="table gsp-edit none-tr-bottom gst-edt-tab" style="font-size: 12px; border-bottom: 1px solid #e6e6e6">
                                    <tbody class='td-1-align-right td-3-align-right none-tr-bottom'>

                                    <% var gsp = data.gsp%>
                                    <tr>
                                        <td>
                                            <input type="hidden" id="cId" value="<%= gsp.clientId %>"/>
                                            <h5>企业法人:</h5>
                                        </td>
                                        <td><input type="text" id="LegalRepresentative" value="<%=gsp.legalRepresentative%>"/><br></td>
                                        <td><h5>营业地址:</h5></td>
                                        <td> <input type="text" id="address" value="<%=gsp.businessAddress%>"/><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>经营范围描述:</h5></td>
                                        <td colspan="3"><input type="text" style="width: 100%;" id="controlRange" value="<%=gsp.limitedBusinessRange%>"/>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td><h5>GSP控制类型:</h5></td>
                                        <td  id="gspTypesIds" gspTypeValues="<%= data.gspTypesIds %>"  style="align-items: baseline;" colspan="3">
                                            <% for (var i in data.allGspTypes){%>
                                            <% var gspItem= data.allGspTypes[i]%>
                                            <div style="display: inline-block">
                                                <div class="gspTypeCheckbox" style="display: inline-block;">
                                                    <div class="checkbox" id="ckbox">
                                                        <label>
                                                            <input type="checkbox" id="gspControlType" value="" checkGspId="<%=gspItem.id%>"/>
                                                        </label>
                                                        <span><%=gspItem.name%></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h5>电话号码:</h5></td>
                                        <td><input type="text"   id="phoneNumber"  value="<%=gsp.mobile%>" /><br></td>
                                        <td><h5>注册资本:</h5></td>
                                        <td><input type="text" id="registeredCapital" value="<%=gsp.registeredCapital%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>营业执照号:</h5></td>
                                        <td><input type="text" id="businessLicense" value="<%=gsp.businessLicense%>" /><br></td>
                                        <td>
                                            <span>营业执照期限:</span>

                                        </td>
                                        <td style="vertical-align:middle;padding-top:0px">
                                            <% var isLongDate=gsp.businessLicenseValidateDate.substr(0,2)==='长期'; %>

                                            <span style="vertical-align:middle"  id="longdateSpan" data-longDate=<%= isLongDate %> >长期-</span>
                                            <div class="checkbox checkboxEdit " id="ckboxIneditGsp" style="vertical-align:middle"  >
                                                <input type="checkbox" value="">
                                            </div>
                                            <input type="text" readonly style="width:57%;<%=isLongDate==true?'display:none':null %>" class="time" id="businessLicenseEndDate" value="<%=gsp.businessLicenseValidateDate%>" /><br>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><h5>组织机构代码证号:</h5></td>
                                        <td> <input type="text" id="orgCodeCertificate" value="<%=gsp.orgCode%>"/><br></td>
                                        <td><h5>组织机构代码证期限:</h5></td>
                                        <td><input type="text" readonly id="orgCodeCertificateEndDate" class="time" value="<%=gsp.orgCodeValidateDate%>" /> <br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>税务登记证号:</h5></td>
                                        <td><input type="text" id="taxRegcertificate" value="<%=gsp.taxRegistrationLicenseNum%>" /><br></td>
                                        <td><h5>税务登记证期限:</h5></td>
                                        <td><input type="text"  readonly id="taxRegcertificateEndDate" class="time" value="<%=gsp.taxRegistrationLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>GMP/GSP证书:</h5></td>
                                        <td><input type="text" id="GMPandGSPcertificate" value="<%=gsp.gmpOrGspLicenseNum%>" /><br></td>
                                        <td><h5>GMP/GSP有效期限:</h5></td>
                                        <td><input type="text" readonly class="time" id="GMPandGSPcertificateEndDate" value="<%=gsp.gmpOrGspLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>医疗机构职业许可证:</h5></td>
                                        <td><input type="text" id="medInsOccCertifacate" value="<%=gsp.medicalInstitutionLicenseNum%>"  /><br></td>
                                        <td><h5>医疗机构职业许可证期限:</h5></td>
                                        <td><input type="text" readonly class="time" id="medInsOccCertifacateEndDate" value="<%=gsp.medicalInstitutionLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>事业单位法人证书:</h5></td>
                                        <td><input type="text" id="InsLegalPersonCertifacate" value="<%=gsp.institutionLegalPersonCert%>"  /><br></td>
                                        <td><h5>事业单位法人证书期限:</h5></td>
                                        <td><input type="text" readonly class="time" id="InsLegalPersonCertifacateEndDate" value="<%=gsp.institutionLegalPersonCertValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>生产经营许可证:</h5></td>
                                        <td><input type="text" id="proAndBusOperationCertifacate" value="<%=gsp.productionAndBusinessLicenseNum%>"  /><br></td>
                                        <td><h5>生产经营许可证期限:</h5></td>
                                        <td><input type="text" readonly id="proAndBusOperationCertifacateEndDate" class="time" value="<%=gsp.productionAndBusinessLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>食品流通许可证:</h5></td>
                                        <td><input type="text" id="foodCirclePermit" value="<%=gsp.foodCirculationLicenseNum%>"  /><br></td>
                                        <td><h5>食品流通许可证期限:</h5></td>
                                        <td><input type="text" readonly class="time" id="foodCirclePermitEndDate" value="<%=gsp.foodCirculationLicenseNumValidateDate%>" /><br></td>
                                    </tr>


                                    <tr>
                                        <td><h5>医疗器械许可证:</h5></td>
                                        <td><input type="text" id="medDevLicense" value="<%=gsp.medicalApparatusLicenseNum%>"  /><br></td>
                                        <td><h5>医疗器械许可证期限:</h5></td>
                                        <td><input type="text" readonly id="medDevLicenseEndDate" class="time" value="<%=gsp.medicalApparatusLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>保健品证书:</h5></td>
                                        <td><input type="text" id="healthCertifacate" value="<%=gsp.healthProductsLicenseNum%>" /><br></td>
                                        <td><h5>保健品证书期限:</h5></td>
                                        <td><input type="text" readonly  id="healthCertifacateEndDate" class="time" value="<%=gsp.healthProductsLicenseNumValidateDate%>" /> <br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>精神麻醉证:</h5></td>
                                        <td><input type="text" id="spiritualNarcoticCard" value="<%=gsp.mentaanesthesiaLicenseNum%>" /><br></td>
                                        <td><h5>精神麻醉证有效期限:</h5></td>
                                        <td><input type="text" readonly id="spiritualNarcoticCardEndDate" class="time" value="<%=gsp.mentalanesthesiaLicenseNumValidateDate%>" /><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>危险化学证:</h5></td>
                                        <td><input type="text" id="dangerChemicalLicense" value="<%=gsp.hazardousChemicalsLicenseNum%>" /><br></td>
                                        <td><h5>危险化学证有效期限:</h5></td>
                                        <td><input type="text" readonly id="dangerChemicalLicenseEndDate" class="time"  value="<%=gsp.hazardousChemicalsLicenseNumValidateDate%>"  /><br></td>
                                    </tr>
                                    <tr>
                                        <td><h5>母婴保健执业许可证:</h5></td>
                                        <td><input type="text" id="maternalOccuLicense" value="<%=gsp.maternalLicenseNum%>" /><br></td>
                                        <td><h5>母婴保健执业许可证期限:</h5></td>
                                        <td><input type="text" readonly id="maternalOccuLicenseEndDate" class="time" value="<%=gsp.maternalLicenseNumValidateDate%>"  /><br></td>
                                    </tr>
                                    <tr style="border-top:1px solid #eee">
                                        <td>附件(附件顺序依次是营业执照,GSP证书附件,两份合同附件,电子公章附件,其他附件):</td>
                                        <%
                                           var ultimateGspImages={};
                                           var accessFileName=
                                           { bussines_lic:'营业执照',GSP_lic:'GSP证书',contract1:'合同页一',contract2:'合同页二',stampLink:'合同公章',other:'其他附件'};
                                           ultimateGspImages=JSON.parse(gsp.gspImages);
                                           ultimateGspImages.stampLink=data.stampLink;
                                        %>
                                        <td colspan="3" id="picTd" data-imgs="<%= ultimateGspImages %>">
                                            <div class="row pic-upload-item" style="height: auto;">
                                                <div class="col-md-2 item_model"><div class="pic-upload-button"><div class="inputWrap"><input type="file" name="more_file" id=""></div><i class="fa fa-cloud-upload"></i><i class="otherCloseBt fa fa-times-circle"></i></div>其它附件</div>
                                                <!--一个上传item的副本-->
                                                <!--一个上传item的副本-->
                                                <% for(var i in ultimateGspImages){ %>
                                                <div class="col-md-2 showpicture" data-types="<%= ultimateGspImages[i]%>"><div class="pic-upload-button"><div class="inputWrap"><input type="file" name="<%= i %>" id=""/></div></div>
                                                    <%if(accessFileName[i]==undefined){%>
                                                    <%= accessFileName['other']%>
                                                    <%}else{%>
                                                    <%= accessFileName[i]%>
                                                    <%}%></div>
                                                <%}%>
                                                <div class="col-md-2"><div class="pic-add-button"><i class="fa fa-plus"></i></div>新增附件</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td><button class="btn btn-primary" type="btn btn-primary"  data-status="<%=gsp.registerStatus%>" id="submitGsp" >重新提交审核</button></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div id="checkComments" style="display:none">
                                    <input type="text" type="hidden" value="<%= data.checkComments%>" />
                                </div>
                            </div>



                            <!--Item  post address-->
                        </section>

                    </div>
                </div>
            </div>
            <!--Page Content Close-->
        </div><!--Layout Close-->
    <% include ../_nav_bottom.ejs%>
</div>


<% include ../footer.ejs %>
<script src="/static/source/js/page/personalGspEdit.js"></script>

