<% include ../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->
        <% include ../_nav_top.ejs %>
        <!--Header Toolbar Close-->
        <!--Header-->
        <% include ../_nav_head.ejs%>
        <div class="page double-padding-bottom" style="min-height:801px">
            <div class="container page-content">
                <div class="row" >
                    <% var active = "personal_center"; %>
                    <% include ../_order_sidebar.ejs%>

                    <section class="col-md-10 space-top space-bottom">
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="goods-info"><strong>投诉建议</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <% var conversations=data.complains; %>
                                <% for(var i=0;i<conversations.length;i++){%>
                                <%var currentCo=conversations[i];%>
                                <%if(currentCo.type=="UP"){%>
                                <tr id="<%= i==(conversations.length-1) ? "complaint-last": '' %>" style="border:1px solid #ddd">
                                    <td class="goods-info">
                                        <div style="text-align:left;font-size:14px">
                                            <span style="font-weight:bold">我 </span>
                                            <span style="color:#999;margin-left:16px"><%=currentCo.createdOn %></span>
                                        </div>
                                        <div style="text-align:left;margin-top:12px;margin-bottom:10px;font-size:13px">
                                            <%=currentCo.content %>
                                        </div>
                                    </td>
                                </tr>
                                <%}else{%>
                                <tr style="border:1px solid #ddd" id=<%= i==(conversations.length-1) ? "complaint-last": ''  %>>
                                    <td class="goods-info">
                                        <div style="text-align:left;font-size:14px">
                                            <span style="font-weight:bold;color:#237935">神木客服 </span>
                                            <span style="color:#999;margin-left:16px"><%=currentCo.createdOn %></span>
                                        </div>
                                        <div style="text-align:left;margin-top:12px;margin-bottom:10px;font-size:13px">
                                            <%=currentCo.content %>
                                        </div>
                                    </td>
                                </tr>
                                <%}%>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                        <div class="space-top">
                            <input type="text" placeholder="请输入您的建议" fast-commit-target="#clientComplainBtn"  class=" fast-commit form-control" style="width:95%;height:40px;float:left"/>
                            <div style="float:left;width:5%;text-align:center;line-height:40px">
                                <a href="javascript:void(0);" id="clientComplainBtn" >
                                    <i class="fa fa-send"  style="vertical-align:middle;color:#237935;font-size:24px"></i>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../_nav_bottom.ejs%>
</div>
<% include  ../footer.ejs %>
<script type="text/javascript">
    $(function(){
        $('#clientComplainsDiv').scrollTop(Number($('#clientComplainsDiv').css('max-height').replace('px','')));
    });
</script>
