<div class="tabList">
    <a href="/page/customer/portal/carousel" class="<%= (curtTab === 'carousel') ? 'itemActive':'' %>">首页广告设置</a>
    <a href="/page/customer/portal/news"  class="<%= (curtTab === 'news') ? 'itemActive':'' %>">新闻发布</a>
    <a href="/page/customer/portal/showcase" class="<%= (curtTab === 'showcase') ? 'itemActive':'' %>">橱窗设置</a>
    <a href="/page/customer/portal/linkColumn/all" class="<%= (curtTab === 'linkColumn') ? 'itemActive':'' %>">页脚设置</a>
    <a href="/page/customer/portal/licences" class="<%= (curtTab === 'licences') ? 'itemActive':'' %>">证照管理</a>
    <a href="/page/customer/portal/complaints" class="<%= (curtTab === 'complaints') ? 'itemActive':'' %>">投诉电话</a>
</div>