<% include ../../header.ejs%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% var active = "ship_customer"; %>
        <% include ../_nav_head.ejs%>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page double-padding-bottom">

            <div class="container page-content">
                <div class="row space-top">
                    <div style="position: fixed;z-index: 110;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                    </div>
                    <div style="font-size: 14px;padding: 4px;display:none;width:700px;height:900px" id="selectGoods">
                        <div class="page-content space-top">
                            <section class="page-content-right">
                                <aside class="page-content-right-head">
                                    <label>添加发货</label>
                                </aside>
                                <div class="form" style="padding:30px">
                                    <div class="row" style="margin-top:10px">
                                        <span class="col-sm-3">批次号:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <input class="col-sm-9 inputBatchNum" type="text"  disabled/>
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                        <span class="col-sm-3">生产日期:</span>
                                        <input class="col-sm-9 time inputGoodsProduceDate" type="text" id="productDate" disabled/>
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                有效期至:
                                            </span>
                                        <input class="col-sm-9 time inputGoodsValidDate" type="text"  id="quanlityDate" disabled/>
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                数量:
                                            </span>
                                        <input class="col-sm-9 inputQuantity" type="text" disabled/>
                                    </div>
                                    <div class="row" style="margin-top:20px">
                                        <span class="col-sm-3">
                                                电子监管码:
                                        </span>
                                        <textarea class="col-sm-3 inputDrugESC" style="width:60%;height:100px;resize:none" disabled></textarea>
                                    </div>

                                    <div class="row" style="margin-top:20px">
                                        <div class="col-sm-3" style="display: inline">
                                            <span style="vertical-align: top;">质检报告(附件):</span>
                                        </div>
                                        <div class="col-sm-9" style="padding: 0">
                                            <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                                <div class="fileContainer">
                                                    <ul>
                                                    </ul>
                                                </div>
                                            </form>
                                            <span style="display: none">暂无质检报告信息</span>
                                        </div>
                                    </div>
                                    <div class=" pull-right">
                                        <a class="btn btn-primary closeIframeGuide">确定</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <!-- Sidebar-->
                    <% include ../_nav_customer_left.ejs%>
                    <!-- Sidebar CLose-->

                    <!--Catalog List-->

                    <%var commonDetail = shipDetails[0]%>

                    <section class="col-md-10 space-top space-bottom">
                        <div class="filterDiv">
                            <div class="filterHead">
                                <div>订单号：<%=commonDetail.displayOrderId %> - 已收货</div>
                            </div>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="goods-info"><strong>商品信息</strong></td>
                                    <td><strong>货号</strong></td>
                                    <td><strong>订单数量</strong></td>
                                    <td><strong>实收数量</strong></td>
                                    <td><strong>［批次］/数量</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <% var old_goodsId = -1%>
                                <% for(var i in shipDetails){%>
                                <% var shipinfo = shipDetails[i]%>
                                <% if(shipinfo.goodsId != old_goodsId){%>
                                <% var actualReceiveNum = 0%>
                                <% old_goodsId = shipinfo.goodsId%>
                                <tr>
                                    <td class="goods-info">
                                        <div class="goods-img">
                                            <img src="<%= shipinfo.imageUrl%>"/>
                                        </div>
                                        <div class="goods-name-info">
                                            <h6><a href="/goods/detail?goodsId=<%=shipinfo.goodsId%>"><%=shipinfo.commonName%><%if(shipinfo.alias){%>(<%=shipinfo.alias%>)<%}%></a></h6>
                                            <h6><%=shipinfo.producer%></h6>
                                            <h6><%=shipinfo.spec%></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <%=shipinfo.goodsNo%>
                                    </td>
                                    <% var actualShipNum = 0;%>
                                    <% for(var m in shipDetails){%>
                                    <% if(shipDetails[m].goodsId == old_goodsId){%>
                                    <% actualShipNum+= shipDetails[m].quantity%>
                                    <%}%>
                                    <%}%>
                                    <td>
                                        <%=actualShipNum%>
                                        <input type="hidden" class="maxReceivedNum_<%=shipinfo.goodsId%>"
                                               largePackNum="<%=shipinfo.largePackNum%>" largePackUnit="<%=shipinfo.measureUnit%>"
                                               middlePackNum="<%=shipinfo.middlePackNum%>" middlePackUnit="<%=shipinfo.measureUnit%>"
                                                >
                                    </td>
                                    <% for(var n in shipDetails){%>
                                    <% if(shipDetails[n].goodsId == old_goodsId){%>
                                    <% actualReceiveNum+= shipDetails[n].receivedQuantity%>
                                    <%}%>
                                    <%}%>
                                    <% var fontColor = (shipinfo.shippedQuantity == actualReceiveNum) ? "font-green" : "font-orange"%>
                                    <td  class="font-green  receivedQty_<%=shipinfo.goodsId%>"><%= actualReceiveNum%></td>
                                    <td>
                                        <% for(var j in shipDetails){%>
                                        <% var batchItem = shipDetails[j]%>
                                        <% if (batchItem.goodsId == shipinfo.goodsId){%>
                                        <div class="ship-operator">
                                            <div>
                                                [<span><%=batchItem.batchNum%></span>]/
                                                <span><%=batchItem.quantity%></span>
                                                <span><%=batchItem.measureUnit%></span>
                                            </div>
                                            <div>
                                                <a class="tooltipped" id="customerDisplayShipInfo_<%= shipinfo.goodsId%>_<%= batchItem.batchNum%>" title="查看" data-toggle="tooltip" data-placement="left"
                                                   batchNum="<%=batchItem.batchNum%>"
                                                   shipTotal="<%=shipinfo.shippedQuantity%>"
                                                   shipbatchqty="<%=batchItem.quantity%>"
                                                   batchQty="<%=batchItem.quantity%>"
                                                   produceDate="<%=batchItem.goodsProduceDate%>"
                                                   validDate="<%=batchItem.goodsValidDate%>"
                                                   drugESC="<%=batchItem.drugESC%>"
                                                   inspectReportURL="<%=batchItem.inspectReportURL%>">
                                                    <i class="fa fa-binoculars"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                    </td>
                                </tr>
                                <%}%>
                                <%}%>
                                <tr>
                                    <td colspan="6"  style="text-align: left;">
                                        <%if(true==commonDetail.hasReceipt){%>

                                        <div style="margin-left: 20px;">
                                            <span>发票信息 :</span>
                                            <span style="margin-left: 10px;">发票抬头:  <span><%= commonDetail.receiptTitle%></span></span>
                                        </div>
                                        <% } else{%>
                                        <div style="margin-left: 25px;">
                                            <span>发票信息 :</span>
                                            <span style="margin-left: 10px;"><span>不需要发票</span></span>
                                        </div>
                                        <% } %>
                                    </td>
                                </tr>



                                </tbody>
                            </table>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="goods-info"><strong>发货信息</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="goods-info">［开单日期］<%=commonDetail.orderTime%></td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［发货日期］<%=commonDetail.shipTime%></td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［物流信息］<%=commonDetail.logisticsNo%></td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［发货备注］<%=commonDetail.remark?commonDetail.remark:"无"%></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <!--Catalog List Close-->
                </div>
            </div>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../../_nav_bottom.ejs%>
</div>

<% include ../../footer.ejs %>
<script  type="text/javascript" src="/static/source/js/customer/ship.js"></script>