<% include ../../header.ejs%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% var active = "ship_customer"; %>
        <% include ../_nav_head.ejs%>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page double-padding-bottom">

            <div class="container page-content">
                <div class="row space-top">
                    <!-- Sidebar-->
                    <div style="position: fixed;z-index: 1005;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                    </div>
                    <div id="selectGoods" style="display:none;width:700px;height:900px">
                        <div style="font-size: 14px;padding: 4px;">
                            <div class="page-content space-top">
                                <section class="page-content-right">
                                    <aside class="page-content-right-head">
                                        <label>查看发货</label>
                                    </aside>
                                    <div class="form" style="padding:30px">
                                        <div class="row" style="margin-top:10px">
                                            <span class="col-sm-3">批次号:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <input class="col-sm-9 inputBatchNum"  disabled />
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">生产日期:</span>
                                            <input class="col-sm-9 cDatePicker  inputGoodsProduceDate" type="text" disabled/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                有效期至:
                                            </span>
                                            <input class="col-sm-9 cDatePicker  inputGoodsValidDate" type="text" disabled/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <span class="col-sm-3">
                                                数量:
                                            </span>
                                            <input class="col-sm-9 inputQuantity" type="text" disabled/>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: top;">电子监管码：</span>
                                            </div>
                                            <textarea name="" style="height:150px;resize:none" id="" class="inputDrugESC col-sm-9" disabled></textarea>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-sm-3" style="display: inline">
                                                <span style="vertical-align: top;">质检报告(附件):</span>
                                            </div>
                                            <div class="col-sm-9" style="padding: 0">
                                                <form class="form-signin" role="form" method="post" enctype='multipart/form-data' target="picture" style="display: none">
                                                    <div class="fileContainer">
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </form>
                                                <span style="display: none">暂无质检报告信息</span>
                                            </div>
                                        </div>
                                        <div class=" pull-right">
                                            <a class="btn btn-primary closeIframeGuide">关闭</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                    <% include ../_nav_customer_left.ejs%>
                    <!-- Sidebar CLose-->

                    <!--Catalog List-->

                    <%var commonDetail = shipDetails[0]%>
                    <section class="col-md-10 space-bottom">
                        <div class="filterDiv">
                            <div class="filterHead">
                                <div>订单号：<%=commonDetail.displayOrderId %> - 待收货</div>
                            </div>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="goods-info"><strong>商品信息</strong></td>
                                    <td><strong>货号</strong></td>
                                    <td><strong>订单数量</strong></td>
                                    <td><strong>发货数量</strong></td>
                                    <td><strong>［批次］/数量</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <% var old_goodsId = -1%>
                                <% for(var i in shipDetails){%>
                                <% var shipinfo = shipDetails[i]%>
                                <% if(shipinfo.goodsId != old_goodsId){%>
                                <% old_goodsId = shipinfo.goodsId%>
                                <tr>
                                    <td class="goods-info">
                                        <div class="goods-img">
                                            <img src="<%= shipinfo.imageUrl%>"/>
                                        </div>
                                        <div class="goods-name-info">
                                            <h6><a href="/goods/detail?goodsId=<%=shipinfo.goodsId%>"><%=shipinfo.commonName%><%if(shipinfo.alias){%>(<%=shipinfo.alias%>)<%}%></a></h6>
                                            <h6><%=shipinfo.producer%></h6>
                                            <h6><%=shipinfo.spec%></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <%=shipinfo.goodsNo%>
                                    </td>
                                    <td>
                                        <%=shipinfo.orderQuantity%>
                                    </td>
                                    <% var fontColor = (shipinfo.orderQuantity == shipinfo.shippedQuantitySum) ? "font-green" : "font-orange"%>
                                    <td class="<%= fontColor%>  receivedQty_<%=shipinfo.goodsId%>"><%= shipinfo.shippedQuantitySum%></td>
                                    <td>
                                        <% for(var j in shipDetails){%>
                                        <% var batchItem = shipDetails[j]%>
                                        <% if (batchItem.goodsId == shipinfo.goodsId){%>
                                        <div class="ship-operator">
                                            <div>
                                                [<span><%=batchItem.batchNum%></span>]/
                                                <span name="quantity"><%=batchItem.quantity%></span>
                                                <span><%=batchItem.measureUnit%></span>
                                            </div>
                                            <div>
                                                <a href="javascript:;" class="tooltipped" id="customerDisplayShipInfo_<%= shipinfo.goodsId%>_<%= batchItem.batchNum%>" title="查看" data-toggle="tooltip" data-placement="left"
                                                   batchNum="<%=batchItem.batchNum%>"
                                                   shipTotal="<%=shipinfo.shippedQuantitySum%>"
                                                   goodsId="<%=shipinfo.goodsId%>"
                                                   shipbatchqty="<%=batchItem.quantity%>"
                                                   batchQty="<%=batchItem.quantity%>"
                                                   produceDate="<%=batchItem.goodsProduceDate%>"
                                                   validDate="<%=batchItem.goodsValidDate%>"
                                                   drugESC="<%=batchItem.drugESC%>"
                                                   inspectReportURL="<%=batchItem.inspectReportURL%>">
                                                    <i class="fa fa-binoculars"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                    </td>
                                </tr>
                                <%}%>
                                <%}%>
                                <tr>
                                    <td colspan="6" class="goods-info">
                                        <%if(true==commonDetail.hasReceipt){%>
                                        <div>发票抬头:<span><%= commonDetail.receiptTitle%></span></div>
                                        <% } else{%>
                                        <div>不需要发票</div>
                                        <% } %>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td class="goods-info"><strong>发货信息</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="goods-info">［开单日期］<%=commonDetail.orderTime%></td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［发货日期］<%=commonDetail.shipTime%></td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［物流信息］<%=commonDetail.logisticsNo%></td>
                                </tr>
                                <tr>
                                    <td class="goods-info">［发货备注］<%=commonDetail.remark?commonDetail.remark:"无"%></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <!--Catalog List Close-->
                </div>
            </div>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../../_nav_bottom.ejs%>
</div>

<% include ../../footer.ejs %>
<script  type="text/javascript" src="/static/source/js/customer/ship.js"></script>