<% include ../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<div style="height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <% include ../_nav_head.ejs%>
            <!--Header Close-->
            <div class="page">
                <div class="container">
                    <div class="row space-top">
                        <!-- Sidebar-->
                        <% var active = "ship_customer"; %>
                        <% include ../_nav_customer_left.ejs%>
                        <!-- Sidebar CLose-->
                        <section class="col-md-10 pull-right space-bottom">
                            <div class="filterDivTab">
                                <div class="tabList">
                                    <a href="/customer/ship?type=receive"  class="<%= (data.type == "receive" ? "itemActive" : "")%>">待收货
                                        <% var hasCheckedNum= data["oppositeShipInfo"].length>0; %>
                                        <div style="<%= hasCheckedNum?"":'display:none' %>"><div class="checkListCircle"></div></div>
                                    </a>
                                    <a href="/customer/ship?type=received" class="<%= (data.type == "received" ? "itemActive" : "")%>">已收货</a>
                                </div>
                                <%
                                var paginator_keywordsValue = '';
                                if (typeof paginator != 'undefined') {
                                    if (typeof paginator.kv != 'undefined') {
                                        paginator_keywordsValue = (paginator.kv == "%") ? "" : paginator.kv;
                                    }
                                }
                                %>
                                <% var placeholder = "请输入发货单号/订单号/客户名称"%>
                                <% var paginatorData = {
                                    url : "ship?",
                                    kv : 'keywordsValueToBeReplaced',
                                    p : 1,
                                    paginator : paginator
                                };
                                %>
                                <form class="filterInputItem" style="width: 40%;">
                                    <input placeholder=<%= placeholder%> type="text" class="filterInput" value="<%= paginator_keywordsValue%>"/>
                                    <button type="submit" class="filterInputButton search_goods" data-url=<%= JSON.stringify(paginatorData)%>><i class="fa fa-search"></i></button>
                                </form>
                                <a class=" btn btn-primary tooltipped"  href="/customer/report/ships" title="导出全部发货信息" data-toggle="tooltip" data-placement="bottom" style="margin-left: 10px !important;"><i class="fa fa-floppy-o"></i></a>
                            </div>
                            <table class="sm-page-table">
                                <thead>
                                    <tr>
                                        <td><strong>发货单号</strong></td>
                                        <td><strong>订单号</strong></td>
                                        <td><strong>客户名</strong></td>
                                        <td><strong>发货时间</strong></td>
                                        <td><strong>笔数/数量/金额</strong></td>
                                        <td><strong>操作</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(ships.length > 0){%>
                                <% for(var i in ships) { %>
                                    <tr>
                                        <td>
                                            <a href="/customer/ship/detail?shipId=<%=ships[i].shipId%>">
                                                <%= ships[i].displayShipId %>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/customer/order/pending?orderId=<%=ships[i].orderId%>">
                                                <%= ships[i].displayOrderId %>
                                            </a>
                                        </td>
                                        <td><%= ships[i].clientName %></td>
                                        <td><%= ships[i].shipTime %></td>
                                        <td>
                                            <%= ships[i].countBatch %>
                                            /
                                            <%= ships[i].quantity %>
                                            /
                                            &#165;<%= ships[i].subtotal  %>
                                        </td>
                                        <td>
                                            <a href="/customer/ship/detail?shipId=<%=ships[i].shipId%>" class="tooltipped" data-toggle="tooltip" data-placement="left" title="查看"><i class="fa fa-binoculars"></i></a>
                                        </td>
                                    </tr>
                                <% } %>
                                <% } else {%>
                                <tr>
                                    <td colspan="6">
                                        <h4 class="blank-content">您目前还没有新的发货信息</h4>
                                    </td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                            <div class="space-top pull-right">
                                <% var url = "ship?";%>
                                <% include ../../_paginator.ejs%>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>
<script>
    $(function(){
        $('.datePicker').datetimepicker({
            timepicker: false,
            format:'Y-m-d'
        });

    });
</script>