<% include ../header.ejs%>
<link rel="stylesheet" href="/static/masterslider/skins/light-6/style.css"/>
<div style="position:relative;width:100%;height:100%;">
        <!--Off-Canvas Menu-->
        <!--Off-Canvas Menu Close-->
        <!--Layout-->
    <div class="site-layout">
            <!--Header Toolbar-->
            <% include ../_nav_top.ejs%>
            <!--Header Toolbar Close-->
            <!--Header-->
            <% include ../_nav_head.ejs%>
            <!--Header Close-->
            <!--Page Content--><!-- InstanceBeginEditable name="content" -->
            <div class="page page-content" style="margin-bottom: 60px;">
                <div style="position: fixed;z-index: 1006;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
                </div>
                <iframe src="/portal/purchaseList/list" scrolling="auto" style="width: 500px;height: 350px;background-color: transparent;position: fixed;z-index: 1006;display: none" allowTransparency="true" id="selectGoods">
                </iframe>
                <section class="container space-top">
                    <div class="row" style="margin-left: 0px;">
                        <!--Slider with Tumbnails-->
                        <!-- TODO -->
                        <div class="col-sm-5" style="border: 1px solid #eee;height:600px;text-align: -webkit-center;text-align: -moz-center;">
                            <!--<div class="sp-slider">-->
                                <!--<div id="spSlider">-->
                                    <!--<div class="ms-slide">-->
                                        <!--<img data-src="<%= data.goods.imageUrl%>"/>-->
                                        <!--<img class="ms-thumb" src="<%= data.goods.imageUrl%>"/>-->
                                    <!--</div>-->
                                    <!--<div class="ms-slide">-->
                                        <!--<img data-src="<%= data.goods.imageUrl%>"/>-->
                                        <!--<img class="ms-thumb" src="<%= data.goods.imageUrl%>"/>-->
                                    <!--</div>-->
                                    <!--<div class="ms-slide">-->
                                        <!--<img data-src="<%= data.goods.imageUrl%>"/>-->
                                        <!--<img class="ms-thumb" src="<%= data.goods.imageUrl%>"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <img src="<%= data.goods.imageUrl%>" style="height: inherit;">
                        </div>
                        <!--"Flow" Transition Slider-->
                        <div class="col-sm-7">
                            <div class="goods-detail col-sm-12">
                                <h4><%= data.goods.commonName%></h4>
                                <h5 class="text-gcolor">
                                    <span class="goodsDetailtitle">
                                    <% if (typeof(data._userInfo)!= "undefined"&&data._userInfo.operatorType==="CLIENT"){ %>
                                    供价:
                                    <% }else{ %>
                                    建议零售价:
                                    <% } %>
                                    </span>
                                    <span id="price" class="text-mcolor">
                                        <%if(typeof(data._userInfo)!="undefined"&&data._userInfo.operatorType=="CLIENT"){%>
                                        <% var _clientGoodsPrice=data.goods.clientGoodsPrice; %>
                                        <%if(_clientGoodsPrice!="undefined"&&_clientGoodsPrice!=null&&Number(_clientGoodsPrice)!=0){%>
                                        &yen;<text><%= Number(_clientGoodsPrice).toFixed(data.pointDigit.DEFAULT) %></text>
                                        <%}else{%>
                                        <text>暂无信息</text>
                                        <%}%>
                                        <%}else{%>
                                        <% var _refRetailPrice=data.goods.refRetailPrice; %>
                                        <%if(_refRetailPrice!="undefined"&&_refRetailPrice!=null&&Number(_refRetailPrice)!=0){%>
                                        &yen;<text><%= Number(_refRetailPrice).toFixed(data.pointDigit.DEFAULT) %></text>
                                        <%}else{%>
                                        <text>暂无信息</text>
                                        <%}%>
                                        <%}%>
                                    </span>
                                </h5>
                                <ul class="goods-space">
                                    <% if(data.goods.alias){%>
                                    <li><span>商品名称 :</span><span><%= data.goods.alias%></span></li>
                                    <% } %>
                                    <% if(data.goods.producer){%>
                                    <li><span>生产厂家 :</span><span><%= data.goods.producer%></span></li>
                                    <% } %>
                                    <% if(data.goods.birthPlace){%>
                                    <li><span>商品产地 :</span><span><%= data.goods.birthPlace%></span></li>
                                    <% } %>
                                    <% if(data.goods.supplier){%>
                                    <li><span>供应厂商 :</span><span><%= data.goods.supplier%></span></li>
                                    <% } %>
                                    <li><span>是否OTC:</span>
                                        <span>
                                        <% if(data.goods.isPrescriptionDrugs == 1){%>
                                            是
                                        <% } else {%>
                                            否
                                        <% }%></span>
                                    </li>
                                    <li><span>是否医保 :</span>
                                        <span>
                                            <% if(data.goods.isMedicalInsuranceDrugs == 1){%>
                                            是
                                            <% } else {%>
                                            否
                                            <% }%>
                                        </span>
                                    </li>
                                    <li><span>国家药品 :</span>
                                        <span>
                                            <% if(data.goods.isNationalMedicine == 1){%>
                                                是
                                            <% } else {%>
                                                否
                                            <% }%>
                                        </span>
                                    </li>
                                    <li><span>国家限价 :</span>
                                        <span>
                                            <% if(data.goods.limitedPrice){%>
                                                    &yen;<%= data.goods.limitedPrice.toFixed(4)%>
                                            <% } else {%>
                                                暂无信息
                                            <% }%>
                                        </span>
                                    </li>
                                    <li><span>商品剂型 :</span>
                                        <span>
                                            <% if(data.goods.drugsType){%>
                                                <%= data.goods.drugsType%>
                                            <% } else {%>
                                                暂无信息
                                            <% }%>
                                        </span>
                                    </li>
                                    <% if(data.goods.spec){%>
                                    <li><span>商品规格 :</span><span><%= data.goods.spec%></span></li>
                                    <% } %>
                                    <% if(data.goods.licenseNo){%>
                                    <li><span>批准文号 :</span><span><%= data.goods.licenseNo%></span></li>
                                    <% } %>
                                    <li><span>商品批号 :</span><span><%= data.goods.goodsBatchTime?data.goods.goodsBatchTime:"暂无信息"%></span></li>
                                    <!--<% if(data.goods.smallPackNum){%>-->
                                    <!--<li>小包装:<%= data.goods.smallPackNum%><%= data.goods.measureUnit || "暂无信息"%></li>-->
                                    <!--<% } else {%>-->
                                    <!--<li>小包装: 暂无包装信息%></li>-->
                                    <!--<% } %>-->
                                    <% var str = (data.goods.isSplit == "1") ? "" : "不可拆零" %>
                                    <% if(data.goods.middlePackNum){%>
                                    <li><span>批发包装 :</span><span><%= data.goods.middlePackNum%><%= data.goods.measureUnit || "无"%>/件</span><label class="text-mcolor"><%= str%></label></li>
                                    <% } else {%>
                                    <li><span>暂无信息%></span></li>
                                    <% } %>
                                    <li><span>商品货号 :</span><span><%= data.goods.goodsNo || "暂无信息"%></span></li>
                                    <li>
                                        <span>所属类别 :</span>
                                        <span>
                                        <% var goodsTypes = data.goods.goodsType%>
                                        <% for(var i=0; i<goodsTypes.length; i++){%>
                                            <%var fullname = goodsTypes[i].fullname.split(">")%>
                                                <% for(var j=0; j<fullname.length; j++){%>
                                                    <% var temperpId = fullname[j].split("{")%>
                                                    <% var paginatorData = {
                                                        url : "/goods?",
                                                        caf : "产品类别",
                                                        cav : typeof(temperpId[1])!='undefined'?temperpId[1]:goodsTypes[i].erpId,
                                                        kav : "",
                                                        kbv : "",
                                                        p : 1,
                                                        paginator : {}
                                                    };
                                                    %>
                                                    <a onclick="joinPaginator(<%= JSON.stringify(paginatorData)%>)" value="<%- temperpId[0] %>"><%= temperpId[0]%></a>
                                                    <% if(j != (fullname.length-1)){%>
                                                        <label for="">&#62;</label>
                                                    <% } %>
                                                <% } %>
                                                <label for=""></label><br/>
                                        <% } %>
                                        </span>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <div class="qnt-count qnt-count-res">
                                            <% var defaultNum = data.goods.isSplit == 1 ? 1 : data.goods.middlePackNum %>
                                            <div class="box-left">
                                                <input storage="<%= (data.goods.negSell == 1)?"-1":data.goods.storage %>" defaultNum="<%= defaultNum%>" isSplit = "<%=data.goods.isSplit %>" id="quantity_<%= data.goods.goodsId %>" type="text" value="<%= defaultNum %>">
                                            </div>
                                            <div class="box-right">
                                                <div>
                                                    <a class="fa fa-plus" defaultNum="<%= defaultNum%>" isSplit=<%= data.goods.isSplit%> pack="1" id="changeQuantity_<%= data.goods.goodsId %>" type="increase"></a>
                                                </div>
                                                <div>
                                                    <a class="fa fa-minus inactive" defaultNum="<%= defaultNum%>" isSplit=<%= data.goods.isSplit%> pack="1"   id="changeQuantity_<%= data.goods.goodsId %>" type="decrease"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% var isLogin = !(typeof(data._userInfo) === "undefined"); %>
                                    <%
                                        var isCUSTOMER=false;
                                        if(typeof(data._userInfo)!="undefined"&&data._userInfo.operatorType=="CUSTOMER"){
                                                isCUSTOMER=true;
                                        }
                                     %>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <a class="btn btn-primary" data-checkLogin="<%= isLogin%>" <%= isCUSTOMER?"disabled":null %> goodsId="<%= data.goods.id %>"  id="addToCartOnDetail" style="padding: 10px !important;">加入购物车</a>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <a class="btn btn-primary btn-outlined btnAddAddress addList" data-checkLogin="<%= isLogin%>" <%= isCUSTOMER?"disabled":null %> goodsId="<%= data.goods.id %>" style="padding: 10px !important;">加入常购清单</a>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="text-gcolor">库存:
                                        <span id="storage">
                                            <% if(data.goods.storage){%>
                                            <%= data.goods.storage%>
                                            <% } else {%>
                                            暂无
                                            <% } %>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container space-top page-content-right">
                    <section class="col-sm-12">
                        <table class="address-table table">
                            <thead>
                            <tr>
                                <td>详细信息</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                               <%- data.goods.goodsDetails%>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </section>
            </div>
            <!--Page Content Close-->
        </div>
    <% include ../_nav_bottom.ejs%>
</div>
<% include ../footer.ejs %>
<script src="/static/source/js/getGoodsDetail.js"></script>